input:not([type=range]) {
    touch-action: manipulation;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

@import "./text-input";
@import "./content-editable-input";