.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: $text-xsm;
    line-height: 1;
    color: $dark;
    background-color: $white;
    background-image: none;
    background-clip: padding-box;
    border: 2px solid $gray;
    line-height: 1.5rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    @media screen and (max-width:$sm-size) {
        font-size: $text-xxsm;
    }

    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .editor--text-input {
        min-height: unset !important;
    }

    &:focus,
    &:focus-within {
        border-color: $dark !important;
        box-shadow: none;
    }

    &::-webkit-input-placeholder {
        color: $gray-medium-dark;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: $gray-medium-dark;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $gray-medium-dark;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        color: $gray-medium-dark;
        opacity: 1;
    }

    &::placeholder {
        color: $gray-medium-dark;
        opacity: 1;
    }

    &:disabled {
        &::-webkit-input-placeholder {
            color: $gray;
        }

        &::-moz-placeholder {
            color: $gray;
        }

        &:-ms-input-placeholder {
            color: $gray;
        }

        &::-ms-input-placeholder {
            color: $gray;
        }

        &::placeholder {
            color: $gray;
        }

        color: $gray;
        opacity: 0.4;
    }


    &.transparent {
        background: transparent;
        border: none;
    }


    &.fill {
        background: $gray-light;
        border: none;

        &::-webkit-input-placeholder {
            color: $gray-medium-dark;
        }

        &::-moz-placeholder {
            color: $gray-medium-dark;
        }

        &:-ms-input-placeholder {
            color: $gray-medium-dark;
        }

        &::-ms-input-placeholder {
            color: $gray-medium-dark;
        }

        &::placeholder {
            color: $gray-medium-dark;
        }

        &:disabled {
            opacity: 0.5;
        }

        &-light {
            border: none;
            background: $gray-bg;
        }
    }

    &.sm-input {
        padding: 0.625rem 1rem;
    }

    &.xsm-input {
        padding: 0.5rem 1rem;
    }

    &.lg-input {
        padding: 0.875rem 1rem;
    }


    &.error {
        border: 2px solid $red;
    }

    &.rounded {
        border-radius: 12px;
    }

    &.border-bottom-input {
        border: none;
        border-bottom: 2px solid $gray;
    }

}