$md-checkbox-checked-color: $dark;
$md-checkbox-border-color: $gray-300;
$md-checkbox-border-color-disabled: $gray-300;
$md-checkbox-checked-color-disabled: $light;

$md-checkbox-margin: 0.75rem 0;
$md-checkbox-size: 1rem;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 0.25rem;
$md-checkmark-width: 0.125em;
$md-checkbox-label-padding: .75em;

.md-checkbox {
    position: relative;
    margin: $md-checkbox-margin;
    text-align: $start;
    height: 1rem;

    &.md-checkbox-inline {
        display: inline-block;
    }

    label {
        cursor: pointer;
        display: inline;
        line-height: $md-checkbox-size;
        vertical-align: top;
        clear: both;
        padding-#{$start}: 1px;
        color: $gray-500;
        font-size: 0.875rem;
        margin-bottom: 0;

        &:not(:empty) {
            padding-#{$start}: $md-checkbox-label-padding;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            #{$start}: 0;
            top: 0;
        }

        &:before {
            // box
            width: $md-checkbox-size;
            height: $md-checkbox-size;
            background: #fff;
            border: $md-checkbox-border-width solid $md-checkbox-border-color;
            border-radius: $md-checkbox-border-radius;
            cursor: pointer;
            transition: all .3s;
        }
    }


    &.light {

        input[type="checkbox"],
        input[type="radio"] {
            &:checked {
                +label:before {
                    background: $md-checkbox-checked-color;
                    border: 2px solid #E0E0E0;
                }
            }
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        outline: 0;
        visibility: hidden;
        width: $md-checkbox-size;
        margin: 0;
        display: block;
        float: $start;
        font-size: inherit;


        &:checked {
            +label:before {
                background: $md-checkbox-checked-color;
                border: 2px solid #E0E0E0;
            }
        }

        &:disabled {
            +label:before {
                border-color: $md-checkbox-border-color-disabled;
            }

            &:checked {
                +label:before {
                    background: $md-checkbox-checked-color-disabled;
                }
            }
        }
    }

}