.material-textfield {
    position: relative;
    display: flex;

    .icon-end {
        position: absolute;
        #{$end}: 4px;
    }

    label {
        position: absolute;
        font-size: 14px;
        #{$start}: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: $gray-500;
        padding: 0;
        margin: 0 16px;
        transition: .1s ease-out;
        transform-origin: $start top;
        pointer-events: none;
        white-space: nowrap;
    }

    .input {
        font-size: 16px;
        outline: none;
        border: 2px solid #C8C8C8;
        border-radius: 0;
        padding: 15px 16px;
        color: $text-color;
        transition: 0.1s ease-out;
        height: 52px;

    }

    .input:focus {
        border-color: $black;
    }

    .input:focus+label {
        color: $black;
        top: 0;
        padding: 0 4px;
        margin: 0 8px;
        font-size: 10px;
        transform: translateY(-50%);
    }

    .input:not(:placeholder-shown):not(div)+label {
        top: 0;
        padding: 0 4px;
        margin: 0 8px;
        font-size: 10px;
        transform: translateY(-50%);
    }
}

.material--transparent {
    label {
        background-color: transparent;
    }

    .input {
        border: none;
        border-bottom: 2px solid #E0E0E0;
        background-color: transparent;
    }
}


.material--md {
    .input {
        padding: 13px 16px;
        height: 48px;

        @media screen and (max-width: $sm-size) {
            padding: 7px 8px;
        }
    }
}

.material--sm {
    .input {
        padding: 11px 16px;
        height: 2.75rem;

        @media screen and (max-width: $sm-size) {
            padding: 6px 8px;
        }
    }
}

.material--xsm {
    .input {
        padding: 9px 16px;
        height: 40px;

        @media screen and (max-width: $sm-size) {
            padding: 5px 8px;
        }
    }

    div.input {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        min-height: 40px;
    }
}

.material-textarea {
    &.active {
        label {
            top: 0;
            padding: 0 0.25rem;
            margin: 0 0.5rem;
            font-size: 10px;
            transform: translateY(-50%);
        }
    }

    .input {
        height: auto;
    }

    label {
        margin: 0 1rem;
    }
}



.material-input-group-btn {
    display: flex;
    align-items: flex-end;
    position: relative;
    min-height: 40px;

    .material-textfield {
        width: calc(100% - 12px);
        height: 100%;

        .input {
            padding-#{$end}: 90px;
        }
    }

    .end-content {
        position: absolute;
        #{$end}: 0;
        bottom: 0;
        height: 2.75rem;
        display: flex;
        align-items: center;

        .btn {
            font-size: 14px;
            border: none;
            background: transparent;
            color: $dark;

            &:disabled {
                color: $light;
            }
        }

    }

}