.material-textfield {
    position: relative;


    label {
        position: absolute;
        font-size: 1rem;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: #C8C8C8;
        padding: 0 0.3rem;
        margin: 0 0.5rem;
        transition: .1s ease-out;
        transform-origin: right top;
        pointer-events: none;
        white-space: nowrap;
    }

    .input {
        font-size: 1rem;
        outline: none;
        border: 2px solid #C8C8C8;
        border-radius: 0;
        padding: 1rem 0.7rem;
        color: $text-color;
        transition: 0.1s ease-out;
    }

    .input:focus {
        border-color: $black;
    }

    .input:focus+label {
        color:$black;
        top: 0;
        transform: translateY(-50%) scale(.9);
    }

    .input:not(:placeholder-shown)+label {
        top: 0;
        transform: translateY(-50%) scale(.9);
    }
}
.material--transparent{
    label {
        background-color: transparent;
    }

    .input {
        border: none;
        border-bottom: 1px solid #C8C8C8;
        background-color: transparent;
    }
}
.material--sm{
    label {
        margin: 0 0.25rem;
    }

    .input {
        font-size: 14px;
        padding: 0.5rem 0.35rem;
    }

}
.material-textarea > label {
    top: 10%;
}
