.chat-container {
    min-height: calc(100vh - 236px);
    max-height: calc(100vh - 236px);
    background: #FFF;
    width: 100%;
    margin: 32px 0px;
    border: 2px solid $border-color;
    display: flex;
    flex-wrap: wrap;

    .chats-list {
        flex: 25%;
        width: 25%;
        display: flex;
        flex-direction: column;

        .chat-list-header {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            padding: 12px 20px;
        }

        .chats {
            overflow: auto;
            flex: 1 1 auto;
            max-height: calc(100vh - 299px);
            @extend .nice-scroll;

            .chat-item {
                display: flex;
                justify-content: space-between;
                padding: 12px 20px;
                cursor: pointer;

                .chat-info {
                    display: flex;

                    .profile-image {
                        width: 44px;
                        height: 44px;
                        margin-left: 16px;
                        margin-bottom: 0;

                        img {
                            width: 44px;
                            height: 44px;
                            border-radius: 50%;
                        }
                    }

                    .profile-name {
                        color: $dark;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 22px;
                        margin-bottom: 4px;
                    }

                    .last-message {
                        font-size: 14px;
                        line-height: 21px;
                        color: $grey;
                    }

                }

                .update-time {
                    font-size: 12px;
                    line-height: 18px;
                    color: $grey;
                }

                &:hover,
                &.active {
                    background: $body-bg;
                }
            }

        }
    }

    .conversation-container {
        flex: 75%;
        width: 75%;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05);

        .conversation-messages {
            flex: 1 1 auto;
        }

        >.conversation-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 12px 16px;

            >.pageinfo {
                display: flex;
                align-items: center;

                strong {
                    color: $text-color;
                }

                small {
                    color: $grey;
                }
            }

        }

        >.conversation-footer {
            color: $grey;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
            width: 100%;
            padding: 12px 20px;

            input {
                color: $text-color;
            }
        }
    }
}

.recoording-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #C7FEDC;
    border-radius: 8px;
}

.recording-timer {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: center;
    direction: ltr;

    label {
        margin: 0;
    }
}

.voice-preview {
    align-items: center;
    display: flex;
    line-height: 1;
    gap: 5px;

    >span {
        font-size: 12px;
        color: $action;
    }

    .progress {
        width: 100%;
        position: relative;
        direction: ltr;
        height: 8px;
        display: flex;
        align-items: center;
        background: transparent;
        flex-direction: row;

        .progress-bg {
            position: absolute;
            left: 0;
            right: 0;
            background: #CDEAF9;
            width: 100%;
            height: 5px;
        }

        .progress-fill {
            background: $action;
            position: relative;
            transition: 0.3s all;
            display: flex;
            align-items: center;
            height: 5px;

            &::after {
                content: " ";
                position: absolute;
                background: $action;
                right: 0;
                border-radius: 3px;
                width: 4px;
                height: 8px;
            }
        }
    }
}

.save-recording {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #C7FEDC;
    box-sizing: border-box;
    border-radius: 8px;
    color: $success;
}
