.chat-container {
    min-height: calc(100vh - 236px);
    max-height: calc(100vh - 236px);
    background: #FFF;
    width: 100%;
    margin: 32px 0px;
    box-shadow: $card-shadow;
    display: flex;
    flex-wrap: wrap;

    .chats-list {
        flex: 25%;
        width: 25%;

        .chats {
            max-height: calc(100vh - 299px);
        }
    }

    .conversation-container {
        flex: 75%;
        width: 75%;
        max-height: calc(100vh - 236px);

        .conversation-messages {
            flex: 1 1 auto;
            max-height: calc(100% - 60px);
        }
    }
}


.chats-list {
    display: flex;
    flex-direction: column;

    .chat-list-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 12px 20px;
    }

    .chats {
        overflow: auto;
        @extend .nice-scroll;

        .unread-badge {
            background: $action;
            padding: map-get($spacings, 1);
            padding-top: 7px;
            border-radius: 4px;
            color: $white;
            height: 20px;
            width: 20px;
            font-size: 10px;
            line-height: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            &.muted {
                background: $light;
            }
        }

    }
}

.chat-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    cursor: pointer;

    .chat-info {
        display: flex;

        .profile-image {
            width: 44px;
            height: 44px;
            margin-left: 16px;
            margin-bottom: 0;

            img {
                width: 44px;
                height: 44px;
                border-radius: 50%;
            }
        }

        .profile-name {
            color: $dark;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 4px;
        }

        .last-message {
            font-size: 14px;
            line-height: 21px;
            color: $grey;
        }

    }

    .update-time {
        font-size: 12px;
        line-height: 18px;
        color: $grey;
    }

    &:hover,
    &.active {
        background: $body-bg;
    }
}

.conversation-container {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05);
    overflow: hidden;


    >.conversation-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 12px 16px;
        box-shadow: $card-shadow;
        z-index: 1;

        >.pageinfo {
            display: flex;
            align-items: center;

            strong {
                color: $text-color;
            }

            small {
                color: $grey;
            }
        }

    }

    .conversation-chat-container {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        max-height: calc(100% - 70px);

        .loadingMessages {
            position: absolute;
            top: 16px;
            align-self: center;
        }

        >.conversation-messages {
            width: 100%;
            flex: 1 1 auto;
            max-height: calc(100% - 70px);
        }

        >.conversation-footer {
            color: $grey;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
            width: 100%;
            padding: 12px 20px;

            input {
                color: $text-color;
            }
        }
    }
}

.file-message {
    display: flex;
    align-items: center;

    .file-type {
        min-width: 48px;
        min-height: 48px;
        width: 48px;
        height: 48px;
        background: $fixed-elements;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12px;
    }

    .file-detail {
        display: flex;
        flex-direction: column;

        .file-name {
            display: flex;
            align-items: center;

            strong {
                margin-left: 12px;
            }
        }
    }
}

.recoording-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #C7FEDC;
    border-radius: 8px;
}

.recording-timer {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: center;
    direction: ltr;

    label {
        margin: 0;
    }
}

.voice-preview {
    align-items: center;
    display: flex;
    line-height: 1;
    gap: 5px;

    >i {
        color: $action;
    }

    >span {
        font-size: 12px;
        color: $action;
    }

    .progress {
        width: 100%;
        position: relative;
        direction: ltr;
        height: 8px;
        display: flex;
        align-items: center;
        background: transparent;
        flex-direction: row;

        .progress-bg {
            position: absolute;
            left: 0;
            right: 0;
            background: #CDEAF9;
            width: 100%;
            height: 5px;
        }

        .progress-fill {
            background: $action;
            position: relative;
            transition: 0.3s all;
            display: flex;
            align-items: center;
            height: 5px;

            &::after {
                content: " ";
                position: absolute;
                background: $action;
                right: 0;
                border-radius: 3px;
                width: 4px;
                height: 8px;
            }
        }
    }

    &.received {
        >i {
            color: $text-color;
        }

        >span {
            font-size: 12px;
            color: $grey;
        }

        .progress {
            .progress-bg {
                background: #E0E0E0;
            }

            .progress-fill {
                background: $dark;

                &::after {
                    background: $text-color;
                }
            }
        }
    }

}

.save-recording {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #C7FEDC;
    box-sizing: border-box;
    border-radius: 8px;
    color: $success;
}

.chat-message {
    display: flex;

    strong {
        color: $dark;
    }

    color: $grey;
}


.message-column {
    display: flex;
    margin-top: 12px;

    &:first-child {
        margin-bottom: 12px;
    }

    .message-container {
        display: flex;
        max-width: 50%;

        .message-time {
            color: $light;
            height: 16px;
        }

        .message-loading {
            width: 16px;
            height: 16px;
        }

        .message-time,
        .message-loading {
            margin-right: 12px;
        }

        strong {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        figure.profile-xsm {
            margin-bottom: 0;
            margin-left: 12px;
        }

        .voice-message {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 12px;
            background: #E7F3FF;
            width: 260px;

            .voice-preview {
                width: 100%;

                >span {
                    margin-top: 3px;
                }
            }
        }

        &.send-error {
            .reload-btn {
                color: $action;
                margin-right: -32px;
                max-height: 44px;
                display: flex;
                align-items: center;
                margin-left: 8px;
                cursor: pointer;
            }


            .voice-message {
                background-color: #f8d0cd;
            }
        }


        .text-message-head {
            display: flex;
            align-items: center;
        }

    }

    &.received {
        justify-content: flex-end;

        .voice-message {
            background: $fixed-elements;
        }

        .message-container {
            flex-direction: row-reverse;

            figure.profile-xsm {
                margin-bottom: 0;
                margin-right: 12px;
                margin-left: 0;

                .reload-btn {
                    margin-left: -32px;
                    max-height: 44px;
                    display: flex;
                    align-items: center;
                    margin-right: 8px;
                    cursor: pointer;
                }
            }

            .text-message-head {
                flex-direction: row-reverse;
            }

            .message-time,
            .message-loading {
                margin-left: 12px;
                margin-right: 0;
            }

        }
    }



}


.file-send-preview {
    display: flex;
    flex-direction: column;
    padding: 12px;

    .file-detail {
        display: flex;
        align-items: center;

        .file-icon {
            background: #E7F3FF;
            color: $action;
            border-radius: 14px;
            height: 40px;
            width: 40px;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 12px;
        }
    }

    .caption {
        margin: 16px 0;
    }

    .actions {
        justify-content: flex-end;
    }

}

.messages-list {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    max-height: 100%;
    height: 100%;
    padding: 0 48px;
    scroll-behavior: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    @extend .nice-scroll;
}


.received {
    .media-message {
        background: $fixed-elements;
    }
}

.media-message {
    background: #E7F3FF;

    padding: map-get($spacings, 1);
    border-radius: 4px;

    img {
        height: 300px;
        width: 300px;
        min-width: 300px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        cursor: pointer;
    }

    video {
        height: 300px;
        max-width: 300px;
    }

    .caption {
        background: none;
        margin: 0;
        unicode-bidi: -moz-plaintext;
        unicode-bidi: plaintext;
        padding: 12px;
        text-align: start;
        word-break: break-word;
    }

}

.no-chat-selected {
    margin-top: 12px;
}

.ternobo-vide-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::after {
        position: absolute;
        content: "play_circle_outline";
        font-family: 'Material Icons';
        width: 36px;
        height: 36px;
        font-size: 36px;
        color: $white;
    }
}

.search-part {
    padding: 12px;
    background: $body-bg;
    color: $grey;
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
}

.contact-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $fixed-elements;
    padding: 8px 12px;

    .contactinfo {
        display: flex;
        margin-left: 40px;
    }

    figure.profile {
        margin-bottom: 0;
        margin-left: 12px;
    }

    .profile,
    .profile img {
        max-width: 36px;
        max-height: 36px;
        min-width: 36px;
        min-height: 36px;
        border-radius: 12px;
    }

    strong {
        color: $text-color;
        font-weight: 600;
        font-size: 12px;
        line-height: 19px;
    }

    .subtitle {
        font-size: 10px;
        line-height: 15px;
        text-align: right;
        color: $grey;
    }

    i.showprofile {
        color: $grey;
    }


}

.connections-list {
    max-height: 450px;
    overflow: auto;
    @extend .nice-scroll;
}

.media-viewer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .document-list {
        padding: 12px;
    }

    .media-list {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        padding: 12px;
        gap: 12px;

        img,
        video {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 300px;
        }

        .media {
            box-shadow: $card-shadow;
        }

        &.loading {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .filters {
        display: flex;
        align-items: center;
        padding: 16px 12px;

        .filter {
            margin-left: 12px;
            background: $body-bg;
            padding: 4px 8px;
            border-radius: 10px;
            color: $grey;

            &.active {
                color: $dark;
            }

            i {
                color: $grey;
            }
        }
    }
}

.message-show-more {
    max-height: 300px;
}

.link-item {
    direction: ltr;
    text-align: left;
    padding-left: 16px;
}
