.invite-links-header {
    margin-bottom: 40px;
}

.invite-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >.invite {
        padding: 12px 10px;
        width: 100%;
        max-width: 33.3333333%;

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and(max-width: $sm-size) {
            max-width: 50%;
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        >*:not(:last-child) {
            margin-bottom: 12px;
        }

        .invite-icon {
            font-size: 40px;
            color: $action;
            transform: rotate(-15deg);
        }

        &.disabled {
            .invite-icon {
                color: $icons;
            }
        }

    }

    .used_by_user_info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 12px;
            font-weight: 600;
            color: $dark;
        }

        figure {
            margin-bottom: 16px;
        }
    }

    margin-bottom: 40px;
}

.invite-description {
    font-size: 14px;
    line-height: 2;

    ul {
        list-style: none;
        padding-right: 0;

        li::before {
            content: " ";
            background: $icons;
            font-size: 24px;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 8px;
            border-radius: 50%;

        }
    }
}