.page-cover {
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-img-top {
    max-width: 1920px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pageinfo-card {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 0;

    @media screen and (max-width: $sm-size) {
        justify-content: center;
    }

    .btn-edit {
        position: absolute;
        right: 16px;
        top: 14px;
        height: 24px;
        width: 24px;
    }
}

.page-name {
    display: flex;
    flex-direction: column;
    padding: 16px;

    @media screen and (max-width: $sm-size) {
        padding-top: 8px;
        align-items: center;
    }

    .follow-buttons {
        margin-top: 10px;
    }

    .user-fullname {
        font-weight: 600;
        font-size: 20px;

        @media screen and (max-width: $sm-size) {
            font-size: 14px;
        }
    }

    .user--short-bio {
        font-size: 14px;

        @media screen and (max-width: $sm-size) {
            font-size: 12px;
        }
    }

    .user-location {
        font-size: 14px;

        @media screen and (max-width: $sm-size) {
            font-size: 12px;
        }

        i {
            font-size: 16px;
        }
    }
}

.profile-box {
    margin-top: -104px;
    position: relative;
    background: #FFF;

    @media screen and (max-width: $sm-size) {
        margin-top: -64px;
    }

    >i {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        border-radius: 50%;
        background: rgba($color: #191919, $alpha: 0.5);
        opacity: 0;
        transition: 0.3s all;

        @media screen and (max-width: $sm-size) {
            opacity: 1;
            height: 24px;
            bottom: 6px;
            width: 24px;
            top: unset;
            right: 31px;
            font-size: 16px;
            background: #191919;
            border-radius: 8px;
        }



    }

    >figure {
        transition: 0.3s all;

        img {
            border: 5px solid #FFF;
        }

    }

    &:hover {
        >figure {
            -webkit-filter: blur(2px);
            filter: blur(2px);
        }

        >i {
            opacity: 1;
        }
    }
}

.content-container-profile {
    @media screen and (max-width: $sm-size) {
        .tabs.compact {
            position: -webkit-sticky;
            position: sticky;
            top: 69px;
            z-index: 90;
            background: #F5F5F5;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            padding: 5px 0;
            padding-top: 8px;

            ul {
                margin-bottom: 0;
            }
        }
    }
}

.profile-action-filter {
    margin-top: 8px;
}

.profile-posts {
    margin-top: 16px;

    @media screen and (max-width: $sm-size) {
        margin-top: 8px;

    }
}

.profile-filters {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;

    .filter-item {
        background: #FFF;
        box-shadow: $card-shadow;
        padding: 4px 8px;
        color: $grey;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 8px;

        @media screen and (max-width: $sm-size) {
            font-size: 10px;
            font-weight: 600;
        }
    }

    gap: 8px;

}

.mobile-filters-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 111px;
    z-index: 99;
}
