.explore-page {
    margin-top: 64px !important;

    .explore-page-header {
        &__categories {
            max-height: 1440px;
            display: flex;
            overflow-x: auto;
            margin: 0 -1rem;
            padding: 3.25rem 0;
            margin-top: -3.25rem;
            @include hidden-scroll;

            &:not(.moving) {
                >div {
                    cursor: pointer;
                }
            }

            >div {
                min-width: 245px;
                height: 66px;
                white-space: normal;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #FFFFFF;
                margin: 0px 1rem;
                padding: 1rem 1.5rem;
                font-weight: 700;
                font-size: 20px;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                color: $dark;
                transition: box-shadow 0.3s;

                &:hover {
                    box-shadow: $bg-shadow;
                }

                &.active {
                    background: $dark;
                    color: $white;

                }
            }
        }
    }

    .explore-page-content {
        margin-bottom: 3.25rem;
    }

}