.pinned-badge {
    background-color: rgba($color: $blue-cta, $alpha: 0.2);
    color: $gray-500;
    font-size: 12px;
    border-radius: 14px;
    padding: 4px 8px;

    i {
        font-size: 18px;
        color: $blue-cta;
        transform: rotate(-45deg);
    }

}

.feedback-replies {
    overflow: auto;
    margin-bottom: -16px;
    @extend .nice-scroll;
}

.feedback-item {
    margin-bottom: 1.5rem;
}


.feedback-replies {
    border-radius: 1px solid $gray-500;

    >.sendfeedback {
        margin: 8px 0;
    }

    .replies {
        border-#{$start}: 2px solid $gray-500;
        padding-#{$start}: 16px;
    }

    .reply-to-container {
        margin-bottom: 8px;

        i {
            color: $light;
            margin-#{$end}: 4px;
        }

        color: $gray-500;
    }
}


.feedback-replies {
    .list {
        padding: 8px;
        overflow-y: auto;
    }

    .replies {
        border-#{$start}: 2px solid $gray-500;
        padding-#{$start}: 16px;
    }

    >.sendfeedback {
        margin-bottom: 2rem;
    }

    .sendfeedback {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .input-container {
            display: flex;
            width: 100%;
            align-items: flex-start;
            padding: 16px 0;

            .material-input-group-btn {
                width: calc(100% - 58px);
            }
        }
    }

    .list {
        .feedback {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 1.5rem;
        }

    }
}