.pinned-badge {
    background-color: rgba($color: $action, $alpha: 0.2);
    color: $grey;
    font-size: 12px;
    border-radius: 14px;
    padding: 4px 8px;

    i {
        font-size: 18px;
        color: $action;
        transform: rotate(-45deg);
    }

}

.feedback-replies {
    overflow: auto;
    margin-bottom: -16px;
    @extend .nice-scroll;
}

.feedback-item {
    margin-bottom: 24px;
}


.feedback-replies {
    border-radius: 1px solid $sub-heading;

    >.sendfeedback {
        margin: 8px 0;
    }

    .replies {
        border-right: 2px solid $grey;
        padding-right: 16px;
    }

    .reply-to-container {
        margin-bottom: 8px;

        i {
            color: $icons;
            margin-left: 4px;
        }

        color: $grey;
    }
}


.feedback-replies {
    .list {
        padding: 8px;
        overflow-y: auto;
    }

    .replies {
        border-right: 2px solid $grey;
        padding-right: 16px;
    }

    >.sendfeedback {
        margin-bottom: 32px;
    }

    .sendfeedback {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .input-container {
            display: flex;
            width: 100%;
            align-items: flex-start;
            padding: 16px 0;
        }
    }

    .list {
        .feedback {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 24px;
        }

    }
}