.postslide-enter-active {
    transition-duration: 0.8s;
    transition-timing-function: linear;
}

.postslide-leave-active {
    transition-duration: 0.8s;
    transition-timing-function: linear;
}

.postslide-enter-to,
.postslide-leave {
    max-height: 1000px;
    will-change: max-height;
}

.postslide-enter,
.postslide-leave-to {
    // overflow: hidden;
    max-height: 40px;
}