.poll-block-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .poll-not-setuped {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: $gray-bg;
        border: 2px dashed $gray;
        min-height: 216px;
        width: 100%;
    }

    .edit-poll {
        position: absolute;
        top: 0;
        #{$end}: 0;
        border-radius: 8px;
    }

}