.comments {
    max-height: 700px;
    overflow: auto;
    margin-bottom: -16px;
    @extend .nice-scroll;
}


.comment-replies {
    border-radius: 1px solid $sub-heading;

    >.sendcomment {
        margin: 2rem 0;
    }

    .replies {
        border-right: 2px solid $gray-400;
        padding-right: 1.25rem;
    }

    .reply-to-container {
        margin-bottom: 0.5rem;
        font-size: 0.75rem;

        i {
            color: $gray-400;
            margin-left: 0.25rem;
        }

        color: $grey;
    }
}


.comments {
    .list::-webkit-scrollbar {
        width: 0.3em;
        background: #DEDEDE;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: $dark;
        outline: 1px solid slategrey;
    }

    .list {
        max-height: 800px;
        padding: 8px;
        overflow-y: auto;
    }

    >.sendcomment {
        margin-bottom: 2rem;
    }

    .sendcomment {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .input-container {
            display: flex;
            width: 100%;
            align-items: flex-start;
            padding: 1rem 0;

            .material-input-group-btn {
                width: calc(100% - 58px);

                .input {
                    padding-left: 112px;
                }

                .emoji-container>i {
                    font-size: 1.25rem;
                }
            }
        }
    }

    .list {
        .comment {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 1.5rem;
        }

    }
}