.comments {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-color: $dark $light;
    scrollbar-width: thin;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0.3em;
        background: #DEDEDE;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $dark;
    }
}


.comment-replies {
    border-radius: 1px solid $sub-heading;
}


.comments {
    .list::-webkit-scrollbar {
        width: 0.3em;
        background: #DEDEDE;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: $dark;
        outline: 1px solid slategrey;
    }

    .list {
        max-height: 800px;
        padding: 0.5rem;
        overflow-y: auto;
    }

    .sendcomment {
        div {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        textarea {
            border: 2px solid $light;
            width: 100%;
            height: 52px;
            resize: none;
            padding: 0.5rem;
        }

        .comment-profile {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            margin-left: 0.9rem;
        }
    }

    .list {
        .comment {
            display: flex;
            justify-content: flex-start;
            @extend .mt-3;
        }

    }
}
