.comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    justify-content: flex-start;
    background: $body-bg;
    color: $text-color;
    padding: 1.5rem;

    .comment-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;



        .donate-badge {
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            height: 24px;

            box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.03);
            border-radius: 4px;

            margin-left: 1rem;

            background: $white;
            color: $green;
            padding: 0.25rem;
            font-size: 10px;
            font-weight: bold;
            letter-spacing: 0.75px;
            border-radius: 4px;

            >i {
                margin-left: 4px;
                color: $green;
                font-size: 16px;
            }
        }

        .pagedetail {
            margin-right: 1rem;
            display: flex;
            flex-direction: column;

            .name {
                color: $dark;
                font-weight: 600;
                font-size: 0.875rem;
            }

            .short-bio {
                font-size: 0.625rem;
                color: $grey;
            }
        }

        .comment-time {
            margin-left: 0.75rem;
            color: $grey;
            font-size: 0.625rem;
        }
    }

    .comment-body {
        padding: 0.25rem;
        width: 100%;
        line-height: 24px;
        text-align: start;
        flex: 1 1 auto;
        color: $text-color;
        font-size: 0.875rem;
    }

    .comment-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $grey;
        margin-top: 16px;

        .likes {
            font-size: 0.75rem;
            color: $grey;
            white-space: nowrap;

            .profile-text {
                color: $text-color;
                font-weight: 600;
            }
        }

        .replies-text {
            color: $grey;
            font-weight: 600;
            font-size: 0.75rem;
        }

        >.like-btn {
            color: $dark;
            margin-right: 16px;
        }
    }

}

.comment-item {
    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }
}