.editimage-modal-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s all;

    >.image-container {
        overflow: hidden;
        height: 100%;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;

        img {
            transition: 0.2s all;
        }
    }

    >.controls {
        position: absolute;
        #{$start}: -80px;
        top: 0;
        display: flex;
        flex-direction: column;

        .btn:first-child {
            margin-bottom: 1rem;
        }
    }

    .ternoboeditor--link-input {
        position: absolute;
        #{$start}: -1.25rem;
        top: 28px;
        box-shadow: $bg-hover-shadow;

    }

}