[data-type="emoji"] {
    display: inline-block;

    >img {
        max-width: 20px;
        vertical-align: middle;
        -webkit-user-select: all;
           -moz-user-select: all;
            -ms-user-select: all;
                user-select: all;
    }
}