.spoiler-preview {
    background: $blue-light;
}

span.spoiler {

    position: relative;

    &:not(.show) {
        cursor: pointer;
    }

    &::after {
        content: " ";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: $gray-light-medium;
        left: 0;
        right: 0;
        height: 24px;
    }

    &:hover {
        &::after {
            background: $gray;
        }
    }

    &.show {
        background: $gray-light;

        &::after {
            display: none;
        }
    }
}