.user-badge {
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    gap: 2px;

    img {
        min-width: 20px;
        max-width: 20px;
    }
}