.user-badge {
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    gap: 2px;

    img {
        min-width: 16px;
        max-width: 16px;
    }

    &.large-size {
        gap: 8px !important;

        img {
            min-width: 24px;
            max-width: 24px;
        }
    }
}