.achievement-edit {
    display: flex;

    .actions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
    }

    .achievement-edit-row {
        position: relative;
        padding: 12px;
        width: 100%;
    }

    .tselect {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .show-more-container {
        margin-top: 12px;
    }

}

.achievement-edit-row {
    display: flex;
    flex-wrap: wrap;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    flex-direction: row;
    margin: -12px;

    .row-first-only {
        width: calc(70% - 104px);

        @media screen and (max-width:$sm-size) {
            width: calc(100% - 104px);
        }
    }

    >* {
        padding: 12px;
    }
}

.languages-list {
    .tselect {
        min-width: 116px;
    }
}

.show-more-container {
    display: flex;
    align-items: center;
    color: $grey;
    font-size: 12px;
    transition: 0.3s all;
    @extend .clickable;

    &:hover {
        color: $dark;
    }

    i {
        font-size: 16px;
        margin-left: 4px;
    }
}

.delete-move-actions {
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    color: $grey;
    background: $fixed-elements;
    padding: 8px 12px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    >* {
        margin: 0 4px;
    }

    @media screen and (max-width: $sm-size) {
        max-width: 56px;
        max-height: 28px;

        i {
            font-size: 20px;
        }
    }

}



.achievement {
    .achievement-edit-row:not(:last-child):after {
        content: " ";
        position: absolute;
        width: calc(100% - 48px);
        left: 24px;
        right: 24px;
        bottom: 0;
        height: 2px;
        background-color: #E0E0E0;
    }
}

.achievement-item {
    &:not(:last-child) {
        border-bottom: 2px solid #E0E0E0;
        padding: 0 24px;
    }

    &:not(:first-child) {
        padding: 8px 0;
        margin: 24px 0;

        @media screen and(max-width: $sm-size) {
            padding: 8px 0;
            margin: 20px 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    .achievement-title {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .achievement-header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        >.open-achievements {
            margin-bottom: -16px;
        }

        @media screen and(max-width: $sm-size) {
            margin-bottom: 12px;

            >.open-achievements {
                margin-bottom: -12px;
            }
        }
    }


}

.achievement-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;

    li {
        padding: 24px 0;
        position: relative;

        &:not(:last-child)::after {
            position: absolute;
            content: " ";
            bottom: 0;
            height: 2px;
            background-color: #EEE;
            left: 24px;
            right: 24px;
            width: calc(100%-48px);

            @media screen and (max-width: $sm-size) {
                left: 16px;
                right: 16px;
                width: calc(100% - 32px);
            }
        }

        .achievement-name {
            display: flex;
            align-items: center;

            @media screen and (max-width: $sm-size) {
                font-size: 12px;
            }
        }


        &:not(:last-child) {
            padding-left: 0.5rem;
            border-left: 1px solid #C8C8C8;
            margin-left: 0.5rem;
        }

        .editItem {
            width: 100%;
            display: flex;
            align-items: baseline;
            gap: 10px;

            .actions {
                border-radius: 16px;
                display: flex;
                flex-direction: row;
                color: $grey;
                background: $body-bg;
                margin-left: 24px;
                padding: 8px 8px;
                width: 80px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                >* {
                    margin: 0 4px;
                }

                @media screen and (max-width: $sm-size) {
                    max-width: 56px;
                    max-height: 28px;

                    i {
                        font-size: 20px;
                    }
                }

            }


            &:not(:last-child) {
                padding-bottom: 1rem;
                border-bottom: 1px solid #C8C8C8;
                margin-bottom: 1rem;
            }

        }

    }

    li.edit {
        padding-left: 0;
        margin-left: 0;
        border-left: none;
    }

    li.detailed {
        width: 100%;
        border: none;
    }

}