.achievement-edit {
    display: flex;
    padding: 0.75rem 0;

    .actions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.75rem;
        position: relative;
    }

    .achievement-edit-row {
        position: relative;
        padding: 0.75rem;
        width: 100%;
    }

    .tselect {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }

    .show-more-container {
        margin-top: 0.75rem;
        position: absolute;
        top: 52px;
    }

}

.achievement-edit-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: -0.75rem;

    .row-first-only {
        width: calc(70% - 104px);

        @media screen and (max-width:$sm-size) {
            width: calc(100% - 104px);
        }
    }

    >* {
        padding: 0.75rem;
    }
}


.achievement {
    &.detailed {
        margin: 1rem 0;
    }

    .achievement-name {
        display: flex;
        flex-direction: column;


        &.detailed {
            width: 100%;
        }

        .achievement-details {
            color: $dark;
            display: flex;
            font-weight: normal;
            font-size: 14px;


            @media screen and (max-width: $sm-size) {
                display: flex;
                align-items: center;
                line-height: 1;
            }

            >*:not(:last-child) {
                padding-#{$end}: 0.75rem;
                border-#{$end}: 2px solid #C8C8C8;
                margin-#{$end}: 0.75rem;
            }

            >span {
                display: flex;
                align-items: center;
            }
        }

        .title {
            font-weight: 600;
            font-size: 1rem;
            color: $dark;

            line-height: 1.5rem;

            &:not(:last-child) {
                margin-bottom: 0.75rem;
            }
        }

        a.title {
            color: $action;

            &:hover {
                color: $action-hover;
            }
        }

        .achievement-description {
            margin-top: 0.75rem;
            font-weight: normal;
            font-size: 1rem;
            line-height: 30px;
            color: $grey;
            margin-bottom: 0;
        }
    }
}

.languages-list {
    .tselect {
        min-width: 11rem;
    }
}

.show-more-container {
    display: flex;
    align-items: center;
    color: $grey;
    font-size: 0.75rem;
    transition: 0.3s all;
    @extend .clickable;

    &:hover {
        color: $dark;
    }

    i {
        font-size: 1rem;
        margin-#{$end}: 4px;
    }
}

.delete-move-actions {
    border-radius: 1rem;
    display: flex;
    color: $grey;
    background: $fixed-elements;
    padding: 8px 0.75rem;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    >* {
        margin: 0 4px;
    }

    @media screen and (max-width: $sm-size) {
        max-width: 56px;
        max-height: 28px;

        i {
            font-size: 20px;
        }
    }

}



.achievement-item {
    &:not(:last-child) {
        padding: 0 1.5rem;
        border-bottom: 2px solid #C8C8C8;
    }

    &:last-child {
        padding-bottom: 0;
        margin-bottom: -24px;
    }

    &:not(:first-child) {
        padding: 8px 0;
        margin: 24px 0;

        @media screen and(max-width: $sm-size) {
            padding: 8px 0;
            margin: 20px 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    .achievement-title {
        display: flex;
        align-items: baseline;
        font-size: 1rem;

        cursor: pointer;
    }

    .achievement-header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        >.open-achievements {
            cursor: pointer;
        }

        @media screen and(max-width: $sm-size) {
            margin-bottom: 0.75rem;

            >.open-achievements {
                margin-bottom: -0.75rem;
            }
        }
    }


}

.achievement-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 1rem 0;


    li {
        position: relative;


        &.edit:not(:last-child)::after {
            position: absolute;
            content: " ";
            bottom: 0;
            height: 2px;
            background-color: #EEE;
            #{$end}: 0;
            #{$start}: 11rem;

            @media screen and (max-width: $sm-size) {
                #{$end}: 1rem;
                #{$start}: 1rem;
                width: calc(100% - 32px);
            }
        }

        .achievement-name {
            font-weight: 600;
            color: $grey;

            strong {
                font-weight: 600;
            }

            a {
                font-weight: 600;
                color: $action;

                &:hover {
                    color: $action-hover;
                }
            }

            @media screen and (max-width: $sm-size) {
                font-size: 0.75rem;
            }
        }

    }

    li:not(.edit) {
        &:not(.detailed) {
            &:not(:last-child) {
                padding-#{$end}: 1rem;
                border-#{$end}: 2px solid #C8C8C8;
                margin-#{$end}: 1rem;
            }
        }
    }

    li.edit {
        padding-#{$end}: 0;
        margin-#{$end}: 0;
        border-#{$end}: none;
    }

    li.detailed {
        width: 100%;
        border: none;
    }

}