.add-category-container {
    display: flex;
    align-items: center;

    margin: 0 -6px;
    margin-bottom: 1.5rem;

    >* {
        margin: 0 0.75rem;
    }

}

.edit-categories-list .category-item {
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: space-between;

    &.edit {
        .actions {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    .category-edit-action-icon {
        color: $icons;

        &:hover {
            color: $grey;
        }
    }

    .save-edit-action-icons {
        display: flex;
        align-items: center;
        margin: 0 -0.25rem;

        .btn-edit {
            border-radius: 8px;
        }

        i {
            margin: 0 0.25rem;
        }
    }

    .category-content {
        display: flex;
        align-items: center;
        margin: 0 -0.5rem;
        width: calc(100% - 1rem);

        .category-badge {
            max-width: calc(100% - 150px);
        }

        >* {
            margin: 0 0.5rem;
        }
    }
}