.article-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0 !important;
}

.article-title-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.article-time {
    font-size: 14px;
    color: $icons;
}

.article-text {
    font-size: 16px;
    color: $dark;
    margin-top: 28px;
    padding-bottom: 40px;

    a {
        color: $action;
    }

    a:hover {
        color: #0784C1;
    }

    ::-moz-selection {
        color: $dark;
        background: #EFDC36;
    }

    ::selection {
        color: $dark;
        background: #EFDC36;
    }
}

.article-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}
