.auto-complete-container {
    position: relative;

    input {
        z-index: 2;
    }

    >i {

        @if $direction=="ltr" {
            #{$start}: 16px;
        }

        @else {
            #{$end}: 16px;
        }
    }

    ul {
        position: fixed;
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        background: $white;
        padding: 12px 0;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
        z-index: 1;


        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-items: center;
            padding: 12px 16px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-size: $text-xsm;
            cursor: pointer;

            >i {
                color: $light;
                margin-#{$end}: map-get($spacings, 2);
                font-size: $text-sm;
            }

            &:hover {
                background: $gray-200;
            }
        }
    }
}

.searchfield {

    flex: 1 1 auto;
}

.search-field {
    max-width: 216px;
    display: flex;
    flex-direction: column;

    @media screen and(max-width: $sm-size) {
        i {
            font-size: $text-lg;
        }
    }

    .delete-icon {
        position: absolute;
        right: 1rem;
        font-size: $text-xxsm;
        color: $gray-400;
    }

    >input {
        @if $direction==rtl {
            padding-#{$end}: 2.75rem !important;
            padding-#{$start}: 16px !important;
        }

        @else {
            padding-#{$start}: 2.75rem !important;
            padding-#{$end}: 16px !important;
        }

        color: $dark;

        @media screen and(max-width: $sm-size) {
            width: 0;
            transition: 0.5s all;
            align-self: flex-end;
            background: transparent !important;
            box-shadow: unset;
            height: 2rem;
            border-radius: 12px;
            font-size: $text-xsm;
            align-self: flex-end;

            +i:not(.delete-icon) {
                #{$end}: 0;

                @if $direction==ltr {
                    #{$start}: calc(100% - 10px) #{"/* rtl:ignore */"};
                    transition: 0.5s all;
                }
            }


            &:focus,
            &:not(:placeholder-shown) {
                width: calc(100% - 75px);
                background: $gray-light !important;

                +i {
                    font-size: $text-sm;

                    @if $direction==ltr {
                        #{$start}: 16px;
                    }
                }

                +i:not(.delete-icon) {
                    #{$end}: 16px;
                }
            }

            &:not(:placeholder-shown):not(:focus) {
                padding-#{$start}: 32px #{"/* rtl:ignore */"} !important;
            }
        }

        &:focus+i:not(.delete-icon) {
            color: $dark;
        }


        &::-webkit-input-placeholder {
            color: $gray-500;

            @media screen and(max-width: $sm-size) {
                font-size: $text-xsm;
            }
        }


        &::-moz-placeholder {
            color: $gray-500;

            @media screen and(max-width: $sm-size) {
                font-size: $text-xsm;
            }
        }


        &:-ms-input-placeholder {
            color: $gray-500;

            @media screen and(max-width: $sm-size) {
                font-size: $text-xsm;
            }
        }


        &::-ms-input-placeholder {
            color: $gray-500;

            @media screen and(max-width: $sm-size) {
                font-size: $text-xsm;
            }
        }


        &::placeholder {
            color: $gray-500;

            @media screen and(max-width: $sm-size) {
                font-size: $text-xsm;
            }
        }
    }
}