.background-upload-progress {
    position: fixed;
    @extend .card;
    padding: 1.25rem 1rem;
    #{$start}: 40px;
    bottom: 40px;
    width: 300px;
    height: 62px;
    display: flex;
    align-items: center;
    flex-direction: row;


    .progress {
        width: 100%;
        margin-#{$end}: 0.75rem;

    }
}