.blocked-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    color: $gray-500;

    .blockcontainer-title {
        color: $dark;
        font-weight: 600;

        >i {
            margin-#{$end}: 0.5rem;
        }

        margin-bottom: 0.5rem;
    }
}