.follow-btn {
    color: rgb(8, 152, 223);
    background: rgba(231, 242, 255, 1);
    border: none;
    padding: map-get($spacings, 2);
    font-weight: bold;
    font-size: 0.75rem !important;
    transition: 0.3s all;
    min-width: 80px;
    white-space: nowrap;
}

.btn-danger {
    background: $light-error;
    color: $red;

    &:hover {
        background: $light-error-darker;
        color: $red;
        border-color: $light-error-darker;
    }
}

.btn {
    padding: 0.5rem 1.5rem;
    font-weight: 600;

    &:disabled {
        background: #E0E0E0;
        color: $grey;
        border-color: #E0E0E0;
        opacity: 0.5;
    }

}


.modal-dialog {
    .btn:not(.add-action-btn) {
        padding: .782rem 2.5rem;
    }
}

.btn-action-light {
    background: #E7F3FF;
    border-radius: 0.75rem;
    color: $action;

    &:not(:disabled):hover {
        color: $action;
        background: $blue-light-hover;
    }
}

.follow-btn:hover {
    background: #CDEAF9;
    color: rgb(8, 152, 223);
}

.connect-btn {
    @extend .follow-btn;
    color: rgb(0, 200, 83);
    background: #E5FAED;
}

.connect-btn:hover {
    background: #CCF4DC;
    color: rgb(0, 200, 83);
}

.btn-transparent,
.button-transparent {
    background: transparent;
    color: $grey;

    &:hover {
        color: $dark;
    }

    &:disabled {
        border-color: transparent;
        background: transparent;
        color: $fixed-elements;
    }
}

.btn-transparent:hover {
    background: rgba(255, 255, 255, 0.2);
}

.btn-transparent:active {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2) inset;
    // color: #FFF;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: none;
}

.btn-followed-connected {
    background: #EEEEEE !important;
    color: #757575 !important;
}

.btn-connection-waiting {
    @extend .follow-btn;
    background: #FEFCEA;
    color: #EFDC36;
}

.btn-connection-waiting:hover {
    background: #fffce4;
    color: #EFDC36;

}

.add-btn {
    border: 2px solid $icons;
    border-right: none;
    background: #E0E0E0;
    color: #757575;
    max-height: 37px;
}

.add-btn:hover {
    color: #757575;
}

.loading-button {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 0;
    outline: 0;
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out;
}

.btn-rounded-outline {
    background: transparent;
    color: $text-color;
    border-radius: 1rem;
    border: 2px solid $gray-400;

    &:hover {
        border-color: $dark;
        color: $dark;
    }
}

.loading-button.loading {
    border-color: transparent;
}

.loading-button.loading::before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: '';
    height: 8px;
    width: 8px;
    background: white;
    border-radius: 100%;
    transition: all 0.4s linear;
    -webkit-animation: loading 2s infinite;
    animation: loading 2s infinite;
    opacity: 1;
    background-color: #223;
}


.btn-block {
    background: #b8b1b1;
    color: #191919;
    font-size: 14px;
    font-weight: 600;
    width: 164px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

@-webkit-keyframes one-two {
    0% {
        left: 20%;
        top: 50%;
    }

    12.5% {
        top: 20%;
    }

    25% {
        top: 50%;
    }

    37.5% {
        top: 70%;
    }

    50% {
        left: 70%;
        top: 50%;
    }

    62.5% {
        top: 20%;
    }

    75% {
        top: 50%;
    }

    87.5% {
        top: 70%;
    }

    100% {
        left: 20%;
        top: 50%;
    }
}

@keyframes one-two {
    0% {
        left: 20%;
        top: 50%;
    }

    12.5% {
        top: 20%;
    }

    25% {
        top: 50%;
    }

    37.5% {
        top: 70%;
    }

    50% {
        left: 70%;
        top: 50%;
    }

    62.5% {
        top: 20%;
    }

    75% {
        top: 50%;
    }

    87.5% {
        top: 70%;
    }

    100% {
        left: 20%;
        top: 50%;
    }
}

@-webkit-keyframes loading {
    0% {
        left: 20%;
    }

    50% {
        left: 80%;
    }

    100% {
        left: 20%;
    }
}

@keyframes loading {
    0% {
        left: 20%;
    }

    50% {
        left: 80%;
    }

    100% {
        left: 20%;
    }
}


.splitor-b::after {
    content: " ";
    bottom: 0px;
    right: 0.625rem;
    left: 0.625rem;
    width: calc(100% - 1.25rem);
    height: 1px;
    position: absolute;
    margin-top: -2px;
    background: #C8C8C8;
}

.splitor-l::after {
    content: " ";
    left: 0;
    width: 1px;
    height: 20px;
    position: absolute;
    margin-top: -2px;
    background: #C8C8C8;
}


.show-more-text--clickable {
    font-size: 0.875rem;
    color: $icons;
    font-weight: 600;
    @extend .clickable;
    margin-top: map-get($spacings, 2);
}

.btn-edit {
    border-radius: 1rem;
    border: 2px solid $icons;
    color: #757575;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;

    i {
        @media screen and(min-width: $sm-size) {
            margin-left: map-get($spacings, 2);
        }
    }
}



.btn-edit:not(.disabled):hover {
    border-color: #191919;
    color: #191919;
}

.camera-btn {
    background: #191919;
    border-radius: 12px;
    padding: map-get($spacings, 1);
    color: #E0E0E0;
    -webkit-filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: $sm-size) {
    .camera-btn {
        border-radius: 8px;
        font-size: 18px !important;
    }

}

.page-cover {
    .edit-icons {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        padding-top: 5px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $sm-size) {
            top: 8px;
            left: 12px;
        }
    }
}

.btn.disabled:hover {
    color: #C8C8C8;
}

.rounded-add-btn {
    @extend .btn;
    padding: 0.25rem !important;
    border-radius: 12px;
    min-width: unset;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $sm-size) {
        padding: 8px 8px !important;
        border-radius: 50%;

        i {
            font-size: 16px;
        }
    }
}


.btn-light-action {
    color: rgb(8, 152, 223);
    background: rgba(231, 242, 255, 1);
    color: $action;
}

.add-btn-light-grey {
    background: $fixed-elements;
    border-color: $fixed-elements;

    color: $text-color;

    &:disabled {
        cursor: not-allowed;
        background: $fixed-elements;
        border-color: $fixed-elements;
        color: $icons;
    }
}

.btn-suprelight {
    color: $grey;
    background: #F5F5F5;

    &:disabled {
        color: #C8C8C8;
        cursor: not-allowed;
    }
}

.btn {
    @media screen and (max-width: $sm-size) {
        font-size: 10px;
    }
}


.btn-grey-10 {
    background: $body-bg;
    color: $light;
    border: 2px solid $icons;
    transition: 0.3s all;
}

.btn-grey-10:hover {
    background: $icons;
    color: $text-color;
}

.btn:active:not(:disabled) {
    box-shadow: none !important;
}

.btn-dark:active:not(:disabled) {
    box-shadow: none !important;
}