.card {
    background: $box-on-bg;

    .card-body {
        padding: 1.5rem;
    }

    .card-footer {
        position: relative;
        padding: 1rem 1.5rem;
        background-color: $box-on-bg;
        border: none;

        &::after {
            content: " ";
            position: absolute;
            top: 0;
            left: 1.5rem;
            width: calc(100% - 3rem);
            height: 2px;
            background-color: $fixed-elements;
        }

    }
}