.card {
    display: flex;
    flex-direction: column;
    background: $white;

    .card-body {
        padding: 1.5rem;
        flex: 1 1 auto;
    }

    .card-footer {
        position: relative;
        padding: 1rem 1.5rem;
        background-color: $white;
        border: none;

        &:not(.no-border):after {
            content: " ";
            position: absolute;
            top: 0;
            #{$end}: 1.5rem;
            width: calc(100% - 3rem);
            height: 2px;
            background-color: $gray-200;
        }

    }
}