.categories-sidebar {
    max-width: 28.9%;
    flex: 28.9%;
}

.posts-container-profile {
    max-width: 71.1%;
    flex: 71.1%;
}


.categories-sidebar-card {
    @extend .card;
    padding: 24px 16px;

    hr {
        margin: 24px 0;
    }
}

.actions-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 16px 0;

    .action-item {
        display: flex;
        align-items: center;
        gap: 2px;
        background: transparent;
        padding: 6px;
        border-radius: 10px;
        margin: 2px;
        color: $grey;
        border: none;
    }

    .action-item.active {
        background: $fixed-elements;
        color: $dark;

    }

    ul {
        list-style: none;
    }
}


.category-badge {
    background: $fixed-elements;
    color: $grey;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 2px 6px;
    font-size: 14px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    &.active {
        color: $dark;
    }
}

.categories {
    color: $icons;

    .btn-edit {
        border-radius: 8px;
    }

    .category-badge:not(:last-child) {
        margin-bottom: 16px;
    }

    a {
        color: $icons;
    }

    li.active {
        a {
            color: $dark;
        }
    }

    ul {
        padding: 0;

        li:hover {
            a {
                color: $dark;
            }

        }
    }
}

.add-category-field {
    border: 2px solid $icons;
}


.category--title {
    font-size: 16px;
    font-weight: 600;
    color: $dark;
    margin-bottom: 28px;

    i {
        color: $grey;
    }
}

.profile-tags {
    .tag-item.active {
        color: $white;
        background: $dark;
    }
}


.tag-edit {
    .tag-item:hover {
        background: $danger !important;
        color: $white !important;
    }
}

.slideup-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;

    i {
        font-size: 16px;
    }
}

.categories-list-mobile {
    max-height: 380px;
    border-right: 2px solid #C8C8C8;
    padding-right: 28px;

    overflow-y: auto;
    scrollbar-color: $dark $light;
    scrollbar-width: thin;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0.3em;
        background: #DEDEDE;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $dark;
    }


    li {
        color: $grey;
        font-size: 10px;
        padding: 4px;
        min-width: 50px;
        display: flex;
        align-items: center;
        position: relative;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;

        .close-icon {
            color: $grey;
            position: absolute;
            right: -20px;
        }

        i {
            font-size: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        &.active {
            color: $white;
            background-color: $dark;
        }
    }
}