.category-select {
    display: flex;
    align-items: center;
    background: $fixed-elements;
    color: $text-color;
    font-weight: 600;
    padding: 0.75rem 1rem;
    height: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.75rem;
    font-weight: 600;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;

    span {
        max-width: 80px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

    i {
        margin-left: 0.5rem
    }
}

@if($direction==ltr) {
    .category-select-modal {
        flex-direction: row;
    }
}

[dir=rtl] .category-select-modal {

    .close {
        transform: rotate(180deg)
    }
}

.category-selection-list {
    @extend .nice-scroll;
    max-height: 360px;
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;

    .category-badge {
        padding: 0.25rem 0.75rem;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }

    >* {
        margin: 0.5rem;
    }
}