.category-item{
    .actions {
        border-radius: 32px;
        display: flex;
        flex-direction: row;
        color: $icons;
        background: $body-bg;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        padding: 2px;
        margin-left: 24px;
    }

    &:not(:last-child){
        margin-bottom: 1rem;
    }
}
