.contacts-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
        width: 50%;
        flex: 50%;
        padding: 7px 0;

        @media screen and(max-width: $sm-size) {
            width: 100%;
            flex: 100%;
            flex-wrap: wrap;
            font-size: 12px;

            i {
                font-size: 18px;
            }
        }

        .edit-contact {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and(max-width: $sm-size) {
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                gap: 8px;
            }
        }

    }

    li.edit {
        width: 100%;
        flex: 100%;
        padding: 7px 0;

        &:not(:last-child) {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
    }

}
