.currency-selector {
    background: $body-bg;
    min-width: 235px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    color: #757575;

    padding: 0.875rem 1.5rem;

    cursor: not-allowed;
}


.donate-modal-header {
    margin-bottom: 18px;
    align-items: flex-start;
}


.donation-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 2rem;

    &:first-child {
        padding-top: 1.5rem;
    }

    .donation-user {
        display: flex;
        align-items: center;

        .profile-xxsm {
            height: 36px;
            width: 36px;

            min-height: 36px;
            min-width: 36px;

            max-height: 36px;
            max-width: 36px;
        }

        .user-profile {
            margin-left: 16px;
        }

        .user-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;

            color: $dark;
        }
    }

    .donation-amount {
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        color: $action;
        line-height: 1;
        @extend .badge-blue;

        &.received {
            color: $success;
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            padding: 8px 12px;
            height: 2rem;
            @extend .badge-success;
        }

        span {
            height: 12px;
        }

        >*:last-child {
            font-weight: normal;
            margin-right: 4px;
        }

    }

}


.donate-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .donate-amount-input {
        text-align: start;
        width: 288px;
        margin-bottom: 1.5rem;
        unicode-bidi: -moz-plaintext;
        unicode-bidi: plaintext;
    }

}


.donation-modal {

    .donations-list {
        @extend .nice-scroll;
        max-height: 164px;
        min-height: 116px;
        width: 100%;
        border-top: 2px solid #EEEEEE;
        overflow: auto;
        margin-top: 1.5rem;

        &.cant-donate {
            margin-top: 0;
            max-height: 400px;
            border-top: none;
            min-height: 400px;
        }
    }
}

.donate-payanonymouse {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
}

.donate-amount-badge {
    width: auto;
    height: 48px;
    padding: 14px 24px;
    border-radius: 12px;
    background: $body-bg;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    direction: ltr;

    &:not(:last-child) {
        margin-left: 1.5rem;
    }

    &.active {
        background: $blue-100;
        color: $blue-300;

    }
}

.payment-way {
    width: 170px;
    display: flex;
    align-items: center;


    img {
        width: 73px;
        height: 16px;
    }
}


.tip-modal-header {
    background: url("/images/tip_modal_header_bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    img.profile-md {
        border: 5px solid #fff;
        box-shadow: 0px 6px 32px rgba(5, 65, 15, 0.36);
    }

    &::after {
        display: none;
    }
}

.tip-modal--title {
    margin-bottom: 32px;
    font-size: 1.125rem;
    text-align: center;
}

.tip-amount-input-group {}