.currency-selector {
    background: $body-bg;
    min-width: 235px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-weight: 600;
    font-size: $text-xxsm;
    line-height: 19px;
    /* identical to box height */
    text-align: $start;
    color: $text-color;

    padding: 0.875rem 1.5rem;

    cursor: not-allowed;

    img {
        vertical-align: middle;
    }

}


.donate-modal-header {
    margin-bottom: 18px;
    align-items: flex-start;
}

.donations-list:not(.cant-donate) {
    .donation-list-item {
        padding: 0.5rem 3rem;
    }
}


.donation-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;

    .donation-user {
        display: flex;
        align-items: center;

        .profile-xxsm {
            height: 36px;
            width: 36px;

            min-height: 36px;
            min-width: 36px;

            max-height: 36px;
            max-width: 36px;
        }

        .user-profile {
            margin-#{$end}: 16px;
        }

        .user-name {
            font-weight: 600;
            font-size: $text-xsm;
            line-height: 22px;

            color: $dark;
        }
    }

    .donation-amount {
        font-weight: 600;
        font-size: $text-sm;
        color: $blue-cta;

        &.received {
            font-size: $text-sm;
            color: $success;
        }

        >*:last-child {
            font-weight: normal;
            margin-#{$start}: 4px;
        }

    }

}


.donate-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .donate-amount-input {
        text-align: start;
        width: 100%;
        margin-bottom: 1.5rem;
        unicode-bidi: -moz-plaintext;
        unicode-bidi: plaintext;
    }

}


.donation-modal {

    .donations-list {
        @extend .nice-scroll;
        max-height: 164px;
        min-height: 116px;
        width: 100%;
        border-top: 2px solid #EEEEEE;
        overflow: auto;
        margin-top: 2rem;
        padding-top: 12px;

        &.cant-donate {
            margin-top: 0;
            max-height: 400px;
            border-top: none;
            min-height: 400px;
        }
    }
}

.donate-payanonymouse {
    white-space: nowrap;
}

.donate-amount-badge {
    width: auto;
    padding: 14px 24px;
    border-radius: 12px;
    background: $body-bg;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-align: center;

    @if $direction==rtl {
        direction: ltr;
    }


    font-weight: 600;
    line-height: 1.5;
    width: calc(40% - 1.5rem);

    &:not(:last-child) {
        margin-#{$end}: 1.5rem;
    }

    &.active {
        background: $blue-light;
        color: $blue-hover;

    }
}

.payment-way {
    width: 170px;
    display: flex;
    align-items: center;


    img {
        width: 73px;
        height: 16px;
    }
}


.tip-modal-header {
    background: url("/images/tip_modal_header_bg.png") !important;
    background-size: cover !important;
    background-position: center;
    position: relative;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        position: absolute;
        top: 2rem;
        #{$start}: 2rem;
    }

    img.profile-md {
        border: 5px solid #fff;
        box-shadow: $navigation-shadow;
    }

    &::after {
        display: none;
    }
}

.tip-modal--title {
    margin-bottom: 32px;
    font-size: 1.125rem;
    text-align: center;
}

.tip-amount-input-group {}