.currency-selector {
    background: $body-bg;
    width: 177px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-bottom: 12px;

    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height */
    text-align: right;
    color: #757575;

    padding: 12px;

    cursor: not-allowed;
}


.donate-modal-header {
    margin-bottom: 18px;
}


.donation-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 52px;

    &:first-child {
        padding-top: 8px;
    }

    .donation-user {
        display: flex;
        align-items: center;

        .profile-xxsm {
            height: 36px;
            width: 36px;

            min-height: 36px;
            min-width: 36px;

            max-height: 36px;
            max-width: 36px;
        }

        .user-profile {
            margin-left: 16px;
        }

        .user-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;

            color: $dark;
        }
    }

    .donation-amount {
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        color: $action;

        &.received {
            color: $success;
        }

    }

}


.donate-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .donate-amount-input {
        text-align: start;
        width: 288px;
        margin-bottom: 24px;
        unicode-bidi: -moz-plaintext;
        unicode-bidi: plaintext;
    }

}


.donation-modal{

.donations-list {
    @extend .nice-scroll;
    max-height: 164px;
    width: 100%;
    border-top: 2px solid #EEEEEE;
    overflow: auto;
    margin-top: 24px;
}
}

.donate-payanonymouse {
    margin-top: 24px;
    margin-bottom: 24px;
}

.donate-amount-badge {
    width: 114px;
    height: 48px;
    padding: 12px;
    border-radius: 20px;
    background: $body-bg;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:not(:last-child) {
        margin-left: 24px;
    }

    &.active {
        background: $light-green;
        color: $green;
    }
}

.payment-way {
    width: 170px;

    img {
        width: 73px;
        height: 16px;
    }
}