.ternobo-dropdown-container {
    position: relative;

    .btn-dropdown {
        margin: 0;
        border: 0;
        padding: 0;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }


    &.disabled {
        cursor: not-allowed !important;

        button {
            cursor: not-allowed !important;

        }
    }

}

.dropdown-menu {
    position: absolute;
    background: $gray-200;
    padding: 0;
    border: none;
    box-shadow: $card-shadow;
    padding: 12px 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-radius: 0;
    flex-direction: column;
    z-index: 999;
    max-width: 300px;

    li {
        display: flex;
        width: 100%;
    }

    .dropdown-item {
        padding: 12px 16px;

        width: 100%;

        i {
            margin-#{$end}: 8px;
        }

        @media screen and (max-width: $sm-size) {
            padding: 8px 12px;
        }

        &:focus,
        &:hover {
            background-color: #E0E0E0;
        }
    }

}

.ternobo-dropdown-white {
    background: $white;

    .dropdown-item {

        &:focus,
        &:hover {
            background-color: $gray-200;
        }
    }
}