.dropndown-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    transition: 0.3s all;
    z-index: 99;
    border-radius: 50%;
    min-height: 2rem;
    min-width: 2rem;


    >button {
        z-index: 1;
        transition: 0.3s all;
    }

    >button>i {
        transition: 0.3s all;
    }

    &.active {
        border-radius: 0;

        .items {
            box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.03);
        }

        >button {
            border-radius: 0 !important;
            background: $body-bg;
        }

        >button>i {
            transform: rotate(-45deg);
            background: $body-bg;
            color: $grey;
        }
    }

    .items {
        padding-right: 0;
        min-width: 130px;
        left: 0;
        transition: 0.3s all;
        background: $body-bg;
        padding-top: 40px;
        position: absolute;

        @media screen and (min-width: $sm-size) {
            min-width: 200px;
        }

        li {
            padding: 12px 16px;
            transition: 0.3s all;
            cursor: pointer;
        }

        li:hover {
            background: #E0E0E0;
        }

    }

}