.ternobo-dropdown-container {
    position: relative;

    .btn-dropdown {
        margin: 0;
        border: 0;
        padding: 0;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }


    &.disabled {
        cursor: not-allowed !important;

        button {
            cursor: not-allowed !important;

        }
    }

}

.dropdown-menu {
    position: absolute;
    background: $white;
    border: 2px solid $gray;
    box-shadow: $bg-shadow;
    padding: 0.5rem 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-radius: 0;
    flex-direction: column;
    z-index: 999;
    max-width: 363px;
    #{$end}: 0;

    li {
        display: flex;
        width: 100%;
    }

    .dropdown-item {
        padding: 0.5rem 1rem;
        padding-#{$end}: 1.5rem;
        width: 100%;
        min-height: 52px;
        display: flex;
        align-items: center;
        font-size: 0.75rem;

        i {
            margin-#{$end}: 0.75rem;
        }

        &:focus,
        &:hover {
            background-color: $gray-light;
        }
    }

}

.ternobo-dropdown-white {
    background: $white;

    .dropdown-item {

        &:focus,
        &:hover {
            background-color: $gray-200;
        }
    }
}