.v-select.dropdown-menu {
    border: none;
    box-shadow: 0 0 .3rem 0 rgba(0, 0, 0, .1);
    background: #E0E0E0;
    color: $dark;
    display: block !important;
    border-radius: 0;
    padding: 0;
    font-size: 14px;

    .vs__dropdown-menu {
        background: #E0E0E0;
        font-size: 14px;
    }

    .vs__no-options {
        padding-top: 7px;
    }

    &:not(.show) {
        padding: 0px;
        border-width: 0px;
        border-color: transparent;
        box-shadow: none;
        transition: padding 1.3s ease, border-width 1.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    }

    >li {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    &.show {
        >li {
            max-height: 100px;
        }
    }
}

.dropdown-item {
    padding: 0.5rem 0.5rem;
    color: $text-color;
    min-width: 230px;
    text-align: $start;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: $gray-300;
    color: $text-color;
}

.dropdown-toggle-no-caret {
    padding: 0;
}



.dropdown-list {



    .vs__search::-webkit-input-placeholder {
        background: $gray-200;
        border: none;
        border-radius: 0;
        color: $light;
        min-height: 35px;
    }

    .vs__search::-moz-placeholder {
        background: $gray-200;
        border: none;
        border-radius: 0;
        color: $light;
        min-height: 35px;
    }

    .vs__search:-ms-input-placeholder {
        background: $gray-200;
        border: none;
        border-radius: 0;
        color: $light;
        min-height: 35px;
    }

    .vs__search::-ms-input-placeholder {
        background: $gray-200;
        border: none;
        border-radius: 0;
        color: $light;
        min-height: 35px;
    }

    .vs__dropdown-toggle {
        padding: 12px 16px;

    }

    .vs__search::-webkit-input-placeholder {
        background: $gray-200;
        border: none;
        border-radius: 0;
        color: $light;
    }

    .vs__search::-moz-placeholder {
        background: $gray-200;
        border: none;
        border-radius: 0;
        color: $light;
    }

    .vs__search:-ms-input-placeholder {
        background: $gray-200;
        border: none;
        border-radius: 0;
        color: $light;
    }

    .vs__search::-ms-input-placeholder {
        background: $gray-200;
        border: none;
        border-radius: 0;
        color: $light;
    }

    .vs__search::placeholder,
    .vs__dropdown-toggle,
    .vs__dropdown-menu {
        background: $gray-200;
        border: none;
        border-radius: 0;
        color: $light;
    }

    .vs__dropdown-menu {
        max-height: 200px;
        min-width: 30px;
        @extend .nice-scroll;
    }

    .vs__search {
        position: absolute;
        width: 100%;
        height: 30px;
    }

    .vs__clear,
    .vs__open-indicator {
        fill: $light;
    }

    .vs__dropdown-option {
        background: $gray-200;
        width: 100%;
        color: $light;

        &.vs__dropdown-option--highlight {
            background: $gray-300;
            color: $dark;
        }
    }
}