.education {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    .edu-description {
        text-align: justify;
        max-height: 90px;
        overflow: hidden;
        word-break: break-word;

        @media screen and (max-width: $sm-size) {
            font-size: 12px;
        }
    }

    .edu-description.open {
        max-height: unset;
    }

    .actions {
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        color: $icons;
        background: $body-bg;
        padding: 2px;
        margin-#{$end}: 1.5rem;
        padding: 8px;
        width: 2.75rem;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $sm-size) {
            max-width: 28px;
            max-height: 56px;

            i {
                font-size: 20px;
            }
        }
    }

    .detail {
        display: flex;
        width: 100%;

        @media screen and (max-width:$sm-size) {
            font-size: 12px;
            padding-bottom: 16px;

            &:not(:last-child) {
                border-bottom: 2px solid #e0e0ee;
                margin-bottom: 16px;
            }
        }
    }
}

.show--more {
    @extend .clickable;
    @extend .text-action;

    @media screen and (max-width: $sm-size) {
        font-size: 12px;
    }
}
