.embed-container {
    display: flex;
    flex-direction: column;

    .form-control {
        @extend .nice-scroll;
        margin-bottom: 20px;
        background: $white !important;
        height: 90px;
        padding: 12px;
    }

    .the-embed-preview {
        border: 2px solid $gray-200;
    }

    .btn {
        height: 2rem;
        border-radius: 11px;
    }

}