.emoji {
    height: 1.5rem;
    width: 1.5rem;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.emoji-container {
    position: relative;

    >i {
        cursor: pointer;
        transition: 0.3s all;
        color: $gray-500;

        &:hover {
            color: $dark;
        }
    }

    &.active {
        >i {
            color: $dark;
        }
    }
}

.emoji-picker {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid $gray;
    background: $white;
    position: absolute;
    z-index: 9999;
    #{$start}: 42px;
    top: 0px;
    box-shadow: $notification-shadow;

    .search-emoji {
        padding: 8px;
    }

    .emoji-picker-select {
        display: flex;
        flex-direction: row;
        max-height: 100%;

        .emoji-list-container {
            display: flex;
            flex-direction: column;


            width: calc(100% - 50px);
        }

        .emoji-tabs {
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
        }
    }

    .emoji-tabs {
        display: flex;
        overflow: auto;
        flex-direction: column;
        margin: 1rem 0;
        padding: 0 1rem;
        @include nice-scroll;

        .emoji-tab {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            padding: 3px;
            color: $light;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            transition: 0.3s all;

            &:hover {
                color: $dark;
            }

            &.active {
                color: $gray-dark;
            }

            &.recent-emojies {
                border-bottom: 2px solid $gray;
                padding-bottom: 0.75rem;
                margin-bottom: 0.75rem;

                &.active,
                &:hover {
                    border-color: $black;
                }
            }

            i {
                font-size: 20px;
            }
        }
    }

    .emoji-list {
        @extend .nice-scroll;
        max-height: 100%;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 8px;

        .emoji-item {
            width: 10.5%;
            padding: 8px;
            cursor: pointer;
            box-sizing: content-box;

            figure {
                height: -webkit-max-content;
                height: -moz-max-content;
                height: max-content;
                display: flex;
            }

            .emoji {
                width: 100%;
                height: auto;
            }
        }
    }
}