.experience {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .job-description {
        text-align: justify;
        max-height: 90px;
        overflow: hidden;
        word-break: break-word;

        @media screen and (max-width: $sm-size) {
            font-size: 12px;
        }
    }

    .job-description.open {
        max-height: unset;
    }

    .actions {
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        color: $icons;
        background: $body-bg;
        padding: 2px;
        margin-left: 24px;
        padding: 8px;
        width: 44px;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .detail {
        display: flex;
        width: 100%;
    }
}
