.experience {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    .job-description {
        text-align: justify;
        max-height: 90px;
        overflow: hidden;
        word-break: break-word;

        @media screen and (max-width: $sm-size) {
            font-size: 12px;
        }
    }

    .job-description.open {
        max-height: unset;
    }

    .actions {
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        color: $icons;
        background: $body-bg;
        padding: 2px;
        margin-left: 1.5rem;
        padding: 8px;
        width: 2.75rem;
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $sm-size) {
            max-width: 28px;
            max-height: 56px;

            i {
                font-size: 20px;
            }
        }

    }

    .detail {
        display: flex;
        width: 100%;

        @media screen and (max-width: $sm-size) {
            font-size: 12px;
        }
    }
}
