.input-group-icon {
    position: relative;
    vertical-align: middle;
    display: flex;
    align-items: center;
    z-index: 10;
}

.input-group-icon {

    .form-control,
    .material-textfield>input {
        padding-#{$end}: 2.25rem;
    }

    &_start {

        .form-control,
        .material-textfield>input {
            padding-#{$start}: 2.75rem !important;
        }

        >i,
        .actions {
            z-index: 1000;
            color: $gray-500;
            position: absolute;
            #{$start}: 0.75rem;
            top: 0;
            bottom: 0;
            vertical-align: middle;
            display: flex;
            align-items: center;
            max-width: 1.5rem;
            justify-content: center;
            transition: 0.3s all;
            font-size: 20px;
        }

    }

    .input-group-icon-loading {
        height: 24px;
        width: 24px;
        #{$end}: 16px;
        top: 24%;
        border-width: 2px
    }

    >i,
    .actions {
        z-index: 1000;
        color: $gray-500;
        position: absolute;
        #{$end}: 0.75rem;
        top: 0;
        bottom: 0;
        vertical-align: middle;
        display: flex;
        align-items: center;
        max-width: 1.5rem;
        justify-content: center;
        transition: 0.3s all;
        font-size: 20px;
    }

    >i:hover {
        color: $dark;
    }

    &.border-button-group {

        >i,
        .actions {
            left: 0;
        }
    }

    &.password-input {

        >i,
        .actions {
            #{$end}: 16px;
            #{$start}: unset;
        }
    }

}

.search-input-rounded {
    @extend .input-group-icon;

    .form-control {
        background: $gray-200;
        border-radius: 16px;
        border: none;
    }
}