.input-group-icon {
    position: relative;
    vertical-align: middle;
    display: flex;
    align-items: center;
    z-index: 10;
}

.input-group-icon {
    .form-control {
        padding-left: 2.75rem;
    }

    >i,
    .actions {
        z-index: 1000;
        color: $grey;
        position: absolute;
        left: 16px;
        top: 0;
        bottom: 0;
        vertical-align: middle;
        display: flex;
        align-items: center;
        max-width: 1.5rem;
        justify-content: center;
        transition: 0.3s all;
    }

    >i:hover {
        color: $dark;
    }
}

.search-input-rounded {
    @extend .input-group-icon;

    .form-control {
        background: $fixed-elements;
        border-radius: 16px;
        border: none;
    }
}