.languages-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
        padding: 7px 0;

        .languages-name {
            display: flex;
            align-items: center;
        }

        .editItem {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            .actions {
                border-radius: 32px;
                display: flex;
                flex-direction: row;
                color: $icons;
                background: $body-bg;
                height: max-content;
                padding: 2px;
                margin-left: 24px;
            }

        }

        &:not(:last-child) {
            padding-left: 0.5rem;
            border-left: 1px solid #C8C8C8;
            margin-left: 0.5rem;
        }

    }

    li.edit {
        width: 100%;
        flex: 100%;
        padding: 7px 0;

        &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 1px solid #C8C8C8;
            margin-bottom: 1rem;
        }
    }

}
