.lang-select {
    background: $white;
    width: 100%;
    font-weight: 600;
    padding: 0;
    box-shadow: $card-shadow;

    .tselect-items {
        background: $white;
        color: $text-color;
        width: 100%;
        font-weight: 600;
    }

    .tselect_item {
        width: auto;
        padding: 1rem;
    }

    .tselect_item:hover {
        background: $gray-200;
    }

    .tselect_title {
        background: $white;
        color: $text-color;
        width: auto;
        font-weight: 600;
        padding: 1rem;
        height: auto;
    }
}