.languages-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
        padding: 7px 0;

        .language-name {
            display: flex;
            align-items: center;

            @media screen and (max-width: $sm-size) {
                font-size: 12px;
            }
        }

        &:not(:last-child) {
            padding-left: 0.5rem;
            border-left: 1px solid #C8C8C8;
            margin-left: 0.5rem;
        }

        .editItem {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            @media screen and (max-width: $sm-size) {
                align-items: flex-start;
            }

            .language-edit-input {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;

                .v-select {
                    width: 50%;
                }

                @media screen and (max-width: $sm-size) {
                    .v-select {
                        width: 100%;
                    }

                    flex-direction: column;
                }
            }

            .actions {
                border-radius: 32px;
                display: flex;
                flex-direction: row;
                color: $icons;
                background: $body-bg;
                height: -webkit-max-content;
                height: -moz-max-content;
                height: max-content;
                padding: 2px;
                margin-left: 24px;
                padding: 8px;
                width: 78px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media screen and (max-width: $sm-size) {
                    max-width: 56px;
                    max-height: 28px;

                    i {
                        font-size: 20px;
                    }
                }
            }


            &:not(:last-child) {
                padding-bottom: 1rem;
                border-bottom: 1px solid #C8C8C8;
                margin-bottom: 1rem;
            }

        }

    }

    li.edit {
        padding-left: 0;
        margin-left: 0;
        border-left: none;
    }

    li.detailed {
        width: 100%;
        border: none;
    }

}
