.lang-select {
    background: $white;
    width: 100%;
    font-weight: 600;
    padding: 0;
    box-shadow: $card-shadow;

    .tselect-items {
        background: $white;
        color: $text-color;
        width: 100%;
        font-weight: 600;
        padding: 16px 0;
    }

    .tselect_item {
        padding: 8px 16px;
    }

    .tselect_item:hover {
        background: $gray-200;
    }

    .tselect_title {

        background: $white;
        color: $text-color;
        width: 100%;
        font-weight: 600;
        padding: 16px;
        height: 52px;
        padding-right: 20px;
    }

    .title-text {
        margin-left: 4px;
    }
}