.languages-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 16px 0;

    li {

        position: relative;

        &.detailed {
            padding: 8px 0;
        }

        .achievement-edit-row {
            width: 100%;
        }

        &:not(:last-child) {
            .achievement-edit-row::after {
                content: " ";
                position: absolute;
                width: calc(100% - 48px);
                left: 24px;
                right: 24px;
                bottom: 0;
                height: 2px;
                background-color: #E0E0E0;
            }

        }

        &:last-child {
            .achievement-edit-row {
                border-bottom: none;
            }
        }

        .language-name {
            display: flex;
            align-items: center;
            font-weight: 600;
            color: $grey;

            @media screen and (max-width: $sm-size) {
                font-size: 12px;
            }
        }

        &:not(:last-child) {
            padding-left: 16px;
            border-left: 2px solid #C8C8C8;
            margin-left: 16px;
        }

    }

    li.edit {
        padding-left: 0;
        margin-left: 0;
        border-left: none;
    }

    li.detailed {
        width: 100%;
        border: none;
    }

}