.likes-list {
    max-height: 500px;
    min-height: 320px;
    overflow: auto;
    padding: 0 8px;
    margin-left: -12px;
    padding-left: 12px;
    @extend .nice-scroll;

    .like-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;

        .userinfo {
            display: flex;
            align-items: center;

            .page-name {
                .shortbio {
                    max-width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                padding:0 8px;

                @media screen and (max-width: $sm-size) {
                    font-size: 12px;
                    padding: 0 4px;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

    }

}


.connections-list {
    @extend .nice-scroll;
    max-height: 500px;
    overflow: auto;
    padding: 24px 8px;
    margin: 0 -8px;
    margin-left: -12px;
    padding-left: 12px;

    figure.profile-standard {
        margin-left: 1.5rem;
    }

    .connection-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;

        .userinfo {
            display: flex;
            align-items: center;

            .page-name {
                .shortbio {
                    max-width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                padding:0 8px;

                @media screen and (max-width: $sm-size) {
                    font-size: 12px;
                    padding: 0 4px;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }

    }

}