.loadingspinner {
    pointer-events: none;
    width: 24px;
    height: 24px;
    border: 2px solid transparent;
    border-color: #eee;
    border-top-color: #191919;
    border-radius: 50%;
    -webkit-animation: loadingspin 1s linear infinite;
    animation: loadingspin 1s linear infinite;
}

@-webkit-keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}