.modal-title {
    position: absolute;
    margin-bottom: 0;
    line-height: 1.6;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    top: 10px;
}

.modal-header {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
}
