.modal-title {
    position: absolute;
    margin-bottom: 0;
    line-height: 1;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    top: 18px;

    @media screen and (max-width: $sm-size) {
        font-size: 12px;
        top: 16px;

    }
}

@media screen and (max-width: $sm-size) {
    .modal-header .close {
        font-size: 20px;
    }
}

.modal-header {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
}

.modal.fade.slide-up {

    .modal-dialog {
        display: flex;
        align-items: flex-end;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 100%;
        height: 100%;
    }

    &:not(.show) .modal-dialog {
        transition: transform 0.3s ease-out;
        transform: translateY(3000px);
        padding-bottom: 0;
        margin-bottom: 0;
        display: flex;
        align-items: flex-end;
    }

    &.show {
        display: flex !important;
        align-items: flex-end;
        justify-content: center;
    }
}
