.new-post-modal {
    .modal-header::after {
        display: none;
    }

    .modal-body {
        padding-top: 0;
    }

    .modal-dialog {
        max-width: 710px;
        padding: 0;
    }

    .modal-content {
        padding-#{$start}: 80px;

        @if($direction==rtl) {
            button.close {
                transform: translateX(76px)
            }
        }

        &::before {
            position: absolute;
            content: " ";
            background: #F5F5F5;
            #{$start}: 0;
            top: 0;
            height: 100%;
            width: 80px;
        }
    }
}

.new-post {
    figure.profile-xxsm {
        margin-#{$end}: 0.75rem;
    }

    .user-profile-name {
        font-size: 0.875rem;
        word-break: break-word;
        max-width: 126px;
    }

    .text {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 0.3rem;
        position: relative;
    }

    .selections {
        padding-bottom: 1.5rem;
        padding-top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 2px solid $gray-200;
        margin-bottom: 1.5rem;
    }

    .selections-open {
        height: 80px;
        opacity: 1;
    }

    .can-tip-post-check {
        display: flex;
        align-items: center;
        width: 140px;
        border: 2px solid $gray-200;
        margin-#{$end}: 0.75rem;

        >div:first-child {
            display: flex;
            align-items: center;
        }

        font-weight: 600;
        font-size: 0.75rem;
        justify-content: space-between;

        padding: .75rem 1rem;
    }

    .selections {
        .categoryandtype {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            max-width: 60%;
            flex: 60%;
            @extend .p-0;

            .tselect {
                max-width: 158px;

                .title-text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        @media screen and (max-width: 700px) {
            .categoryandtype {
                max-width: 100%;
                flex: 100%;
            }
        }

        .userinfo {
            display: flex;
            align-items: center;
            padding-#{$start}: 15px;
            background: $gray-200;
            border-radius: 1.5rem;
            margin-bottom: 10px;
            text-wrap: none;
        }

        .userinfo {
            .image__wrapper {
                margin: 8px;
            }
        }

        .select2 {
            width: 200px !important;
            margin-bottom: 0.7rem;
        }
    }

    .text {
        .textarea {
            width: 100%;
            position: relative;
        }
    }

    .media {
        display: flex;
        justify-content: space-between;
    }

    .submit {
        display: block;
        text-align: center;
        justify-content: center;
    }
}

.tselect {
    .tselect-items .items {
        padding-top: 5px !important;
    }
}

.character-counter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


.new-post-slider-scrollable {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;

    .add-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 1.5rem;
        min-width: 64px;
        height: 64px;
        color: $blue-cta;
        cursor: pointer;
        transition: 0.3s all;

        &:hover {
            border-color: #E0E0E0;
        }
    }

    >.arrow:not(:nth-child(2)) {
        background: #EEEEEE;
        border-radius: 12px;
        font-size: 2rem;
        cursor: pointer;

        &:hover {
            color: $dark;
        }
    }

    .scrollable-list {
        width: 100%;
    }


    .scrollable-list {
        padding: 16px 0;
    }

    &.hasArrow {
        .scrollable-list {
            display: flex;
            position: relative;
            border-top: 0;
            border-bottom: 0;
            width: calc(100% - 96px);
            overflow: hidden;
            margin: 0 16px;
            align-items: center;

            &::after {
                content: " ";
                height: 64px;
                width: 2px;
                background: #E0E0E0;
                position: absolute;
                #{$start}: 0;
            }

            &::before {
                content: " ";
                height: 64px;
                width: 2px;
                background: #E0E0E0;
                position: absolute;
                #{$end}: 0;
            }
        }
    }
}

.new-post-slider {
    display: flex;

    @if $direction=='rtl' {
        direction: ltr;
    }

    transition: 0.3s all;

    min-width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;

    .add-slide {
        @if $direction=='rtl' {
            margin-#{$start}: 12px;
        }

        @else {
            margin-#{$end}: 12px;
        }
    }

    .drag-container {
        display: flex;
        flex-direction: row;
        transition: 0.3s all;
        padding: 0 8px;

        .slide-item {
            position: relative;
            background: #EEEEEE;
            border-radius: 1.5rem;

            min-width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:not(:last-child) {
                @if $direction=='rtl' {
                    margin-#{$start}: 12px;
                }

                @else {
                    margin-#{$end}: 12px;
                }
            }

            >i:not(.delete-icon) {
                font-size: 2rem;
                min-width: 64px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $gray-500;
            }

            &.active {
                background: $dark;

                >i:not(.delete-icon) {
                    color: $white;
                }

                .delete-icon {
                    >span {
                        color: $gray-dark;
                    }
                }
            }

            .delete-icon {
                position: absolute;
                bottom: -12px;
                background: white;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
                border-radius: 8px;
                color: $gray-500;
                display: flex;
                height: 1.5rem;
                width: 1.5rem;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: $danger;
                }

                >i {
                    display: none;
                    font-size: $text-sm;
                }

                >span {
                    display: block;
                    font-size: $text-xsm;
                    font-weight: 600;
                }

            }

            &:hover {
                .delete-icon {
                    >i {
                        display: flex;
                    }

                    >span {
                        display: none;
                    }
                }
            }

        }
    }

}