.new-post-modal {
    .modal-header::after {
        display: none;
    }

    .modal-body {
        padding-top: 0;
    }

    .modal-dialog {
        max-width: 552px;
        padding: 0;
    }
}

.new-post {
    .profile-sm {
        margin-left: 12px;
    }

    .user-profile-name {
        font-size: 14px;
        word-break: break-word;
        max-width: 126px;
    }

    .text {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 0.3rem;
        position: relative;
    }

    .selections {
        padding-bottom: 24px;
        padding-top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 2px solid $fixed-elements;
        margin-bottom: 24px;
    }

    .selections-open {
        height: 80px;
        opacity: 1;
    }

    .can-tip-post-check {
        display: flex;
        align-items: center;
        width: 140px;
        border: 2px solid $fixed-elements;
        height: 44px;
        margin-left: 12px;

        >div:first-child {
            display: flex;
            align-items: center;
        }

        font-weight: 600;
        font-size: 12px;
        justify-content: space-between;

        padding: 10px 12px;
    }

    .selections {
        .categoryandtype {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            max-width: 60%;
            flex: 60%;
            @extend .p-0;

            .tselect {
                max-width: 158px;

                .title-text {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        @media screen and (max-width: 700px) {
            .categoryandtype {
                max-width: 100%;
                flex: 100%;
            }
        }

        .userinfo {
            display: flex;
            align-items: center;
            padding-right: 15px;
            background: $fixed-elements;
            border-radius: 24px;
            margin-bottom: 10px;
            text-wrap: none;
        }

        .userinfo {
            .image__wrapper {
                margin: 8px;
            }
        }

        .select2 {
            width: 200px !important;
            margin-bottom: 0.7rem;
        }
    }

    .text {
        .textarea {
            width: 100%;
            position: relative;
        }

        .textarea {
            label {
                color: $grey;
                position: absolute;
                transition: 0.3s all;
                top: 8px;
                left: 8px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: text;
            }

            textarea {
                border: none;
                resize: none;
                padding: 8px;
            }

            textarea:focus {
                outline: 0;
            }
        }
    }

    .media {
        display: flex;
        justify-content: space-between;
    }

    .submit {
        display: block;
        text-align: center;
        justify-content: center;
    }
}

.tselect {
    .tselect-items .items {
        padding-top: 5px !important;
    }
}

.character-counter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


.new-post-slider-scrollable {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;

    .add-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid #EEEEEE;
        box-sizing: border-box;
        border-radius: 24px;
        min-width: 64px;
        height: 64px;
        color: $action;
        cursor: pointer;
        transition: 0.3s all;

        &:hover {
            border-color: #E0E0E0;
        }
    }

    >.arrow:not(:nth-child(2)) {
        background: #EEEEEE;
        border-radius: 12px;
        font-size: 32px;
        cursor: pointer;

        &:hover {
            color: $dark;
        }
    }

    .scrollable-list {
        width: 100%;
    }


    .scrollable-list {
        padding: 16px 0;
    }

    &.hasArrow {
        .scrollable-list {
            display: flex;
            position: relative;
            border-top: 0;
            border-bottom: 0;
            width: calc(100% - 96px);
            overflow: hidden;
            margin: 0 16px;
            align-items: center;

            &::after {
                content: " ";
                height: 64px;
                width: 2px;
                background: #E0E0E0;
                position: absolute;
                right: 0;
            }

            &::before {
                content: " ";
                height: 64px;
                width: 2px;
                background: #E0E0E0;
                position: absolute;
                left: 0;
            }
        }
    }
}

.new-post-slider {
    display: flex;

    @if $direction=='rtl' {
        direction: ltr;
    }

    transition: 0.3s all;

    min-width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;

    .add-slide {
        @if $direction=='rtl' {
            margin-right: 12px;
        }

        @else {
            margin-left: 12px;
        }
    }

    .drag-container {
        display: flex;
        flex-direction: row;
        transition: 0.3s all;
        padding: 0 8px;

        .slide-item {
            position: relative;
            background: #EEEEEE;
            border-radius: 24px;

            min-width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:not(:last-child) {
                @if $direction=='rtl' {
                    margin-right: 12px;
                }

                @else {
                    margin-left: 12px;
                }
            }

            >i:not(.delete-icon) {
                font-size: 32px;
                min-width: 64px;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $grey;
            }

            &.active {
                background: $dark;

                >i:not(.delete-icon) {
                    color: $white;

                }
            }

            .delete-icon {
                position: absolute;
                bottom: -12px;
                background: white;
                display: none;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
                border-radius: 8px;
                color: $grey;

                height: 24px;
                width: 24px;
                align-items: center;
                justify-content: center;
                font-size: 16px;

                &:hover {
                    color: $danger;
                }
            }

            &:hover {
                .delete-icon {
                    display: flex;
                }
            }

        }
    }

}