.new-post {
    .text {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 0.3rem;
        position: relative;
    }

    .selections {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .selections-open {
        height: 80px;
        opacity: 1;
    }

    .selections {
        .categoryandtype {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            max-width: 60%;
            flex: 60%;
            @extend .p-0;
        }

        @media screen and (max-width: 700px) {
            .categoryandtype {
                max-width: 100%;
                flex: 100%;
            }
        }

        .userinfo {
            display: flex;
            align-items: center;
            padding-right: 15px;
            background: $fixed-elements;
            border-radius: 24px;
            margin-bottom: 10px;
            text-wrap: none;
        }

        .userinfo {
            .image__wrapper {
                margin: 8px;
            }
        }

        .select2 {
            width: 200px !important;
            margin-bottom: 0.7rem;
        }
    }

    .text {
        .textarea {
            width: 100%;
            position: relative;
        }

        .textarea {
            label {
                color: $grey;
                position: absolute;
                transition: 0.3s all;
                top: 8px;
                left: 8px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: text;
            }

            textarea {
                border: none;
                resize: none;
                padding: 8px;
            }

            textarea:focus {
                outline: 0;
            }
        }

        img {
            max-width: 64px;
            max-height: 64px;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            transition: 0.8s all;
        }
    }

    .media {
        display: flex;
        justify-content: space-between;
    }

    .submit {
        display: block;
        text-align: center;
        justify-content: center;
    }
}

.tselect {
    .tselect-items .items {
        padding-top: 5px !important;
    }
}

.character-counter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
