.nice-scroll {
    scrollbar-color: $icons $fixed-elements;
    scrollbar-width: thin;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        cursor: pointer;
        width: 6px;
        background: $fixed-elements;

        max-height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        cursor: -webkit-grab;
        cursor: grab;
        width: 6px;
        background-color: $icons;
    }

    &::-webkit-scrollbar-thumb:active {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}