.nice-scroll {
    scrollbar-color: $light $gray-200;
    scrollbar-width: thin;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        cursor: pointer;
        width: 6px;
        background: $gray-200;

        max-height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        cursor: -webkit-grab;
        cursor: grab;
        width: 6px;
        background-color: $light;
    }

    &::-webkit-scrollbar-thumb:active {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}

.CodeMirror-hscrollbar,
.CodeMirror-vscrollbar {
    @extend .nice-scroll;

    .CodeMirror-scrollbar-filler {
        height: 6px !important;
        width: 6px !important;
    }
}