.notification-item {
    &:not(:last-child) {
        .post-notification {
            border-bottom: 2px solid #E0E0E0;
        }
    }

    &:last-child {
        .post-notification {
            padding-bottom: 0;
        }
    }
}

.post-notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 0;
    width: 100%;
}

.bg-dede {
    background: $border-color
}

.notifications-group {
    >h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: $dark;
        margin-bottom: 0;
    }

    &:not(:first-child) {
        >h3 {
            margin-top: 32px;
        }
    }
}

.post-notification {
    .notification-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .profile-xxsm {
            margin-bottom: 0;

            img {
                border: 4px solid $body-bg;
            }
        }

        >.notification-title {
            display: flex;
            align-items: center;

            >.profiles {
                margin-left: 12px;
                display: flex;

                >.profile-xxsm:not(:first-child) {
                    margin-right: -20px;
                }
            }

            .date-text {
                margin-right: 12px;
                font-size: 12px;
                color: $text-color;

                @media screen and (max-width: $sm-size) {
                    font-size: 10px;
                }
            }

            .notification-text {
                font-weight: 600;

                .title {
                    display: flex;
                    align-items: center;
                    color: $dark;
                    font-size: 16px;
                    margin-bottom: 4px;

                    @media screen and (max-width: $sm-size) {
                        font-size: 14px;
                    }
                }

                .action {
                    color: $grey;
                    font-size: 14px;

                    @media screen and (max-width: $sm-size) {
                        font-size: 12px;
                    }
                }

            }

        }
    }

    .notif-icon {
        @extend .text-muted;
    }

    .notification-content {
        background: $white;
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        box-shadow: $card-shadow;

        .comment-text {
            margin: 24px;
            margin-bottom: 0;
            padding: 16px 24px;
            background-color: $body-bg;
            font-size: 14px;
        }

        @for $i from 1 through 6 {
            h#{$i} {
                unicode-bidi: -moz-plaintext;
                unicode-bidi: plaintext;
            }
        }

        .post-content {
            padding: 24px;
            word-wrap: break-word;


            @for $i from 1 through 6 {
                h#{$i} {
                    font-size: 16px;
                    line-height: 1.5;
                }
            }

            .post-content--text:not(:last-child) {
                margin-bottom: 16px;
            }

            .slider-media-image {
                margin: 0;
            }

        }
    }
}

.ternobo-notification {
    background: $white;
    padding: 20px 24px;

    .notification-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        .title {
            font-weight: 600;
            font-size: 16px;
            margin-left: 8px;

            @media screen and (max-width:$sm-size) {
                margin-left: 4px;
                font-size: 14px;
            }
        }

        .time {
            font-size: 12px;
            color: $text-color;

            @media screen and (max-width:$sm-size) {
                font-size: 10px;
            }
        }

        .logo-icon {
            height: 24px;
            width: 24px;
        }
    }
}