.notification-item:not(:last-child) {
    .post-notification {
        border-bottom: 2px solid #E0E0E0;
    }
}

.post-notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 0;
    width: 100%;
}

.bg-dede {
    background: $border-color
}

.notifications-group {
    >h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: $dark;
        margin-bottom: 28px;
    }

    &:not(:first-child) {
        >h3 {
            margin-top: 48px;
        }
    }
}

.post-notification {
    .notification-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.notification-title {
            display: flex;

            >.profiles {
                margin-left: 12px;
                display: flex;

                figure.profile-xxsm:not(:first-child) {
                    margin-right: -20px;
                }
            }

            .date-text {
                margin-right: 12px;
                font-size: 12px;
                color: #C8C8C8;

                @media screen and (max-width: $sm-size) {
                    font-size: 10px;
                }
            }

            .notification-text {
                font-weight: 600;

                .title {
                    display: flex;
                    color: $dark;
                    font-size: 16px;

                    @media screen and (max-width: $sm-size) {
                        font-size: 14px;
                    }
                }

                .action {
                    color: $grey;
                    font-size: 14px;

                    @media screen and (max-width: $sm-size) {
                        font-size: 12px;
                    }
                }

            }

        }
    }

    .notif-icon {
        @extend .text-muted;
    }

    .notification-content {
        background: $white;
        display: flex;
        flex-direction: column;

        .comment-text {
            margin: 24px;
            margin-bottom: 0;
            padding: 16px 24px;
            background-color: $body-bg;
        }

        .post-content {
            padding: 24px;
        }
    }
}
