.otp-input {
    >div:not(:first-child) {
        margin-#{$start}: 12px;
    }
}

.otp-input-single {
    max-width: 16px;

    .input {
        padding: 8px 0;
        text-align: center;
        padding-bottom: 0;
        max-width: 100%;
    }
}