.password-strength {
    display: flex;
    align-items: center;

    .progress {
        width: calc(100% - 40px);
    }

    .strength {
        white-space: nowrap;
        margin-right: 1rem;

        font-weight: 600;
        font-size: 0.75rem;
    }
}

.text-progress-weak {
    color: $orange;
}

.text-progress-medium {
    color: $yellow-800;
}