.password-strength {
    display: flex;
    align-items: center;

    .progress {
        width: 276px;
    }

    .strength {
        white-space: nowrap;
        margin-#{$start}: 1rem;

        font-weight: 600;
        font-size: 0.75rem;
    }
}


.text-progress-tooweak {
    color: #C57B46;
}

.text-progress-weak {
    color: #C5B046;
}

.text-progress-medium {
    color: #BDC65B;
}

.text-progress-good {
    color: #76C149;
}

.text-progress-strong {
    color: #4CBF7B;
}



.bg-progress-tooweak {
    background: #C57B46 !important;
}

.bg-progress-weak {
    background: #C5B046 !important;
}

.bg-progress-medium {
    background: #BDC65B !important;
}

.bg-progress-good {
    background: #76C149 !important;
}

.bg-progress-strong {
    background: #4CBF7B !important;
}