.people-sugestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    flex-wrap: nowrap;

    figure.profile-sm {
        margin-bottom: 0;
        margin-left: 12px;
    }

    .suggestion-info-link {
        display: flex;
        align-items: center;
    }

    .suggestion-info {
        display: flex;
        flex-direction: column;

        .person-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: $dark;
        }

        .person-short-bio {
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: $grey;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 130px;
        }
    }
}

.people-suggestion-card-body {
    padding: 12px 24px !important;
}