@import "../variables";

.post-menu {
    background-color: $fixed-elements;
    margin: 0;
    padding: 0;

    li {
        padding: 8px 16px;
        color: $sub-heading;

        .item-icon {
            margin-left: 12px;
        }

        &:hover {
            background-color: #e0e0e0;
        }
    }
}

.posts {
    @extend .row;
    @extend .mx-0;
    @extend .mb-3;
}

.post-box {
    @extend .card;
    @extend .px-0;
    @extend .col-md-12;
    padding: 16px 0;

    @media screen and (max-width: $sm-size) {
        padding: 12px 0;
    }

    display: flex;
    flex-direction: column;
}

.post-box {


    .category-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px 6px;
        background: $fixed-elements;
        color: $grey;
        margin-bottom: 0 !important;

        i {
            font-size: 20px;
            margin-left: 3px;
        }
    }

    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
        padding-left: 16px;
        position: relative;

        // &::after {
        //     content: " ";
        //     position: absolute;
        //     width: calc(100% - 48px);
        //     left: 24px;
        //     right: 24px;
        //     bottom: 0;
        //     height: 2px;
        //     background: $border-color;

        //     @media screen and (max-width: $sm-size) {
        //         width: calc(100% - 24px);
        //         left: 12px;
        //         right: 12px;
        //     }

        // }
    }

    .post-header {
        .publisher {
            display: flex;
            align-items: center;

            .publisher--name {
                font-size: 14px;
                font-weight: 600;

                @media screen and (max-width: $sm-size) {
                    font-size: 12px;
                }
            }

            .publisher--shortbio {
                font-size: 12px;
                color: $grey;

                @media screen and (max-width: $sm-size) {
                    font-size: 10px;
                }
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: $sm-size) {
                i {
                    font-size: 20px;
                }
            }

        }

        .publisher {
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 0.5rem;
            }

            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }

        }
    }

    .post-body {
        flex: 1 1 auto;
        padding: 16px 24px;
        padding-bottom: 20px;
        text-align: justify;
        position: relative;
        line-height: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        transition: 0.3s all;
        direction: rtl;
        unicode-bidi: -moz-plaintext;
        unicode-bidi: plaintext;


        ::-moz-selection {
            color: $dark;
            background: #EFDC36;
        }

        ::selection {
            color: $dark;
            background: #EFDC36;
        }



        .text {
            max-height: 84px;
            margin: 0;
            font-size: 14px;
            color: $text-color;

            @media screen and (max-width: $sm-size) {
                font-size: 12px;
            }

            &.open {
                max-height: unset;
            }

            a {
                color: $action;
            }
        }


    }

    .post-body {
        .articleimg {
            margin: -24px -24px 0;
            max-width: 645px;
            max-height: 480px;
        }

        .articleimg {
            img {
                max-width: 100%;
                max-height: 480px;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }

        .images {
            img {
                background: #e0e0e0;
                min-width: 100%;
                max-width: 100%;
                max-height: 480px;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }

    .post-footer {
        .tagandcate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 24px;

            @media screen and (max-width: $sm-size) {
                padding: 16px 12px;
            }

            padding-top: 0;
        }

        .tagandcate {
            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: center;
            }

            .tags {
                .tag-item {
                    background: $fixed-elements;
                    color: $grey;
                    cursor: pointer;
                    margin-left: 8px;
                    padding: 4px 16px;
                    transition: 0.3s all;
                    font-size: 14px;

                    @media screen and (max-width: $sm-size) {
                        padding: 2px 12px;
                        font-size: 12px;
                        vertical-align: baseline;
                        height: 20px;
                        margin-left: 4px;
                    }

                }

                .tag-item:hover {
                    background: $border-color;
                    color: $grey;
                }
            }

            .category {
                display: flex;
                align-items: center;
                transition: 0.3s all;

                @media screen and (max-width: $sm-size) {
                    font-size: 12px;

                    i {
                        font-size: 16px;
                    }
                }

            }

            .category {
                .text-light {
                    transition: 0.3s all;
                }
            }
        }

        .images {
            width: 100%;
        }

        .images {
            img {
                width: 100%;
            }
        }

        .actions {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 16px;
            padding-left: 20px;
            padding-right: 24px;

            @media screen and (max-width: $sm-size) {
                padding-left: 12px;
                padding-right: 12px;
            }

            @media screen and (max-width: $sm-size) {
                padding-top: 12px;

                i {
                    font-size: 20px;
                }
            }
        }

        .post-likes-text {
            position: relative;

            &::before {
                content: " ";
                position: absolute;
                left: 24px;
                right: 24px;
                top: 0;
                height: 2px;
                background: $fixed-elements;

                @media screen and (max-width: $sm-size) {
                    width: calc(100% - 24px);
                    left: 12px;
                    right: 12px;
                }
            }
        }

        .actions {
            .buttons {
                display: flex;
                align-items: center;
            }

            text {
                @extend .text-muted;
            }

            .buttons {
                i {
                    margin-left: 0.5rem;
                    color: $grey;
                    cursor: pointer;
                    transition: 0.3s all;
                }

                i:last-child {
                    margin-left: 0;
                }
            }

            i:hover {
                color: $dark;
            }
        }
    }

    [data-text]::after {
        content: attr(data-text);
    }


    .comments {
        padding: 0 20px;
    }

}

.tagandcate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
}

.tagandcate {

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
    }

    .tags {
        .tag-item {
            background: $fixed-elements;
            color: $grey;
            cursor: pointer;
            margin-left: 8px;
            padding: 4px 16px;
            transition: 0.3s all;
            font-size: 14px;

            @media screen and (max-width: $sm-size) {
                padding: 2px 12px;
                font-size: 12px;
                vertical-align: baseline;
                height: 20px;
                margin-left: 4px;
            }

        }

        .tag-item:hover {
            background: $border-color;
            color: $grey;
        }
    }

    .category {
        display: flex;
        align-items: center;
        transition: 0.3s all;
    }

    .category {
        .text-light {
            transition: 0.3s all;
        }
    }
}

.actionText {
    padding: 8px;
    font-size: 14px;
    color: #757575;

    @media screen and (max-width: $sm-size) {
        font-size: 12px;
    }
}

.article-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
    margin-right: -8px;

    @media screen and (max-width: $sm-size) {
        margin-top: 12px;
        font-size: 16px;
    }
}

.reshared-post {
    background: #EEEEEE;
}

.post-time {
    display: flex;
    font-size: 10px;
    color: #C8C8C8;
    flex-direction: row !important;
    margin: 0 !important;
    justify-content: flex-start !important;

    i {
        font-size: 14px;
        color: #C8C8C8 !important;
    }
}

.post-likes-text {
    font-size: 14px;

    @media screen and (max-width: $sm-size) {
        font-size: 10px;
    }
}

.slider-content {
    h2 {
        unicode-bidi: -moz-plaintext;
        unicode-bidi: plaintext;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        text-align: start;

        @media screen and(max-width: $sm-size) {
            font-size: 16px;
        }
    }

    div.post-content--text {
        margin-bottom: 16px;
    }

    pre {
        font-size: 16px;
        line-height: 24px;
        white-space: pre-line;
        width: 100%;
        margin-bottom: 0;

        @media screen and(max-width: $sm-size) {
            font-size: 12px;
        }
    }
}


.slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    i:first-child {
        margin-right: 12px;

    }

    i:last-child {
        margin-left: 12px;
    }

    .dot {
        width: 12px;
        height: 12px;
        background: #EEEEEE;
        border-radius: 4px;

        &:not(:nth-last-child(2)) {
            margin-right: 8px;
        }

        &.active {
            background: #424242;
        }
    }
}

.slider-media-image {
    margin: 0 -22px;

    &:not(:last-child) {
        margin-bottom: 12px
    }

}

.post-content--text {
    >a {
        color: $action;
    }
}