.post-menu {
    background-color: $gray-200;
    margin: 0;
    padding: 0;
    font-size: 1rem;

    li {
        padding: 1rem 1.5rem;
        color: $gray-500;
        cursor: pointer;

        i {
            margin-#{$end}: 1rem;
        }

        &:hover {
            background-color: #e0e0e0;
        }
    }
}

.posts {
    display: flex;
    flex-direction: column;
    @extend .mx-0;
    @extend .mb-3;
}

.post-box {
    @extend .card;
    @extend .px-0;
    @extend .col-md-12;
    padding: 1.5rem 0 1rem;


    display: flex;
    flex-direction: column;
}

.post-box {

    .category-item {
        padding: 2px 8px;
        background: $gray-200;
        margin-#{$end}: 12px;
        color: $gray-500;
        margin-bottom: 0 !important;
        font-size: $text-xsm;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media screen and (max-width: $sm-size) {
            max-width: 84px;
            font-size: $text-xxxsm;
        }

        i {
            font-size: $text-lg;
            margin-#{$end}: 3px;
        }
    }

    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem 1.25rem;
        padding-#{$end}: 1rem;
        position: relative;
    }

    .post-header {
        .publisher {
            display: flex;
            align-items: center;

            .publisher--name {
                font-size: 0.875rem;
                font-weight: 600;
            }

            .publisher--shortbio {
                font-size: 0.75rem;
                color: $gray-500;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .publisher {
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-#{$start}: 0.75rem;
            }

            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }

        }
    }

    .post-body {
        flex: 1 1 auto;
        padding: 1rem 1.5rem;
        padding-bottom: 0;
        text-align: justify;
        position: relative;
        line-height: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        transition: 0.3s all;
        direction: rtl;
        unicode-bidi: -moz-plaintext;
        unicode-bidi: plaintext;
        display: flex;
        flex-direction: column;

        .slider-content {
            flex: 1 1 auto;
        }

        &:last-child {
            padding-bottom: 0.75rem;
        }

        .skeleton-container {
            >.pu-skeleton:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }

        ::-moz-selection {
            color: $dark;
            background: #BDE8FF;
        }

        ::selection {
            color: $dark;
            background: #BDE8FF;
            ;
        }



        .text {
            max-height: 84px;
            margin: 0;
            font-size: 0.875rem;
            color: $text-color;

            &.open {
                max-height: unset;
            }

            a {
                color: $blue-cta;
            }
        }


    }

    .post-body {
        .articleimg {
            margin: -1.5rem -1.5re, 0;
            max-width: 645px;
            max-height: 480px;
        }

        .articleimg {
            img {
                max-width: 100%;
                max-height: 480px;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }

        .images {
            img {
                background: #e0e0e0;
                min-width: 100%;
                max-width: 100%;
                max-height: 480px;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }

    .post-footer {
        .tagandcate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;

            padding-top: 0;
        }

        .tagandcate {
            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                align-items: center;
            }

            .tags {
                .tag-item {
                    background: $gray-200;
                    color: $gray-500;
                    cursor: pointer;
                    margin-#{$end}: 8px;
                    padding: 4px 16px;
                    transition: 0.3s all;
                    font-size: $text-xsm;

                    @media screen and (max-width: $sm-size) {
                        padding: 2px 12px;
                        font-size: $text-xxsm;
                        vertical-align: baseline;
                        height: 20px;
                        margin-#{$end}: 4px;
                    }

                }

                .tag-item:hover {
                    background: $gray-300;
                    color: $gray-500;
                }
            }

            .category {
                display: flex;
                align-items: center;
                transition: 0.3s all;

                @media screen and (max-width: $sm-size) {
                    font-size: $text-xxsm;

                    i {
                        font-size: $text-sm;
                    }
                }

            }

            .category {
                .text-light {
                    transition: 0.3s all;
                }
            }
        }

        .images {
            width: 100%;
        }

        .images {
            img {
                width: 100%;
            }
        }

        .actions {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.25rem 1rem;

            @if $direction==ltr {
                flex-direction: row-reverse;
            }

            &:last-child {
                padding-bottom: 0;
            }

            @media screen and (max-width: $sm-size) {
                padding-#{$end}: 12px;
                padding-#{$start}: 12px;
            }

            @media screen and (max-width: $sm-size) {
                padding-top: 12px;

                i {
                    font-size: $text-lg;
                }
            }
        }

        .post-likes-text {
            position: relative;
            padding: 1rem 1.5rem;
            padding-bottom: 0;
            font-size: 0.875rem;

            &::before {
                content: " ";
                position: absolute;
                #{$end}: 1.5rem;
                #{$start}: 1.5rem;
                top: 0;
                height: 2px;
                background: $gray-200;

                @media screen and (max-width: $sm-size) {
                    width: calc(100% - 3rem);
                }
            }
        }

        .actions {
            text {
                @extend .text-muted;
            }

            .buttons {
                display: flex;
                align-items: center;
                margin: 0 -0.5rem;

                @if $direction==ltr {
                    flex-direction: row-reverse;
                }

                i {
                    margin: 0 0.5rem;



                    &:not(.disabled) {
                        color: $gray-500;

                        &.active,
                        &:hover {
                            color: $dark;
                        }

                        cursor: pointer;
                        transition: 0.3s all;
                    }

                }
            }
        }
    }

    [data-text]::after {
        content: attr(data-text);
    }


    .comments {
        padding: 1.5rem;
    }

}

.tagandcate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;
}

.tagandcate {

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        align-items: center;
    }

    .tags {
        .tag-item {
            background: $gray-200;
            color: $gray-500;
            cursor: pointer;
            margin-#{$end}: 0.5rem;
            padding: 0.25rem 1rem;
            transition: 0.3s all;
            font-size: 0.875rem;

            @media screen and (max-width: $sm-size) {
                vertical-align: baseline;
                height: 20px;
            }

        }

        .tag-item:hover {
            background: $gray-300;
            color: $gray-500;
        }
    }

    .category {
        display: flex;
        align-items: center;
        transition: 0.3s all;
    }

    .category {
        .text-light {
            transition: 0.3s all;
        }
    }
}

.actionText {
    position: relative;
    padding: 1rem 1.5rem;
    font-size: 0.875rem;
    color: #757575;

    &::after {
        position: absolute;
        content: " ";
        width: calc(100% - 3rem);
        #{$end}: 1.5rem;
        #{$start}: 1.5rem;
        bottom: 0;
        height: 2px;
        background: $light;
    }
}

.article-title {
    font-size: $text-lg;
    font-weight: 600;
    margin-top: 1rem;
    margin-#{$start}: -8px;

}

.reshared-post {
    background: #EEEEEE;
}

.post-time {
    display: flex;
    font-size: $text-xxxsm;
    color: #C8C8C8;
    flex-direction: row !important;
    margin: 0 !important;
    justify-content: flex-start !important;
}


.slider-content {
    ul {
        list-style: disc;
    }

    ol {
        list-style: num;
    }

    h2 {
        unicode-bidi: -moz-plaintext;
        unicode-bidi: plaintext;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 28px;
        text-align: start;
    }

    div.post-content--text {
        margin-bottom: 1rem;
        text-align: start;

        a {
            color: $blue-cta;

            &:hover {
                color: $blue-hover;
            }
        }
    }

    pre {
        font-size: 1rem;
        white-space: pre-line;
        width: 100%;
        margin-bottom: 0;
        line-height: 1.8;
    }
}


.slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;


    i {
        background: #F5F5F5;
        border-radius: 4px;
        font-size: $text-sm;
    }

    i:first-child {
        margin: 0 0.75rem;
    }

    i:last-child {
        margin: 0 0.75rem;
    }

    .dot {
        width: 12px;
        height: 12px;
        background: #EEEEEE;
        border-radius: 4px;

        &:not(:nth-last-child(2)) {
            @if($direction=='rtl') {
                margin-#{$start}: 0.5rem;
            }

            @else {
                margin-#{$end}: 0.5rem;
            }
        }

        &.active {
            background: #424242;
        }
    }
}

.slider-media-image {
    margin: 0 -1.5rem;
    will-change: auto;

    &:not(:first-child) {
        margin-top: 1.5rem;
    }

    img {
        width: 100%;
        min-height: 112px;
        max-height: 744px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    &:not(:last-child) {
        margin-bottom: 0.75rem
    }

    &:last-child {
        margin-bottom: -1.75rem;
    }

}

.post-content--text {
    pre {
        margin-bottom: 0;

        * {
            unicode-bidi: -moz-plaintext;
            unicode-bidi: plaintext;
        }
    }

    >a {
        color: $blue-cta;
    }
}