
.profile-xsm {
    border-radius: 50%;
    height: 44px;
    width: 44px;
}

.profile-sm {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.profile-md {
    border-radius: 50%;
    height: 72px;
    width: 72px;
}

.profile-lg{
    height: 88px;
    width: 88px;
    border-radius: 50%;
}

.profile-xlg{
    height: 148px;
    width: 148px;
    border-radius: 50%;
}
