.profile-xxsm {
    border-radius: 50%;
    height: 20px;
    width: 20px;

    min-height: 20px;
    max-height: 20px;
    min-width: 20px;
    max-width: 20px;
}

.profile-xsm {
    border-radius: 50%;
    height: 40px;
    width: 40px;

    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;

}

.profile-sm {
    border-radius: 50%;
    height: 2.75rem;
    width: 2.75rem;

    min-height: 2.75rem;
    max-height: 2.75rem;
    min-width: 2.75rem;
    max-width: 2.75rem;
}


.profile-standard {
    border-radius: 50%;
    height: 48px;
    width: 48px;

    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}

.profile-md {
    border-radius: 50%;
    height: 64px;
    width: 64px;

    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
}

.profile-lg {
    height: 72px;
    width: 72px;
    border-radius: 50%;

    min-height: 72px;
    max-height: 72px;
    min-width: 72px;
    max-width: 72px;
}

.profile-xlg {
    border: 8px solid $white;
    height: 88px;
    width: 88px;
    border-radius: 50%;

    min-height: 88px;
    max-height: 88px;
    min-width: 88px;
    max-width: 88px;
}

.profile-xxlg {
    height: 100px;
    width: 100px;
    border-radius: 50%;

    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
}