.profile-xxsm {
    border-radius: 50%;
    height: 40px;
    width: 40px;

    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
}

.profile-xsm {
    border-radius: 50%;
    height: 44px;
    width: 44px;

    min-height: 44px;
    max-height: 44px;
    min-width: 44px;
    max-width: 44px;

}

.profile-sm {
    border-radius: 50%;
    height: 48px;
    width: 48px;

    min-height: 48px;
    max-height: 48px;
    min-width: 48px;
    max-width: 48px;
}


.profile-standard {
    border-radius: 50%;
    height: 64px;
    width: 64px;

    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
}

.profile-md {
    border-radius: 50%;
    height: 72px;
    width: 72px;

    min-height: 72px;
    max-height: 72px;
    min-width: 72px;
    max-width: 72px;
}

.profile-lg {
    height: 88px;
    width: 88px;
    border-radius: 50%;

    min-height: 88px;
    max-height: 88px;
    min-width: 88px;
    max-width: 88px;
}

.profile-100px {
    border: 8px solid $white;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
}

.profile-xlg {
    height: 120px;
    width: 120px;
    border-radius: 50%;

    min-height: 120px;
    max-height: 120px;
    min-width: 120px;
    max-width: 120px;
}

@media screen and (max-width: 768px) {
    .profile-xsm {
        border-radius: 50%;
        height: 20px;
        width: 20px;

        min-height: 20px;
        max-height: 20px;
        min-width: 20px;
        max-width: 20px;

    }

    .profile-sm {
        border-radius: 50%;
        height: 28px;
        width: 28px;

        min-height: 28px;
        max-height: 28px;
        min-width: 28px;
        max-width: 28px;
    }

    .profile-md {
        border-radius: 50%;
        height: 36px;
        width: 36px;

        min-height: 36px;
        max-height: 36px;
        min-width: 36px;
        max-width: 36px;
    }

    .profile-lg {
        height: 40px;
        width: 40px;
        border-radius: 50%;

        min-height: 40px;
        max-height: 40px;
        min-width: 40px;
        max-width: 40px;
    }

    .profile-xlg {
        height: 88px;
        width: 88px;
        border-radius: 50%;

        min-height: 88px;
        max-height: 88px;
        min-width: 88px;
        max-width: 88px;
    }
}

.pageinfo-card {
    z-index: 2;
}

.profile-tabs {
    padding-bottom: 24px;

    @media screen and(max-width: $sm-size) {
        padding-top: 24px;
        padding-bottom: 16px;

    }

    .tabs>ul {
        align-items: center;
        margin-bottom: 0;
        padding-bottom: 0;

        @media screen and(max-width: $sm-size) {
            padding-bottom: 16px;

        }
    }

    li {
        &.is-active {
            font-weight: 600;
        }

        a {
            font-size: 16px;

            @media screen and(max-width: $sm-size) {
                font-size: 12px;

            }
        }
    }

    .btn-edit {
        font-size: 16px;

        i {
            font-size: 24px;

            @media screen and(max-width: $sm-size) {
                font-size: 16px;
            }
        }

    }

}