.report-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s all;

    padding: 16px 4px;
    height: 52px;
    margin: 8px 20px;

    &:hover {
        background-color: $body-bg;
    }
}

.report-modal {
    .moreinfo {

        margin-bottom: 1.5rem;
    }
}

.report-reason {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0.5rem;
}

.report-reason {
    label {
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.reportreseaons {
    margin: -16px;
}

.modal-loading-container {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}