.settings-item {
    padding: 24px 32px;
    color: $grey;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    &.active {
        color: $dark;
    }

    &.active,
    &:hover {
        background: $body-bg;
    }
}

.setting-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    .name {
        font-weight: 600;
        color: $grey;

        i {
            color: $text-color;
        }
    }

    &:not(:last-child) {
        border-bottom: 1px solid $icons;
    }
}

.setting-btn {
    padding: 8px;
    width: 40px;
    height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: $light;
    background: $body-bg;
    border-radius: 50%;
}
