@media screen and (max-width: $sm-size) {

    .settings-card {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
    }
}

.sticky-settings {
    position: -webkit-sticky;
    position: sticky;
    top: 72px;
    z-index: 99;
}

.settings-item {
    padding: 24px 2rem;
    color: $grey;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;

    @media screen and (max-width: $sm-size) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 16px;
        font-size: 12px !important;
    }

    i {
        @media screen and (max-width: $sm-size) {
            font-size: 18px !important;
        }
    }

    img {
        @media screen and (max-width: $sm-size) {
            max-width: 18px !important;
        }
    }

    &.active {

        font-weight: 600;
        color: $dark;
    }

    &.active,
    &:hover {
        background: $body-bg;
    }
}

.badge-bg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    padding: 12px;
    border-radius: 12px;
    color: $dark;
    background-color: $body-bg;

    font-weight: 600;
    line-height: 1;
    vertical-align: bottom;

}

.settings-card-body {
    padding: 4px 2rem;
}

.setting-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .name {
        font-weight: 600;
        color: $dark;
        font-size: 16px;

        @media screen and (max-width: $sm-size) {
            font-size: 12px !important;
        }

        i {
            color: $text-color;

            @media screen and (max-width: $sm-size) {
                font-size: 18px !important;
            }
        }
    }

    .content {
        @media screen and (max-width: $sm-size) {
            font-size: 12px !important;
        }
    }

    &:not(:last-child) {
        border-bottom: 2px solid $icons;
    }
}

.setting-btn {
    padding: 2px;
    width: 2rem;
    height: 2rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: $light;
    background: transparent;
    border: 2px solid $icons;
    border-radius: 12px;

    font-size: 20px !important;
    ;


    @media screen and (max-width: $sm-size) {
        font-size: 16px !important;
    }
}

.twfa-select-way-buttons {
    display: flex;
    align-items: center;
    margin-top: 34px;

    @media screen and (max-width: $sm-size) {
        flex-direction: column;
    }

    button {
        width: 220px;
        background: $background;
        color: $dark;

        i {
            margin-left: 8px;
            font-size: 16px;
        }

        @media screen and (min-width: $sm-size) {
            &:first-child {
                margin-left: 1.5rem;
            }
        }
    }
}