.skills-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
        width: 100%;
        flex: 100%;
        padding: 7px 0;

        .skill-name {
            display: flex;
            align-items: center;
            font-size: 16px;

            @media screen and (max-width:$sm-size) {
                font-size: 12px;
            }

            font-weight: 600;

            .endorsement {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                flex-direction: column;
                padding-left: 12px;
                margin-left: 12px;
                border-left: 2px solid $icons;
                cursor: pointer;

                @media screen and (max-width: $sm-size) {
                    font-size: 12px;
                }

                i {
                    font-size: 30px;

                    @media screen and (max-width: $sm-size) {
                        font-size: 24px;
                    }
                }

                .action,
                i {
                    color: $light;
                    transition: 0.3s all;
                }

                &:hover {

                    .action,
                    i {
                        color: $dark;
                    }
                }
            }
        }

        .editItem {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            .actions {
                border-radius: 32px;
                display: flex;
                flex-direction: row;
                color: $icons;
                background: $body-bg;
                margin-left: 24px;
                padding: 8px;
                width: 78px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media screen and (max-width: $sm-size) {
                    max-width: 56px;
                    max-height: 28px;

                    i {
                        font-size: 20px;
                    }
                }

            }

        }

    }

    li.edit {
        width: 100%;
        flex: 100%;
        padding: 7px 0;

        &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 1px solid #C8C8C8;
            margin-bottom: 1rem;
        }
    }

}

.show-all-skills {
    font-size: 14px;
    color: $action;
    @extend .clickable;

    @media screen and (max-width:$sm-size) {
        font-size: 12px;
    }
}
