.skills-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
        width: 100%;
        flex: 100%;

        padding: 8px 0;

        @media screen and (max-width: $sm-size) {
            padding: 12px 0;
        }

        &:first-child {
            padding-top: 0;
        }

        position: relative;

        &.skill-edit {
            padding: 20px 0;

            &:not(:last-child)::after {
                position: absolute;
                content: " ";
                bottom: 0;
                height: 2px;
                background-color: #EEE;
                left: 24px;
                right: 24px;
                width: calc(100% - 48px);

                @media screen and (max-width: $sm-size) {
                    left: 16px;
                    right: 16px;
                    width: calc(100% - 32px);
                }
            }
        }



        .skill-name {
            display: flex;
            align-items: center;
            font-size: 16px;

            @media screen and (max-width:$sm-size) {
                font-size: 12px;
            }

            font-weight: 600;

            .endorsement {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                flex-direction: column;
                padding-left: 20px;
                margin-left: 20px;
                border-left: 2px solid $icons;
                cursor: pointer;

                @media screen and (max-width: $sm-size) {
                    font-size: 12px;
                    padding-left: 14px;
                    margin-left: 12px;
                }


                &.disabled {
                    i {
                        color: $grey;

                        &:hover {
                            color: $grey;
                        }
                    }
                }


                i {
                    color: $text-color;
                    font-size: 30px;

                    @media screen and (max-width: $sm-size) {
                        font-size: 24px;
                    }
                }

                .action,
                i {
                    color: $light;
                    transition: 0.3s all;
                }

                &:not(.disabled):hover {

                    .action,
                    i {
                        color: $dark;
                    }
                }
            }
        }

        .editItem {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            .actions {
                border-radius: 16px;
                display: flex;
                flex-direction: row;
                color: $grey;
                background: $body-bg;
                margin-left: 24px;
                padding: 8px 8px;
                width: 80px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                >* {
                    margin: 0 4px;
                }

                @media screen and (max-width: $sm-size) {
                    max-width: 56px;
                    max-height: 28px;

                    i {
                        font-size: 20px;
                    }
                }

            }

        }

    }

    li.edit {
        width: 100%;
        flex: 100%;
        padding: 7px 0;

        &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 1px solid #C8C8C8;
            margin-bottom: 1rem;
        }
    }

}

.show-all-skills {
    font-size: 16px;
    color: $icons;
    @extend .clickable;
    margin-top: 32px;

    @media screen and (max-width:$sm-size) {
        font-size: 12px;
    }
}

.skill-credits {
    display: flex;
    align-items: center;
    margin: 0 -12px;
    color: $grey;
    font-weight: normal;

    a {
        color: $grey;

    }

    strong {
        font-weight: 600;
    }

    .credit-icon {
        font-weight: 600;
        vertical-align: middle;
        height: 20px;

        i {
            color: $grey;
            font-size: 20px;
            margin-right: 4px;
            vertical-align: middle;
        }

    }

    >* {
        padding: 0 12px;

        &:not(:last-child) {
            position: relative;

            &::after {
                position: absolute;
                content: " ";
                left: 0;
                width: 2px;
                height: 20px;
                background: $icons;
            }
        }
    }
}