
.socials-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
        width: 25%;
        flex: 25%;
        padding: 7px 0;

        .editItem {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            @media screen and(max-width: 622px) {
                flex-wrap: wrap;
            }
        }

    }

    li.edit {
        width: 100%;
        flex: 100%;
        padding: 7px 0;

        &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 1px solid #C8C8C8;
            margin-bottom: 1rem;
        }
    }

}
