
.socials-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
        padding: 7px 0;
        width: 25%;

        a{
            padding: 10px;
        }

        a:hover{
            background: $fixed-elements;
        }

        .editItem {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            @media screen and(max-width: 622px) {
                flex-wrap: wrap;
            }
        }

    }

    li.edit {
        width: 100%;
        flex: 100%;
        padding: 7px 0;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

}
