.tag-input {
    position: relative;
    border: 2px solid $light;
    transition: 0.3s all;

    &:focus-within {
        border-color: $dark;
    }

    .tags {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        z-index: 2;

        .tag-item {
            display: flex;
            align-items: center;
            min-width: 2rem;
            padding: 0.25rem 0.5rem;
            background: $gray-bg;
            margin: 0.5rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            vertical-align: middle;
            transition: 0.3s all;
            white-space: nowrap;
            font-size: $text-xxsm;
            font-weight: 600;

            .separator {
                display: block;
                width: 2px;
                height: 12px;
                background-color: $gray;
                margin: 0 0.5rem;
            }

            i {
                color: $gray-dark;
                font-size: 1rem;
                cursor: pointer;
            }

            &:hover {
                color: $dark;
                background: $gray-light;

                i {
                    color: $dark;
                }
            }

        }

    }

    label {
        position: absolute;
        font-size: 1rem;
        #{$start}: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: $light;
        padding: 0 0.3rem;
        transition: .1s ease-out;
        transform-origin: $start top;
        pointer-events: none;
        white-space: nowrap;
        margin: 0 0.25rem;
    }

    .input {
        border: 0;
        flex: 1 1 auto;
        color: $text-color;
        transition: 0.3s ease-out;
        font-size: $text-xsm;
    }

    &:focus {
        border-color: $black;
    }

    .input:focus {
        +label {
            color: $black;
            top: 0;
            transform: translateY(-50%) scale(.9);

            .max-text {
                display: none;
            }
        }
    }

    &.focus {
        label {
            color: $black;
            top: 0;
            transform: translateY(-50%) scale(.9);

            .max-text {
                display: none;
            }
        }
    }

    .input:not(:placeholder-shown)+label {
        top: 0;
        transform: translateY(-50%) scale(.9);
    }
}