.tag-input {
    position: relative;
    border: 3px solid $icons;
    transition: 0.3s all;

    &:focus-within {
        border-color: #191919;
    }

    .tags {
        display: flex;
        align-items: center;
        z-index: 2;

        .tag-item {
            min-width: 32px;
            padding: 5px 12px 0 12px;
            background: #EEE;
            margin: 8px;
            margin-bottom: 5px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            vertical-align: middle;
            transition: 0.3s all;
            white-space: nowrap;
        }

        .tag-item:hover {
            color: #FFF;
            background-color: $danger;
        }

    }

    .tags-suggestion {
        position: absolute;
        top: 105%;
        z-index: 1;
        background: #FFF;
        width: 100%;
        padding: 6px 0;
        box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.1);

        .tag-item:hover {
            background-color: #E0E0E0 !important;
            color: #191919 !important;
        }
    }

    label {
        position: absolute;
        font-size: 1rem;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        color: $icons;
        padding: 0 0.3rem;
        transition: .1s ease-out;
        transform-origin: right top;
        pointer-events: none;
        white-space: nowrap;
        margin: 0 0.25rem;
    }

    .input {
        border: 0;
        width: 100%;
        outline: none;
        border-radius: 0;
        color: $text-color;
        transition: 0.1s ease-out;
        font-size: 14px;
        padding: 0.5rem 0.35rem;
    }

    &:focus {
        border-color: $black;
    }

    .input:focus {
        +label {
            color: $black;
            top: 0;
            transform: translateY(-50%) scale(.9);

            .max-text {
                display: none;
            }
        }
    }

    &.focus {
        label {
            color: $black;
            top: 0;
            transform: translateY(-50%) scale(.9);

            .max-text {
                display: none;
            }
        }
    }

    .input:not(:placeholder-shown)+label {
        top: 0;
        transform: translateY(-50%) scale(.9);
    }
}
