.tag-card {
    @extend .card;
    height: 60px;
    max-width: 412px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    flex-direction: row;

    small {
        font-size: 12px;
        color: $grey;
    }

    strong {
        font-size: 16px;
        color: $dark;
    }
}