.textarea-content {
    position: relative;

    .placeholder {
        position: absolute;
    }

    div[contenteditable] {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        z-index: 2;
    }
}