.websites-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
        width: 100%;
        flex: 100%;
        padding: 7px 0;
        color: $action;
        font-size: 14px;

        @media screen and (max-width: $sm-size) {
            font-size: 12px;
        }
    }

    li.edit {
        width: 100%;
        flex: 100%;
        padding: 7px 0;

        &:not(:last-child) {
            padding-bottom: 1rem;
            border-bottom: 1px solid #C8C8C8;
            margin-bottom: 1rem;
        }
    }

}
