.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    text-align: right;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .7875rem;
    word-wrap: break-word;
    opacity: 0;
    transition: 0.3s opacity;
    padding: 0 .4rem;

    &.b-tooltip {
        display: block;
        opacity: .9;
        outline: 0;
    }

    &.bs-tooltip-auto[x-placement^="top"],
    &.bs-tooltip-top,
    &.b-tooltip-danger.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-dark.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-info.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-light.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-primary.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-secondary.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-success.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-warning.bs-tooltip-auto[x-placement^="top"] {
        padding: .4rem 0;

        &:before {
            top: 0;
            border-width: .4rem .4rem 0;
            border-top-color: #191919;
        }
    }

    .arrow {
        position: absolute;
        display: block;
        width: .8rem;
        height: .4rem;
        bottom: 0;

        &:before {
            position: absolute;
            content: "";
            border-color: $black;
            border-style: solid;
            bottom: 4px;
            height: 7px;
            width: 7px;
            transform: rotate(45deg);
        }
    }

    .tooltip-inner {
        max-width: 200px;
        padding: .25rem .5rem;
        color: #fff;
        text-align: center;
        background-color: #191919;
        border-radius: .25rem;
        z-index: 1;
        position: relative;
    }

}