.tooltip {
    position: absolute;
    z-index: 999999;
    display: block;
    margin: 0;
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    text-align: right;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: $text-xsm;
    word-wrap: break-word;
    opacity: 0;
    transition: 0.3s opacity;
    padding: 0 !important;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.14);

    &.b-tooltip {
        display: block;
        opacity: 1;
        outline: 0;
    }

    &.bs-tooltip-auto[x-placement^="top"],
    &.bs-tooltip-top,
    &.b-tooltip-danger.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-dark.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-info.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-light.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-primary.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-secondary.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-success.bs-tooltip-auto[x-placement^="top"],
    &.b-tooltip-warning.bs-tooltip-auto[x-placement^="top"] {
        padding: .4rem 0;

        &:before {
            top: 0;
            border-width: .4rem .4rem 0;
            border-top-color: $white;
        }
    }

    .arrow {
        position: absolute;
        display: block;
        z-index: 2;
        bottom: -4px;
        width: 1rem;
        height: 1rem;

        &:before {
            position: absolute;
            content: "";
            background: $white;
            bottom: 0;
            height: 1rem;
            width: 1rem;
            transform: rotate(45deg);
        }
    }

    .tooltip-inner {
        max-width: 200px;
        padding: 0.5rem;
        color: $black;
        text-align: center;
        background-color: $white;
        z-index: 3;
        position: relative;
        font-family: "Open Sans", "Vazir";
        border-radius: 4px;
    }

}