.contact-card {
    @extend .card;
    padding: 24px;
    margin-top: 20px;

    @media screen and (max-width: $sm-size) {
        padding: 20px 16px;
    }

    .no-contact-container {
        text-align: right;
    }

    .rounded-add-btn {
        margin-right: 16px;

        &:first-child {
            margin-right: 12px;
        }
    }

    .website-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        line-height: 19px;
    }

}

.socials-container {
    margin-bottom: 24px;
}

.add-webiste-container {

    margin-bottom: 40px;

    .flex-container {
        display: flex;
        align-items: center;
        margin: 0 -12px;

        .tselect {
            min-width: 170px;
            max-width: 170px;
        }

        >* {
            margin: 0 12px
        }
    }
}

.contact-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -8px;

    >* {
        margin: 8px
    }

    .contact-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 16px;
        background: $body-bg;
        min-width: 230px;
        align-items: center;
        height: 65px;

        &:not(.website-item) {
            div:first-child {
                height: 24px;
            }
        }

        &:hover i {
            color: $dark !important;
        }

        &.website-item {
            padding: 12px 16px;
        }

        &.border-only {
            background: transparent;
            border: 2px solid #E0E0E0;
        }

        .socail-info {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                height: 20px;
            }

            vertical-align: middle;
            font-weight: 600;

            img {
                margin-right: 12px;
            }
        }
    }

}