.contact-card {
    @extend .card;
    padding: 24px;
    margin-top: 20px;

    .no-contact-container {
        text-align: right;
        padding-right: 28px;
        width: 100%;
    }

    .rounded-add-btn {
        margin-right: 24px;

        &:first-child {
            margin-right: 44px;
        }
    }

    .website-info {
        display: flex;
        flex-direction: column;
    }

}

.add-webiste-container {
    display: flex;
    align-items: center;
    margin: 0 -12px;
    margin-bottom: 40px;

    >* {
        margin: 0 12px
    }
}

.contact-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -16px;

    >* {
        margin: 16px
    }

    .contact-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 16px;
        background: $body-bg;
        min-width: 238px;
        align-items: center;
    }

}