.slug-card {
    @extend .card;
    padding: 12px 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: $sm-size) {
        padding: 4px 12px;

    }

    i {
        color: $grey;
    }

    .slug-info {
        @media screen and (max-width: $sm-size) {
            font-size: 10px;
        }

        img {
            width: 24px;
            margin-left: 8px;

            @media screen and (max-width: $sm-size) {
                width: 16px;
                margin-left: 4px;
            }
        }
    }

    .slug-data {
        color: $grey;

        .slug-data-edit {
            display: flex;
            align-items: center;
            direction: ltr;
            line-height: 1;

            >*:not(:first-child) {
                margin: 0 8px;
            }

            i {
                color: $icons;
                cursor: not-allowed;
                margin-right: 8px;
            }
        }

        .slug-data-view {
            display: flex;
            align-items: center;
            direction: ltr;
            line-height: 1;
            padding: 8px 16px;
            border-radius: 16px;
            background: $body-bg;

            @media screen and (max-width: $sm-size) {
                padding: 8px
            }

            span {
                margin-top: 4px;
            }

            strong {
                margin-top: 2px
            }

            i {
                margin-right: 8px;

                @media screen and (max-width: $sm-size) {
                    font-size: 14px;
                    margin-right: 4px;
                }
            }
        }

        i {
            color: $text-color;
        }

        @media screen and (max-width: $sm-size) {
            font-size: 10px;
        }

    }
}