.feedback-tabs-white {
    padding: 1rem;
    background: $white;
    box-shadow: $card-shadow;
}

.feedback-tabs-white {
    ul {
        list-style: none;
        display: flex;
        gap: 20px;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    ul {
        li {
            color: $sub-heading;
            cursor: pointer;
            font-size: 14px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            border-radius: 15px;
            gap: 2px;
            transition: 0.3s all;
        }

        li.active {
            background: $fixed-elements;

        }
    }
}

.btn-action {
    background: $action;
    color: $white;

    &:hover {
        color: $white;
        background-color: #0486c7;
    }
}

.feedback-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}

.feedback-votes {
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.vote-box {
    padding: 5px;
}

.voted {
    background: #EEE !important;
    color: #00C853 !important;
    border: none !important;
}
