.feedback-color-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 16px;
    font-size: 14px;
    width: 100%;
    text-align: center;

    &.scheduled {
        background-color: $yellow-light-hover;
        color: $yellow-dark-hover;
    }

    &.closed {
        background-color: $light-error;
        color: $error;
    }

    &.done {
        background-color: $light-green;
        color: $success;
    }

    &.voting {
        background-color: $body-bg;
        color: $light;
    }


    @media screen and(max-width: $sm-size) {
        font-size: 12px;
        padding: 4px 8px;
    }
}