.feedback-color-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 16px;
    font-size: $text-xsm;
    width: 100%;
    text-align: center;
    

    &.scheduled {
        background-color: $yellow-light-hover;
        color: $yellow-dark;
    }

    &.closed {
        background-color: $red-light;
        color: $red;
    }

    &.done {
        background-color: $green-light;
        color: $success;
    }

    &.voting {
        background-color: $body-bg;
        color: $light;
    }


    @media screen and(max-width: $sm-size) {
        font-size: $text-xxsm;
        padding: 4px 8px;
    }
}