.editorBox {
    display: none;
    border-radius: 8px;
    z-index: 9999;
    background: $white;
    box-shadow: 0 0 1rem 0px rgba(0, 0, 0, 0.1);

    button {
        background: none;
        outline: none;
        padding: 8px;
        color: $gray-500;
        border: none;

        &.active {
            color: $blue-cta;

        }

        &:last-child {
            border-top-#{$end}-radius: 8px;
            border-bottom-#{$end}-radius: 8px;
        }

        &:first-child {
            border-top-#{$start}-radius: 8px;
            border-bottom-#{$start}-radius: 8px;
        }

        &:hover {
            background: $gray-100;
            cursor: pointer;
        }

        &:active {
            background: $gray-100;
            color: $blue-cta;
            cursor: pointer;
        }
    }
}

.content-editor--container {
    display: flex;
    flex-direction: column;
    min-height: 270px;
    background-color: $white;

    .elements {
        flex: 1 1 auto;

        .list-group {
            width: calc(100% + 104px);
            margin-#{$start}: -116px;
        }

        .placeholder-element {
            margin-#{$start}: 57px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    .editor-actions {
        width: calc(100% + 77px);
        margin-#{$start}: -77px;

        .add-action-btn {
            background: $white;
            color: $gray-500;
        }
    }

    .editor-actions:not(:first-child) {
        margin-top: 0;
        margin-bottom: 1.5rem;

    }

    .editor-item {
        display: flex;
        flex-direction: row;
        padding: 0 16px;
        align-items: flex-start;

        .editor-block-container {
            margin-#{$start}: 12px;
            width: 100%;
            max-width: calc(100% - 3.25rem);
            border-#{$start}: 3px solid transparent;
            padding-#{$start}: 2rem;
            transition: 0.3s border;

            &:hover,
            &:focus-within {
                border-#{$start}-color: $gray-400;
            }

        }

        &:not(:first-child) {
            margin-top: 1.5rem;
        }

        &:last-child {
            margin-bottom: 16px;
        }

        &.image-item {
            position: relative;

            .editor-block-container {
                margin-#{$start}: 8px;
                padding-#{$start}: 0;
            }

            img,
            figure {
                width: 100%;
                max-height: 72.75rem;
                -o-object-fit: cover;
                object-fit: cover;
                -o-object-position: center;
                object-position: center;
            }

            >img {
                width: 100%;
            }

            &:not(:first-child) {
                margin-top: 2rem;
            }

            &:last-child {
                margin-bottom: 1.5rem;
            }
        }

        >.delete-move-actions {
            background: $white;
            color: $gray-500;
            border-radius: 12px;
            padding: 6px;
            height: auto;
            width: auto;

            >* {
                margin: 0 1px;
            }

            i {
                font-size: $text-lg;
            }
        }
    }

    .media-item {
        position: relative;
        background: $gray-50;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3.25rem 1rem;


        .edit-image-icon {
            position: absolute;
            top: 2rem;
            #{$end}: 2rem;
            z-index: 1;
            box-shadow: $bg-hover-shadow;
        }

        .spoiler-alert-check {
            padding: 0.25rem 0.5rem;
            background: $white;
            color: $gray-medium-dark;
            border-radius: 8px;
            z-index: 1;
            position: absolute;
            #{$start}: 2rem;
            bottom: 1.5rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: $text-xsm;
            height: 32px;
            box-shadow: $bg-hover-shadow;
        }

        .action-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: -12px 0px;
            color: $gray-500;

            >* {
                margin: 12px 0px;
            }

            .title {
                color: $dark;
                font-weight: 600;
            }

            .btn {
                padding: 12px 40px;
            }

        }
    }
}

.editors-actions-list {
    position: absolute;
    z-index: 999;
    background: $gray-100;
    padding: 0.75rem;
}

.add-action-btn {
    height: 2rem;
    width: 2rem;
    padding: map-get($spacings, 1);
    border-radius: 12px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        transition: 0.3s transform;
    }
}

.add-action-btn.active {
    background: #EEEEEE;

    &:hover {
        background: #E0E0E0;
    }

    i {
        color: $light;
        transform: rotate(45deg);
    }
}



.text-type-list {
    display: flex;
    flex-direction: column;
    width: 212px;
    padding: 12px;

    &:not(:first-child) {
        margin-top: 0.5rem;
        padding-top: 0;
    }


    >.list-title {
        margin-bottom: 4px;
        color: $gray-500;
        font-size: $text-xxsm;
    }


    >.editor-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 10px;

        &:hover {
            background: $gray-200;
            cursor: pointer;
        }

        strong {
            color: $gray-500;
            margin-#{$start}: 12px;
            font-size: $text-xxsm;
        }

        i {
            background: $gray-300;
            color: $gray-600;
            height: 28px;
            width: 28px;
            font-size: $text-lg;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s all;

            &.disabled {
                opacity: 0.4;
            }
        }
    }
}

.editor--text-input {
    min-height: 30px;
    width: 100%;
    color: $text-color;
    unicode-bidi: -moz-plaintext;
    text-align: start;
    word-break: break-word;

    padding: 0;

    a {
        color: $blue-cta;
    }

    code {
        direction: ltr #{"/* rtl:ignore */"};
        background: $gray-100;
        color: $gray-500;
        border-radius: 4px;
        font-size: $text-xsm;
        padding: 4px;
        font-family: 'JetBrains Mono', monospace;
    }

    * {
        text-align: start;
    }
}

.ternoboeditor--link-input {
    z-index: 99999;

    background-color: $white;
    padding: 8px;

    .controls {
        position: relative;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 200px;
        background: $gray-100;
        direction: ltr #{"/* rtl:ignore */"};

    }

    button {
        padding: 4px !important;
    }

    input {
        width: 100%;
        border: none;
        padding: 8px 12px;
        background-color: transparent;
        outline: none;

        &:focus {
            border: none;
            outline: none;
        }
    }


}

div[placeholder]:not(:focus):empty:before {
    content: attr(placeholder);
    color: $gray-400;
    cursor: text;
}

/** Tag Selector **/

.title-input {
    width: 100%;
    display: flex;
    align-items: center;


    [contenteditable] {
        color: $text-color;
        font-weight: bold;
        font-size: 24px;
        unicode-bidi: -moz-plaintext;
        unicode-bidi: plaintext;
        text-align: start;

        &:empty {
            text-align: $start;
        }

        &::before {
            color: $gray-400;
        }

        &:focus~.title-input {
            border-color: $dark;
        }
    }
}

@import "./blocks/poll-block";