.code-viewer {
    max-height: 400px;
    background: #1e1e1e
}

.code-block {
    position: relative;
    background: #1e1e1e;
    padding: 0.75rem;
    max-width: 567px;

    .fullscreen-icon {
        color: #FFF;
        position: absolute;
        bottom: 1rem;
        z-index: 9999;
        background: #1e1e1e;
        right: 1.25rem;
        opacity: 0;
        transition: 0.3s all;

        &:hover {
            cursor: pointer;
        }
    }


    .language-select {
        max-width: 140px;
        font-size: $text-xxxsm;

        .tselect_title,
        .tselect-items {
            color: $body-bg !important;
            background: $gray-dark;


            .items {
                @include nice-scroll-dark;
            }

            input {
                color: #FFF;
                font-weight: 600;
                font-size: $text-xxxsm;

                &::-webkit-input-placeholder {
                    color: #FFF;
                    font-size: $text-xxxsm;
                }

                &::-moz-placeholder {
                    color: #FFF;
                    font-size: $text-xxxsm;
                }

                &:-ms-input-placeholder {
                    color: #FFF;
                    font-size: $text-xxxsm;
                }

                &::-ms-input-placeholder {
                    color: #FFF;
                    font-size: $text-xxxsm;
                }

                &::placeholder {
                    color: #FFF;
                    font-size: $text-xxxsm;
                }
            }

            .tselect_item {

                &:hover,
                &.active {
                    background: $gray-medium-dark;
                }

                &--text {
                    font-size: $text-xxxsm;
                    color: #FFF !important;
                }
            }
        }
    }

    &:hover {
        .fullscreen-icon {
            opacity: 1;
            cursor: pointer;
        }
    }

}

.code-block.fullscreen {
    .code-block-header {
        position: relative;
        height: 97px;
        padding: 32px;
        display: flex;
        justify-content: center;
        background: #1e1e1e;

        .close {
            position: absolute;
            #{$end}: 32px;

            &:hover {
                color: $white;
            }
        }
    }

    .code-viewer {
        max-height: unset !important;
        background: #1e1e1e
    }
}