@each $name,
$space in $spacings {

    @each $postion-name,
    $postion in $positons {
        .m#{$postion}-#{$name} {
            margin-#{$postion-name}: $space !important;
        }

        .p#{$postion}-#{$name} {
            padding-#{$postion-name}: $space !important;
        }

        .p-#{$name} {
            padding: $space !important;
        }

        .m-#{$name} {
            margin: $space !important;
        }
    }

    .mx-#{$name} {
        margin-left: $space;
        margin-right: $space;
    }

    .px-#{$name} {
        padding-left: $space;
        padding-right: $space;
    }

    .my-#{$name} {
        margin-top: $space;
        margin-bottom: $space;
    }

    .py-#{$name} {
        padding-top: $space;
        padding-bottom: $space;
    }

}

.fade {
    opacity: 0 !important;
    transition: 0.1s all;
}

.show {
    opacity: 1 !important;
    transition: 0.1s all;
}

.rounded-circle {
    border-radius: 50%;
}

@for $index from 0 to 101 {
    .w-#{$index} {
        width: $index * 1%;
    }

    .h-#{$index} {
        height: $index * 1%;
    }
}

@for $i from 0 to 16 {
    .rounded-#{$i} {
        border-radius: $i * 2px !important;
    }
}

.w-auto {
    width: auto;
}

.postion-absolute {
    position: absolute;
}

.postion-fixed {
    position: fixed;
}

.postion-relative {
    position: relative;
}

.postion-sticky {
    position: -webkit-sticky;
    position: sticky;
}

@for $i from 0 to 100 {
    .end-#{$i} {
        #{$end}: $i * 1%;
    }

    .start-#{$i} {
        #{$start}: $i * 1%;
    }

    .top-#{$i} {
        top: $i * 1%;
    }

    .bottom-#{$i} {
        bottom: $i * 1%;
    }
}