// Body
$body-bg: #F5F5F5;
$border-widths: 2px;
$white: #FFF;

// -----------------------------------------------
$spacing: 1rem;
$root-size: 16px;
$root-size-mobile:12px;
// -----------------------------------------------

// --------------- Spacings ----------------
$spacings: (0:0,
    1: $spacing / 4,
    2: $spacing / 2,
    3: $spacing * 0.75,
    4: $spacing,
    5: $spacing * 1.5,
    6: $spacing * 2,
    7: $spacing * 2.5,
    8: $spacing * 3.25,
    9: $spacing * 4,
) !default;
$positons: (top:t,
    $end:e,
    bottom:b,
    $start:s,
);

$position-types:(absolute, relative, fixed, sticky);

// ------------------ Modal Sizes ------------------
$modal-small: 320px !default;
$modal-medium: 582px !default;
$modal-large: 710px !default;

$modal-sizes: ("sm":$modal-small,
    "md":$modal-medium,
    "lg":$modal-large,
);

$breakpoint: 1188px;


// Shadows  
$card-shadow: 0 1rem 40px rgba(0, 0, 0, 0.02);
$control-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
$full-width-container: 1920px;

// Base grayscale colors definitions
$gray-0: #fff !default;
$gray-50: #FBFBFB !default;
$gray-100: #F5F5F5 !default;
$gray-200: #EEEEEE !default;
$gray-300: #E0E0E0 !default;
$gray-400: #C8C8C8 !default;
$gray-500: #757575 !default;
$gray-600: #424242 !default;
$black: #191919 !default;


// Gray Scale 
$gray-dark: #424242;
$gray-medium-dark: #757575;
$gray:#C8C8C8;
$gray-light-medium:#E0E0E0;
$gray-light:#EEEEEE;
$gray-bg:#F5F5F5;


// Shadows
$main-card-shdow: 0px 5px 40px rgba(0, 0, 0, 0.03);
$bg-shadow:0px 10px 40px rgba(0, 0, 0, 0.1);
$bg-hover-shadow:0px 10px 40px rgba(0, 0, 0, 0.2);
$notification-shadow:0px 20px 20px rgba(0, 0, 0, 0.15);
$overlay-menu-shadow:0px 5px 20px rgba(0, 0, 0, 0.051);
$chat-card-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);
$navigation-shadow: 0px -5px 40px rgba(0, 0, 0, 0.05);

// Text Colors
$text-color:$gray-600;
$text-on-primary: $gray-0;

$gray-theme: ('50':$gray-50,
    '100':$gray-100,
    '200':$gray-200,
    '300':$gray-300,
    '400':$gray-400,
    '500':$gray-500,
    '600':$gray-600,
);


// Base colors definitions
$orange: #C58142 !default;

// Blue Varients
$blue-dark: #3670AA;
$blue-hover: #0784C1;
$blue-cta: #0898DF;
$blue-light-hover: #CDEAF9;
$blue-light: #E7F3FF;

// Green Varients
$green-dark: #3B955D;
$green:#4CBF7B;
$green-light-hover:#C7FEDC;
$green-light:#E5FAED;

// Yellow Varients
$yellow-dark:#9C902B;
$yellow-saturated:#C2AA52;
$yellow: #FEFCEA;
$yellow-light-hover: #FFFACD;

// Red Varients
$red: #F44336;
$red-light-hover:#FFD3CE;
$red-light:#FEECEA;

// Theme color default definitions
$primary: $black !default;
$secondary: $blue-cta !default;
$success: $green !default;
$info: $blue-dark !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-400 !default;
$dark: $black !default;


// ---------------- Typography ----------------

$headings-font-weight: 600;

// Heading
$heading-1: 2rem;
$heading-2:1.5rem;
$heading-3:1.25rem;

// Text
$text-lg:1.25rem;
$text-md:1.125rem;
$text-sm:1rem;
$text-xsm:0.875rem;
$text-xxsm:0.75rem;
$text-xxxsm:0.625rem;

// --------------------------------------------

$theme-colors: ('primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'gray-dark':$gray-dark,
    'gray-medium-dark':$gray-medium-dark,
    'gray-light-medium':$gray-light-medium,
    'gray-light':$gray-light,
    'dark': $dark);

$sm-size: 768px;