// Body
$body-bg: #F5F5F5;

$breakpoint: 1188px;

// Typography
$font-family-sans-serif: 'dana, PT Sans, serif';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Shadows
$card-shadow: 0 1rem 40px rgba(0, 0, 0, 0.02);
$control-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25);
$full-width-container: 1920px;


// Colors
$background: #F5F5F5;
$box-on-bg: #FFF;
$fixed-elements: #EEE;
$icons: #C8C8C8;
$sub-heading: #757575;
$icon-hover: #191919;
$text-color: #424242;
$headings: #191919;


//Colors
$border-color: rgb(224, 224, 224);
$primary: #191919;
$action: #0898DF;
$wating: #FFEB3B;
$wating-bg: #E1F5FF;
$red: #F44336;
$success: #00C853;
$white: #FFFF !default;
$grey: #757575;
$action-hover:#0373AB;
$light-blue:rgba(231, 243, 255, 1);


$dark: #191919;
$light-green: #E1F5FF;
$light: #757575;
$light-warning: #FFFCE1;
$dark-warning: #E4CF23;
$light-success: #E5FAED;
$light-error: #FEECEA;
$light-error-darker:#FFD3CE;
$error: #F44336;

// Base grayscale colors definitions
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #191919 !default;

// Base colors definitions
$blue: #0898DF !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #F44336 !default;
$orange: #E4CF23 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Theme color default definitions
$primary: $dark !default;
$secondary: $action !default;
$success: $success !default;
$info: $cyan !default;
$warning: $dark-warning !default;
$danger: $red !default;
$light: #C8C8C8 !default;
$dark: $black !default;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(('primary': $primary,
        'secondary': $secondary,
        'success': $success,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'light': $light,
        'dark': $dark),
    $theme-colors);


$sm-size: 768px;