@import "./variables";
@import '~bootstrap-v4-rtl';
@import '~bootstrap-vue';


:root {
    font-size: 16px;
}

::-moz-selection {
    color: $dark;
    background: #E0E0E0;
}

::selection {
    color: $dark;
    background: #E0E0E0;
}


.btn {
    border-width: 2px;
    padding: 6px 8px;
}

.form-control {
    border-width: 2px;
}


input {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark;
    font-weight: 600;
}

p {
    color: $text-color;
}

@import "./components/header/header";

button:focus {
    outline: 1px dotted;
    outline: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    .tag-item {
        background: $fixed-elements;
        color: $grey;
        cursor: pointer;
        margin-left: 8px;
        padding: 4px 16px;
        transition: 0.3s all;
        font-size: 14px;

        @media screen and (max-width: $sm-size) {
            padding: 2px 12px;
            font-size: 12px;
            vertical-align: baseline;
            height: 20px;
            margin-left: 4px;
        }

    }

    .tag-item:hover {
        background: $border-color;
        color: $grey;
    }
}

body {
    font-family: dana, 'Open Sans';
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: $background;
    text-align: right;
    font-size: 16px;
    color: $text-color;
}

@media screen and (max-width:425px) {
    body {
        font-size: 14px;
    }
}

@import "./components/bottom-nav.scss";


.bookmark-icon {
    transform: translateY(-1px);
}

.sticky-aside {
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}

.form-control,
.btn,
.modal-dialog {
    border-radius: 0;
}

.bg-body {
    background-color: $body-bg !important;
}

.progress {
    height: 0.3rem;
    border-radius: 0;
}

.card {
    background: $box-on-bg;
}

.card-body {
    padding: 24px;

    @media screen and (max-width: $sm-size) {
        padding: 16px;
    }
}

a {
    color: $text-color;
}

.border-bottom {
    border-bottom: 1px solid #dedede !important;
}

@import "./components/header/header";
@import "./components/input-group-icon";
@import "./layout-system";

// @import "./pages/landing";
@import "./components/buttons";
@import "./components/tabs";
@import "vue-select/src/scss/vue-select.scss";


.tdc-radio {
    display: block;
    position: relative;
    height: 14px;
    width: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tdc-radio {
    input.tdc-radio_input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .tdc-radio_checkmark {
        transition: 0.3s all;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 14px;
        width: 14px;
        background-color: transparent;
        border: 2px solid $grey;
        border-radius: 50%;
    }

    input.tdc-radio_input:hover~.tdc-radio_checkmark {
        border-color: $text-color;
    }

    input.tdc-radio_input:checked~.tdc-radio_checkmark {
        border-color: $text-color;
    }

    input.tdc-radio_input:checked~.tdc-radio_checkmark:after {
        content: "";
        height: 6px;
        width: 6px;
        background: $text-color;
        border-radius: 50%;
    }
}

.b-sidebar {
    background: $body-bg !important;
    width: 240px;

    .b-sidebar-item {
        padding: 14px 16px !important;
        font-size: 0.86rem;
        color: $sub-heading;
    }

    .b-sidebar-item:hover {
        background-color: #EEE;
    }
}

@import "./components/tselect.scss";

.clickable {
    cursor: pointer;
}

ul {
    list-style: none;
}

.slide-enter-active {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}

a:hover {
    text-decoration: none;
}

.opacity-0 {
    opacity: 0 !important;
}

p {
    text-align: right;
}

.clickable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;

    /* Konqueror HTML */
    -moz-user-select: none;

    /* Old versions of Firefox */
    -ms-user-select: none;
    cursor: pointer;

    /* Internet Explorer/Edge */
    user-select: none;

    /* Non-prefixed version, currently     supported by Chrome, Opera and Firefox */

    &:hover {
        cursor: pointer;
        -webkit-touch-callout: none;

        /* iOS Safari */
        -webkit-user-select: none;

        /* Safari */

        /* Konqueror HTML */
        -moz-user-select: none;

        /* Old versions of Firefox */
        -ms-user-select: none;

        /* Internet Explorer/Edge */
        user-select: none;

        /* Non-prefixed version, currently
         supported by Chrome, Opera and Firefox */
    }
}

i {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

    /* Non-prefixed version, currently     supported by Chrome, Opera and Firefox */
}

img {
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;

    /* Old versions of Firefox */
    -ms-user-select: none;

    /* Internet Explorer/Edge */
    user-select: none;
    max-width: 100%;

}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.text-muted {
    color: $grey !important;
}

.text-superlight {
    color: $icons;
}

.text-grey {
    color: $grey;
}

.text-light {
    color: $light;
}

.text-black {
    color: #000019;
}

.logo-sm {
    height: 30px;
    width: 30px;
}

@import "./components/search-page.scss";

.logodesktop {
    margin-bottom: 1px;
    min-width: 80px;
    max-width: 80px;
    display: flex;
}

.searchfield {
    min-width: 330px;
}

.modal-backdrop {
    background-color: $dark;
    opacity: 0.4;
}

@import "./components/form-control";
@import "./components/TProgress";

.profileimage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: contain;
}

.text-action {
    color: #0898df !important;
}

.slide-enter-active {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}

.modal-header {
    border: none;
    padding: 24px;

    @media screen and (max-width: $sm-size) {
        padding: 20px 12px;
    }

    .close {
        font-size: 24px;
        @extend .material-icons;
        color: $icons;
        opacity: 1;
    }

    &::after {
        content: " ";
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 0;
        height: 2px;
        background: $fixed-elements;

        @media screen and (max-width: $sm-size) {
            left: 12px;
            right: 12px;
        }
    }
}

.modal-body {
    padding: 24px;

    @media screen and (max-width: $sm-size) {
        padding: 12px;
    }
}

.modal-header .close {
    padding: 0;
    margin: 0;
    height: 24px;
    transition: 0.3s all;

    &:hover {
        opacity: 1;
        color: $grey;
    }
}

.b-sidebar-backdrop {
    opacity: 0.4;
}

.vue-switcher input {
    display: none;
}


.card,
.feedback-card {
    border: none;
    border-radius: 0 !important;
    box-shadow: 0 1rem 40px rgba(0, 0, 0, .02);
}

@import "components/people-suggestion.scss";


.new-post--placeholder {
    font-size: 14px;
    color: $grey;

    @media screen and(max-width: 768px) {
        font-size: 12px;
    }
}

.new-post--action {
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 16px;
    color: $grey;
    display: flex;
    border-radius: 12px;
    transition: 0.3s all;
    font-size: 14px;

    @media screen and(min-width: 769px) {
        padding: 4px 16px;

        &:not(.disabled):hover {
            background: #EEE;
            color: $grey;
        }
    }

    i {
        font-size: 20px;
        margin-left: 4px;

        &:not(.disabled) {
            color: $grey;
        }

        @media screen and(max-width: 768px) {
            font-size: 16px;
        }
    }

    @media screen and(max-width: 768px) {
        font-size: 10px;
    }

    &.disabled:hover,
    &.disabled:hover i,
    &.disabled i {
        color: #C8C8C8;
    }

}

.verificationcheck {
    @extend .material-icons;
    color: $action;
    margin-left: 1px;
    @extend .font-14;
}

.userinfo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.userinfo-card {
    .profile-image {
        margin-top: -60px;
        position: relative;
    }

    .image__wrapper {
        width: 72px;
        height: 72px;
        margin-top: -174px;

        img {
            border-radius: 50%;
        }
    }
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}

.rotateAnimation {
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}

.profile {
    border-radius: 50%;
    min-height: 64px;
    max-height: 64px;

    min-width: 64px;
    max-width: 64px;
}

.hover-danger:hover {
    color: #ff0000 !important;
    cursor: pointer;
}

.hover-dark {
    transition: 0.3s all;
}

.hover-dark:hover {
    color: $dark !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.toast-leave-active,
.toast-enter-active {
    transition: 1s all;
}

.toast-enter {
    transform: translateY(500px);
}

.toast-enter-to {
    transform: translateY(0);
}

.toast-leave {
    transform: translateX(0);
}

.toast-leave-to {
    transform: translateX(500px);
}

.image__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &.loaded {
        .image__spinner {
            display: none !important;
        }

        .image__item {
            opacity: 1;
        }
    }

    &.error {
        .error_icon {
            display: block;
        }

        .image__item {
            opacity: 0;
        }
    }

    .error_icon {
        position: absolute;
        display: none;
    }

    .image__spinner {
        position: absolute;
    }

    .image__item {
        transition: 0.3s all;
        opacity: 0;
    }
}

@import "./components/loading-spinner";

@import "./components/post-card";

pre {
    direction: rtl;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    font-family: dana, 'Open Sans';
    letter-spacing: 0 !important;
    overflow: hidden;
    line-break: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@import "./components/dropdown-menu";

@import "./components/new-post-modal";


@import "./components/cropper/actions.scss";

@import "./components/material/input.scss";

@import "./components/comments/comments.scss";
@import "./components/comments/comment.scss";

@import "./components/feedback-replies/feedback-replies.scss";
@import "./components/feedback-replies/feedback-reply.scss";

.modal-content {
    border-radius: 0;
    padding: 0;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.btn-grey-10 {
    background: $body-bg;
    color: $light;
    border: 2px solid $icons;
    transition: 0.3s all;
}

.btn-grey-10:hover {
    background: $icons;
    color: $text-color;
}

.btn:active:not(:disabled) {
    box-shadow: none !important;
}

.btn-dark:active:not(:disabled) {
    box-shadow: none !important;
}

.autocomplete[data-loading=true]:after {
    display: none !important;
}

.autocomplete-input {
    padding: 8px 12px 8px 48px;
    transition: 0.3s all;
    border-radius: 16px;
    height: 40px;
    background-color: #FFF !important;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iYmxhY2siIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGZpbGw9IiM3NTc1NzUiIGQ9Ik0xNS41IDE0aC0uNzlsLS4yOC0uMjdDMTUuNDEgMTIuNTkgMTYgMTEuMTEgMTYgOS41IDE2IDUuOTEgMTMuMDkgMyA5LjUgM1MzIDUuOTEgMyA5LjUgNS45MSAxNiA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==');
    background-size: 24px;
    font-size: 14px;

    &::-webkit-input-placeholder {
        color: $icons;
    }

    &::-moz-placeholder {
        color: $icons;
    }

    &:-ms-input-placeholder {
        color: $icons;
    }

    &::-ms-input-placeholder {
        color: $icons;
    }

    &::placeholder {
        color: $icons;
    }
}

@media screen and (max-width: 425px) {
    .autocomplete-input {
        font-size: 12px;
    }
}

@import "./components/nice-scroll.scss";

.autocomplete-input:focus,
.autocomplete-input[aria-expanded=true] {
    border-color: #191919 !important;
    box-shadow: none !important;
}


.flip-list-move {
    transition: transform 0.5s;
}

.autocomplete-input[aria-expanded=true] {
    border-radius: 12px 12px 0 0 !important;
    border-bottom: none !important;
    z-index: 2;
}

.autocomplete-result-list {
    box-shadow: 0 1rem 40px rgba(0, 0, 0, 0.02) !important;
    margin-top: -18px !important;

    border: 2px solid #191919;
    border-radius: 0 0 12px 12px !important;
}

@import "./components/notifications.scss";

@import "components/profile.scss";

.shadow-0 {
    box-shadow: none !important;
}

.lang-select {
    background-color: $body-bg !important;
}

.shadow {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.051) !important;
}

::-webkit-input-placeholder {
    color: $icons;
}

::-moz-placeholder {
    color: $icons;
}

:-ms-input-placeholder {
    color: $icons;
}

::-ms-input-placeholder {
    color: $icons;
}

::placeholder {
    color: $icons;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #EEE !important;
    opacity: 1;
}

@media screen and (min-width: 769px) {
    .about-me .card-body {
        padding: 32px;
    }

    .about-me .card-body .rounded-add-btn {
        margin-left: -20px;
    }
}

@import "./components/datepicker.scss";

.ql-picker-label {
    text-align: center;
}

.ql-syntax {
    background: $dark;
    color: #FFF;
    padding: 15px;
    direction: ltr;
    text-align: left;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.hand-hover {
    cursor: -webkit-grab;
    cursor: grab;
    transition: 0.3s all;
}

.hand-hover:hover {
    color: $dark;
}

.hand-hover:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.vs__open-indicator {
    max-height: 24px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

.slugItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    background-color: $body-bg;
    border-radius: 20px;
    color: $light;
    font-size: 14px;
    padding: 8px 12px;

    @media screen and (max-width: $sm-size) {
        font-size: 10px;
    }

    .icon {
        border-right: 1px solid;
        padding-right: 5px;
        margin-right: 5px;
    }
}

.splitor-line {
    height: 100%;
    width: 2px;
    background: $icons;
    min-height: 10px;
}

.tooltip-inner {
    font-family: dana, 'Open Sans', sans-serif;
    ;
}

.action {
    flex: 1 1 auto;
}

.bg-light-blue {
    background: rgba(231, 242, 255, 1);
}

.modal-dialog {
    padding: 16px;
}

@import "./components/skills.scss";

@import "./components/radio-button.scss";

@import "./components/experiences.scss";

@import "./components/material/checkbox.scss";

@import "./components/education-item.scss";

@import "./components/languages.scss";
@import "./components/projectItem.scss";

@import "./components/dropdown-btn.scss";


.badge-light {
    height: 24px;
    width: 24px;
    font-size: 11pt;
    color: $light;
    background: $fixed-elements;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 5px;

    span {
        height: 13pt;
    }

    @media screen and (max-width: $sm-size) {
        height: 16px;
        width: 16px;
        font-size: 10px;
    }
}

.disabled {
    cursor: not-allowed !important;
    color: $icons;
}

a:focus {
    outline: none !important;
}

:focus {
    outline: none !important;
}


.hover-dropdown:hover {
    background: #e0e0e0;
}

.person-name {
    font-weight: 600;
    font-size: 14px
}

.badge-success {
    @extend .badge-light;
    border-radius: 50rem;
    background-color: $light-success;
    color: $success;
    white-space: nowrap;
    width: auto;
    padding: 5px 11px;

    span {
        height: 13pt;
    }

    @media screen and (max-width: $sm-size) {
        font-size: 10px;
    }
}

.card-header {
    background-color: $white;
    border: 0;
}

.autocomplete-result {
    cursor: pointer;
    padding: 12px;
    background-image: none;
}

.open-achievements {
    transition: 0.3s all;
}

.open-achievements.active {
    transform: rotate(180deg);
}

@import "./components/achievement.scss";

.invalid {
    border: 2px solid $danger !important;
}

.vs__selected-options {
    align-items: center;
}

.vs__dropdown-option {
    padding: 12px 16px;
}

@media (min-width: 576px) {
    .modal-md {
        max-width: 552px;
        margin: 1.75rem auto;
    }

    .modal-lang {
        max-width: 400px;
        margin: 1.75rem auto;
    }
}

.content-container .post-box {
    margin-bottom: 16px;
}

@import "./components/modal.scss";

@import "./components/category-item.scss";

.vs__open-indicator {
    @extend .material-icons;
}

.vs__actions {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.vs--single.vs--open .vs__selected {
    position: relative;
}

.vs__clear {
    display: none;
    color: #757575;
    z-index: -1;
}

.vs__clear>i {
    color: #757575;
    font-size: 20px;
}

.card-icon {
    display: flex !important;
    z-index: 1;
}

.modal-confirm {
    max-width: 340px;
}

.confirm-container {
    padding-top: 8px;
    margin-bottom: -4px;

    .text {
        margin-bottom: 32px;
        font-size: 14px;
    }

    @media screen and (max-width:768px) {
        .text {
            font-size: 12px;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .btn-ok {
            background: rgba(231, 243, 255, 0.7);
            border: none;
            color: $action;
        }

        .btn-cancel {
            background: transparent;
            border: none;
            color: $icons;
        }
    }
}

@import "./components/social-card.scss";

@import "./components/categories-card.scss";

@import "./components/tag-input.scss";

@import "./components/settings.scss";

@import "./components/toast.scss";

.otp-input-single {
    max-width: 16px;
    margin-right: 12px;

    .input {
        padding: 8px 0;
        text-align: center;
        padding-bottom: 0;
        max-width: 100%;
    }
}

.vue-switcher-theme--default.vue-switcher-color--default div {
    background-color: #757575 !important;
    border: 2px solid #757575;
}

.vue-switcher-theme--default.vue-switcher-color--default.vue-switcher--unchecked div {
    background-color: transparent !important;

}

.vue-switcher div {
    height: 18px !important;
    width: 36px !important;
    position: relative !important;
    border-radius: 30px !important;
    display: -ms-flex !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    cursor: pointer !important;
    transition: linear .2s, background-color linear .2s !important;
}

.vue-switcher-theme--default.vue-switcher-color--default div:after {
    background-color: #FFF !important;
}

.vue-switcher--unchecked div:after {
    left: 18px !important;
}

.vue-switcher-theme--default.vue-switcher-color--default.vue-switcher--unchecked div:after {
    background-color: $sub-heading !important;
}

.vue-switcher div:after {
    content: '' !important;
    height: 12px !important;
    width: 12px !important;
    left: 100%;
    margin-left: -14px !important;
    cursor: pointer !important;
    top: 1px !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
    background-color: $sub-heading;
}

@import "./fonts";

@import "./components/aboutme.scss";


@import "./components/report-modal.scss";
@import "./pages/user-profile.scss";


.item-filters {
    background: $white;
    padding: 20px;
    box-shadow: $card-shadow;
    color: $light;
    display: flex;
    gap: 10;
    align-items: center;

    @media screen and (max-width: $sm-size) {
        font-size: 10px;
        justify-content: space-between;
        padding: 8px;
    }

    .filter-item {
        padding: 8px;
        border-radius: 16px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @media screen and (max-width: $sm-size) {
            font-size: 10px;
            padding: 4px;
        }

        font-weight: 600;

        i {
            @media screen and (max-width: $sm-size) {
                font-size: 16px;
            }

            margin-left: 4px;
        }

        &.active {
            background-color: $body-bg;
            color: $dark;
        }
    }
}

.new-post-body {
    padding: 24px;

    figure.profile-sm {
        margin: -2px 0 -2px 16px;
    }
}

.new-post-actions {
    margin-top: 12px;
}

@import "./components/likes-modal.scss";

@import "./components/article.scss";

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
    top: 70px !important;
}

@media screen and (max-width: $sm-size) {
    .v-select[dir=rtl] .vs__actions {
        padding: 0;
    }

    .vs__open-indicator i {
        font-size: 16px;
    }

    .datepicker-list .vs__actions {
        min-height: 24px;
    }

    .editItem {
        font-size: 12px;

        .input {
            width: 100% !important;
        }

        .v-select {
            width: 100% !important;
        }
    }

}

.signup-save-btn {
    padding: 8px 16px;
}

@media screen and (min-width: $sm-size) {
    .modal-signup {
        padding: 24px;
    }

    .ephone-input-group {
        padding-top: 24px;
        padding-bottom: 16px;

        .btn,
        input {
            height: 40px;
        }

        input {
            margin-right: 36px !important;
        }
    }
}


.form-control::-webkit-input-placeholder {
    color: $icons;
}

.form-control::-moz-placeholder {
    color: $icons;
}

.form-control::-ms-input-placeholder {
    color: $icons;
}

.form-control::-ms-input-placeholder {
    color: $icons;
}

.form-control:-ms-input-placeholder {
    color: $icons;
}

.form-control::placeholder {
    color: $icons;
}

.base-layout {
    margin-top: 24px;
}

#usermenu-show {
    padding-right: 4px;
}

#usermenu-show:hover {
    background: #EEE;
}

.border {
    border: 2px solid #e0e0e0 !important;
}

.mention-item {
    padding: 4px 10px;
    border-radius: 0;
}

.mention-selected {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: $white;
    background: $action;
}

.popover.open {
    border-radius: 0;
    background: $dark;
    opacity: 1 !important;
}

.popover .wrapper {
    border-radius: 0;
}

@import "./components/profile-steps.scss";

.done-precent {
    background: #0898df;
    position: absolute;
    right: 0;
    top: 5px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 15px 0 0 15px;
}

.page-cover-info-card img {
    min-height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
}

.dialog-layout-modal-body {
    padding: 0;

    .modal-footer {
        border: 0;
    }
}

.flip-list-move {
    transition: transform 0.5s;
}

@import "./pages/chats.scss";
@import "./components/chat-widget.scss";
@import "./components/textarea-content.scss";
@import "./components/editor/editor.scss";

@import "./components/feedback/card.scss";
@import "./components/feedback/label.scss";

@import "./components/donation/donation-item.scss";
@import "./components/donation/payment-gateways.scss";

@import "./components/add-category-modal.scss";
@import "./components/switch.scss";
@import "./components/text-inputs.scss";

@import "./components/donate-modal.scss";
@import "./pages/invite-links.scss";
@import "./components/register/index.scss";
@import "./pages/register.scss";
@import "./components/emoji-picker.scss";
@import "./components/tags.scss";
@import "./components/about-me/index.scss";
@import "./components//add-category-modal.scss";

.connections-tab {
    ul {
        margin-bottom: 0;
    }
}