@import "variables";
@import '~bootstrap-v4-rtl';
@import '~bootstrap-vue';

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: $body-bg;
    text-align: right;
}

@import "fonts";

.border-bottom {
    border-bottom: 1px solid #dedede !important;
}

@import "./components/header/header";
@import "./components/input-group-icon";
@import "./layout-system";

@import "./pages/landing";
@import "./components/buttons";
@import "./components/tabs";
@import "vue-select/src/scss/vue-select.scss";

a:hover {
    text-decoration: none;
}

.opacity-0 {
    opacity: 0 !important;
}

p {
    text-align: right;
}

.clickable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;

    /* Konqueror HTML */
    -moz-user-select: none;

    /* Old versions of Firefox */
    -ms-user-select: none;
    cursor: pointer;

    /* Internet Explorer/Edge */
    user-select: none;

    /* Non-prefixed version, currently     supported by Chrome, Opera and Firefox */

    &:hover {
        cursor: pointer;
        -webkit-touch-callout: none;

        /* iOS Safari */
        -webkit-user-select: none;

        /* Safari */
        -khtml-user-select: none;

        /* Konqueror HTML */
        -moz-user-select: none;

        /* Old versions of Firefox */
        -ms-user-select: none;

        /* Internet Explorer/Edge */
        user-select: none;

        /* Non-prefixed version, currently
         supported by Chrome, Opera and Firefox */
    }
}

i {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

    /* Non-prefixed version, currently     supported by Chrome, Opera and Firefox */
}

img {
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;

    /* Old versions of Firefox */
    -ms-user-select: none;

    /* Internet Explorer/Edge */
    user-select: none;

}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.text-muted {
    color: $grey !important;
}


.text-grey {
    color: $grey;
}

.text-light {
    color: $light;
}

.text-black {
    color: #000019;
}

.logo-sm {
    height: 30px;
    width: 30px;
}


.logodesktop {
    margin-bottom: 1px;
    min-width: 80px;
    max-width: 80px;
    display: flex;
}

.searchfield {
    min-width: 330px;
}

@import "./components/form-control";
@import "./components/TProgress";

.container {
    max-width: 1580px !important;
}

.profileimage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: contain;
}

.text-action {
    color: #0898df !important;
}

.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}

.modal-header .close {
    padding: 0;
    margin: 0;
}

.b-sidebar-backdrop {
    opacity: 0.4;
}

.vue-switcher input {
    display: none;
}

#app {
    max-width: 1295px;
    margin: auto;
    min-height: calc(100vh - 80px);

    .sidebar-left {
        padding-left: 0.9rem;
    }


    .sidebar-right {
        padding-right: 0.9rem;
    }

    .content-container-full {
        padding-left: 30px;
    }

    @media screen and (min-width: 991px) {
        .content-container-full {
            max-width: 78.4%;
            flex: 78.4%;
        }

        .sidebar-right {
            max-width: 21.6%;
            flex: 21.6%;
        }


        .content-container {
            max-width: 49.1%;
            flex: 49.1%;
        }

        .sidebar-left {
            max-width: 29.3%;
            flex: 29.3%;
        }
    }
}

.card,
.idea-card {
    border: none;
    border-radius: 0 !important;
    box-shadow: 0 1rem 40px rgba(0, 0, 0, .02);
}

@import "components/people-suggestion.scss";

.verificationcheck {
    @extend .material-icons;
    color: $action;
    margin-left: 1px;
    @extend .font-14;
}

.userinfo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.userinfo-card {
    .profile-image {
        margin-top: -24%;
        position: relative;
    }

    .image__wrapper {
        width: 80px;
        height: 80px;
        margin-top: -190px;

        img {
            border-radius: 50%;
        }
    }
}

.profile {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.profile-md {
    border-radius: 50%;
    height: 46px;
    width: 46px;
}


.profile-sm {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.hover-danger:hover {
    color: #ff0000 !important;
}

.hover-dark {
    transition: 0.3s all;
}

.hover-dark:hover {
    color: $dark !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.image__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &.loaded {
        .image__spinner {
            display: none;
        }

        .image__item {
            opacity: 1;
        }
    }

    .image__spinner {
        position: absolute;
    }

    .image__item {
        transition: 0.3s all;
        opacity: 0;
    }
}

@import "./components/loading-spinner";

@import "./components/post-card";

pre {
    direction: rtl;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    font-family: dana,PT Sans;
    letter-spacing: 0 !important;
    overflow: hidden;
    line-break: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@import "./components/dropdown-menu";

@import "./components/new-post-modal";