a {
    color: $text-color;
}

.border-bottom {
    border-bottom: 1px solid #dedede !important;
}

:root {
    font-size: $root-size;
    scroll-behavior: smooth;

    @media screen and (max-width: $sm-size) {
        font-size: $root-size-mobile;
    }
}

::-moz-selection {
    color: $dark;
    background: #E0E0E0;
}

::selection {
    color: $dark;
    background: #E0E0E0;
}

.form-control {
    border-width: 2px;
}


input {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.75rem;
}

p {
    color: $text-color;
}


button:focus {
    outline: 1px dotted;
    outline: none;
}

body {
    direction: $direction;
    margin: 0;
    padding: 0;
    background-color: $gray-100;
    text-align: start;
    font-size: 1rem;
    color: $text-color;
}



.bookmark-icon {
    transform: translateY(-1px);
}

.sticky-aside {
    position: -webkit-sticky;
    position: sticky;
    top: 92px;
}

.form-control,
.modal-dialog {
    border-radius: 0;
}

.bg-body {
    background-color: $body-bg !important;
}

.progress {
    height: 0.3rem;
    border-radius: 0;
}



.tdc-radio {
    display: block;
    position: relative;
    height: 14px;
    width: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tdc-radio {
    input.tdc-radio_input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .tdc-radio_checkmark {
        transition: 0.3s all;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        #{$start}: 0;
        height: 14px;
        width: 14px;
        background-color: transparent;
        border: 2px solid $gray-500;
        border-radius: 50%;
    }

    input.tdc-radio_input:hover~.tdc-radio_checkmark {
        border-color: $text-color;
    }

    input.tdc-radio_input:checked~.tdc-radio_checkmark {
        border-color: $text-color;
    }

    input.tdc-radio_input:checked~.tdc-radio_checkmark:after {
        content: "";
        height: 6px;
        width: 6px;
        background: $text-color;
        border-radius: 50%;
    }
}

.b-sidebar {
    background: $body-bg !important;
    width: 240px;

    .b-sidebar-item {
        padding: 14px 16px !important;
        font-size: 0.86rem;
        color: $gray-500;
    }

    .b-sidebar-item:hover {
        background-color: #EEE;
    }
}


.ghost {
    opacity: 0;
}

.clickable {
    cursor: pointer;
}

ul {
    list-style: none;
}

.flip-list-move {
    transition: transform 1s;
}

a:hover {
    text-decoration: none;
}

.opacity-0 {
    opacity: 0 !important;
}

p {
    text-align: start;
}

.clickable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;

    /* Konqueror HTML */
    -moz-user-select: none;

    /* Old versions of Firefox */
    -ms-user-select: none;
    cursor: pointer;

    /* Internet Explorer/Edge */
    user-select: none;

    /* Non-prefixed version, currently     supported by Chrome, Opera and Firefox */

    &:hover {
        cursor: pointer;
        -webkit-touch-callout: none;

        /* iOS Safari */
        -webkit-user-select: none;

        /* Safari */

        /* Konqueror HTML */
        -moz-user-select: none;

        /* Old versions of Firefox */
        -ms-user-select: none;

        /* Internet Explorer/Edge */
        user-select: none;

        /* Non-prefixed version, currently
         supported by Chrome, Opera and Firefox */
    }
}

i {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;

    /* Non-prefixed version, currently     supported by Chrome, Opera and Firefox */
}

img {
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;

    /* Old versions of Firefox */
    -ms-user-select: none;

    /* Internet Explorer/Edge */
    user-select: none;
    max-width: 100%;

}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.text-muted {
    color: $gray-500 !important;
}

.text-superlight {
    color: $light !important;
}

.text-grey {
    color: $gray-500;
}

.text-light {
    color: $light;
}

.text-black {
    color: #000019;
}


.logodesktop {
    margin-bottom: 1px;
    min-width: 94px;
    max-width: 94px;
    display: flex;
}

.profileimage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: contain;
}

.text-action {
    color: $blue-cta !important;
}

.slide-enter-active {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
    max-height: 200px;
    will-change: max-height;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}

.b-sidebar-backdrop {
    opacity: 0.4;
}

.vue-switcher input {
    display: none;
}


.card,
.feedback-card {
    border: none;
    border-radius: 0 !important;
    box-shadow: 0 1rem 40px rgba(0, 0, 0, .02);
}



.new-post--placeholder {
    font-size: 0.875rem;
    color: $gray-500;
}

.new-post--action {
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 0.875rem;
    color: $gray-500;
    display: flex;
    border-radius: 12px;
    transition: 0.3s all;
    font-size: $text-xsm;

    @media screen and(min-width: $sm-size) {
        padding: 4px 16px;

        &:not(.disabled):hover {
            background: #EEE;
            color: $gray-500;
        }
    }

    i {
        font-size: 1.25rem;
        margin-#{$end}: 0.25rem;

        &:not(.disabled) {
            color: $gray-500;
        }

    }

    &.disabled:hover,
    &.disabled:hover i,
    &.disabled i {
        color: #C8C8C8;
    }

}

.verificationcheck {
    @extend .material-icons;
    color: $blue-cta;
    margin-#{$end}: 1px;
    @extend .font-14;
}

.userinfo-card {
    @extend .card;
    padding-bottom: 1.5rem;

    small {
        font-size: $text-xxsm;
    }

    .card-img-top {
        margin-bottom: 1rem;

        img {
            height: 88px;
        }
    }

    .userinfo-card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1.5rem;

        .profile-content {
            display: flex;
            flex-direction: column;

            strong {
                font-weight: 600;
            }

            .image__wrapper {
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
                margin-top: -52px;
                margin-bottom: map-get($spacings, 2);


                img {
                    border: 5px solid $white;
                    border-radius: 50%;
                }
            }
        }

        .copyprofile-icon {
            color: $gray-500;
            font-size: $text-lg;
            border-radius: 6px;
            background-color: $gray-200;
            cursor: pointer;

            &:hover {
                color: $dark;
            }
        }
    }
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}

.rotateAnimation {
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}

.profile {
    border-radius: 50%;
    min-height: 64px;
    max-height: 64px;

    min-width: 64px;
    max-width: 64px;
}

.hover-danger:hover {
    color: #ff0000 !important;
    cursor: pointer;
}

.hover-dark {
    transition: 0.3s all;
}

.hover-dark:hover {
    color: $dark !important;
}


.toast-leave-active,
.toast-enter-active {
    transition: 1s all;
}

.toast-enter {
    transform: translateY(500px);
}

.toast-enter-to {
    transform: translateY(0);
}

.toast-leave {
    transform: translateX(0);
}

.toast-leave-to {
    transform: translateX(500px);
}

figure {
    margin: 0;
}

.image__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    &.loaded {
        .image__spinner {
            display: none !important;
        }

        .image__item {
            opacity: 1;
        }
    }

    &.error {
        .error_icon {
            display: block;
        }

        .image__item {
            opacity: 0;
        }
    }

    .error_icon {
        position: absolute;
        display: none;
    }

    .image__spinner {
        position: absolute;
    }

    .image__item {
        transition: 0.3s all;
        opacity: 0;
    }
}


pre {
    direction: rtl;
    unicode-bidi: -moz-plaintext;
    unicode-bidi: plaintext;
    font-family: Vazir,
        'Open Sans',
        sans-serif;
    letter-spacing: 0 !important;
    overflow: hidden;
    line-break: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


.flip-list-move {
    transition: transform 0.5s;
}


.shadow-0 {
    box-shadow: none !important;
}

.shadow {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.051) !important;
}

::-webkit-input-placeholder {
    color: rgba($color: $light, $alpha: 0.5);
}

::-moz-placeholder {
    color: rgba($color: $light, $alpha: 0.5);
}

:-ms-input-placeholder {
    color: rgba($color: $light, $alpha: 0.5);
}

::-ms-input-placeholder {
    color: rgba($color: $light, $alpha: 0.5);
}

::placeholder {
    color: rgba($color: $light, $alpha: 0.5);
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #EEE !important;
    opacity: 1;
}

@media screen and (min-width: $sm-size) {
    .about-me .card-body {
        padding: 2rem;
    }
}


.hand-hover {
    cursor: -webkit-grab;
    cursor: grab;
    transition: 0.3s all;
}

.hand-hover:hover {
    color: $dark;
}

.hand-hover:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


.slugItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    background-color: $body-bg;
    border-radius: 20px;
    color: $light;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;

    .icon {
        border-#{$start}: 1px solid;
        padding-#{$start}: 5px;
        margin-#{$start}: 5px;
    }
}

.splitor-line {
    height: 100%;
    width: 2px;
    background: $light;
    min-height: 10px;
}

.tooltip-inner {
    font-family: Vazir, 'Open Sans', sans-serif;
}

.action {
    flex: 1 1 auto;
}

.bg-light-blue {
    background: rgba(231, 242, 255, 1);
}

.modal-dialog {
    padding: 16px;
}



.badge-light {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: $text-color;
    background: $gray-200;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @if $direction==rtl {
        padding-top: 5px;
    }

    span {
        height: 14pt;
    }
}

.disabled {
    cursor: not-allowed !important;
    color: $light;
}

a:focus {
    outline: none !important;
}

:focus {
    outline: none !important;
}


.hover-dropdown:hover {
    background: $gray-200;
}

.person-name {
    font-weight: 600;
    font-size: 0.875rem
}

.badge-success {
    @extend .badge-light;
    border-radius: 8px;
    background-color: $green-light;
    color: $success;
    white-space: nowrap;
    width: auto;
    padding: 0.25rem 0.75rem;
    line-height: 1.5rem;

    @media screen and (max-width: $sm-size) {
        align-items: center;
        display: flex;
        padding: 6px 8px;
        font-size: $text-xxxsm;
        height: 1.5rem;
    }
}

.badge-danger {
    @extend .badge-light;
    border-radius: 8px;
    background-color: $red-light;
    color: $red;
    white-space: nowrap;
    width: auto;
    padding: 0.25rem 0.75rem;
    line-height: 1.5rem;

    @media screen and (max-width: $sm-size) {
        align-items: center;
        display: flex;
        padding: 6px 8px;
        font-size: $text-xxxsm;
        height: 1.5rem;
    }
}

.badge-blue {
    @extend .badge-light;
    border-radius: 8px;
    background-color: $blue-light;
    color: $blue-cta;
    white-space: nowrap;
    width: auto;
    padding: 0.25rem 0.75rem;
    height: 2rem;
    line-height: 1.5rem;

    @media screen and (max-width: $sm-size) {
        align-items: center;
        display: flex;
        padding: 6px 8px;
        font-size: $text-xxxsm;
        height: 1.5rem;
    }
}

.card-header {
    background-color: $white;
    border: 0;
}

.open-achievements {
    transition: 0.3s all;
}

.open-achievements.active {
    transform: rotate(180deg);
}


.invalid {
    border: 2px solid $danger !important;
}

@media (min-width: 576px) {
    .modal-md {
        max-width: 552px;
        margin: 1.75rem auto;
    }

    .modal-lang {
        max-width: 400px;
        margin: 1.75rem auto;
    }
}

.content-container .post-box {
    margin-bottom: 1rem;
}


.vs__open-indicator {
    @extend .material-icons;
}

.vs__actions {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.vs--single.vs--open .vs__selected {
    position: relative;
}

.vs__clear {
    display: none;
    color: #757575;
    z-index: -1;
}

.vs__clear>i {
    color: #757575;
    font-size: $text-lg;
}

.card-icon {
    display: flex !important;
    z-index: 1;
}

.modal-confirm {
    max-width: 340px;
}

.confirm-container {
    padding-top: 0.5rem;
    margin-bottom: -0.5rem;

    .text {
        margin-bottom: 2rem;
        font-size: 0.875rem;
    }

    @media screen and (max-width:$sm-size) {
        .text {
            font-size: 0.75rem;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .btn-ok {
            background: rgba(231, 243, 255, 0.7);
            border: none;
            color: $blue-cta;
        }

        .btn-cancel {
            background: transparent;
            border: none;
            color: $light;
        }
    }
}


.vue-switcher-theme--default.vue-switcher-color--default div {
    background-color: #757575 !important;
    border: 2px solid #757575;
}

.vue-switcher-theme--default.vue-switcher-color--default.vue-switcher--unchecked div {
    background-color: transparent !important;

}

.vue-switcher div {
    height: 18px !important;
    width: 36px !important;
    position: relative !important;
    border-radius: 30px !important;
    display: -ms-flex !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    cursor: pointer !important;
    transition: linear .2s, background-color linear .2s !important;
}

.vue-switcher-theme--default.vue-switcher-color--default div:after {
    background-color: #FFF !important;
}

.vue-switcher--unchecked div:after {
    #{$end}: 18px !important;
}

.vue-switcher-theme--default.vue-switcher-color--default.vue-switcher--unchecked div:after {
    background-color: $gray-500 !important;
}

.vue-switcher div:after {
    content: '' !important;
    height: 12px !important;
    width: 12px !important;
    #{$end}: 100%;
    margin-#{$end}: -14px !important;
    cursor: pointer !important;
    top: 1px !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
    background-color: $gray-500;
}


.new-post-body {
    padding: 1.5rem;

    figure.profile-sm {
        @if($direction==rtl) {
            margin: -2px 0 -2px 1rem;
        }

        @else {
            margin: -2px 1rem -2px 0;
        }
    }
}

.new-post-actions {
    margin-top: 0.75rem;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
    top: 70px !important;
}



@media screen and (max-width: $sm-size) {
    .v-select[dir=rtl] .vs__actions {
        padding: 0;
    }

    .vs__open-indicator i {
        font-size: $text-sm;
    }

    .datepicker-list .vs__actions {
        min-height: 1.5rem;
    }

    .editItem {
        font-size: $text-xxsm;

        .input {
            width: 100% !important;
        }

        .v-select {
            width: 100% !important;
        }
    }

}

.signup-save-btn {
    padding: 0.5rem 1.5rem;
}

.form-control::-webkit-input-placeholder {
    color: $gray-500;
    opacity: 0.5;
}

.form-control::-moz-placeholder {
    color: $gray-500;
    opacity: 0.5;
}

.form-control:-ms-input-placeholder {
    color: $gray-500;
    opacity: 0.5;
}

.form-control::-ms-input-placeholder {
    color: $gray-500;
    opacity: 0.5;
}

.form-control::placeholder {
    color: $gray-500;
    opacity: 0.5;
}

.base-layout {
    margin-top: map-get($spacings, 6) !important;
    padding-bottom: 300px;
    display: flex;

    --bs-gutter-x: map-get($spacings, 5);
    --bs-gutter-y: 0;
}

#usermenu-show {
    padding-#{$start}: map-get($spacings, 1);
}

#usermenu-show:hover {
    background: #EEE;
}

.border {
    border: 2px solid #e0e0e0 !important;
}

.mention-selected {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: $white;
    background: $blue-cta;
}

.popover.open {
    border-radius: 0;
    background: $dark;
    opacity: 1 !important;
}

.popover .wrapper {
    border-radius: 0;
}

.page-cover-info-card img {
    min-height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
}

.dialog-layout-modal-body {
    padding: 0;

    .modal-footer {
        border: 0;
    }
}

.flip-list-move {
    transition: transform 0.5s;
}


.connections-tab {
    ul {
        margin-bottom: 0;
    }
}