.no-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    color: #c8c8c8;
    padding: 15px 0;

    &::before {
        width: 100%;
        height: 1px;
        background: #c8c8c8;
        content: " ";
    }

    &::after {
        width: 100%;
        height: 1px;
        background: #c8c8c8;
        content: " ";
    }
}

.feedback-option-chnage {
    width: 100%;
    position: absolute;
}

.tribute-container {
    @extend .nice-scroll;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    white-space: nowrap;

    li {
        font-size: 10px;
        font-weight: 600;
        color: $text-color;
        padding: 10px 12px !important;
    }
}

.mention-item {
    color: $action;
    padding: 0;
}