a {
    text-decoration: none;
}

label {
    display: inline-block;
}

.font-demibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-bolder {
    font-weight: bolder;
}

.font-normal {
    font-weight: normal;
}

.vertical-middle {
    vertical-align: middle;
}

.font-weight-bold {
    font-weight: 700;
}


.font-weight-normal {
    font-weight: normal;
}


@each $scale,
$color in $gray-theme {
    .text-grey-#{$scale} {
        color: $color;
    }
}


@each $name,
$color in $theme-colors {
    .text-#{$name} {
        color: $color !important;
    }

    border-#{$name} {
        border-color: $color !important;
    }

    .bg-#{$name} {
        background-color: $color !important;
    }
}

.text-nowrap {
    white-space: nowrap;
}

.text-end {
    text-align: $end;
}

.text-start {
    text-align: $start;
}

.text-center {
    text-align: center !important;
}

@for $i from 1 through 50 {
    .line-height-#{$i}px {
        line-height: $i * 1px;
    }
}

@each $name,
$size in $font-sizes {
    .font-size-#{$name} {
        font-size: $size;
    }
}

@for $i from 1 through 36 {
    .text-letter-spacing-#{$i} {
        letter-spacing: $i * 1px;
    }
}


@for $i from 1 through 100 {
    .opacity-#{$i} {
        opacity: $i * 1%;
    }
}