.font-demibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-bolder {
    font-weight: bolder;
}

@each $scale,
$color in $gray-theme {
    .text-grey-#{$scale} {
        color: $color;
    }
}