.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 72px;
    z-index: 1000;
    transition: 0.3s all;

    .searchfield {
        margin-right: 12px;
    }
}

.useroptions-header {
    position: relative;
    padding-bottom: 14px;
    border-bottom: 2px solid $border-color;

    i {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.useroptions {
    .menu {
        padding: 12px 0;
        border-bottom: 2px solid #E0E0E0;
        margin-bottom: 0;
    }

    .langs {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid #E0E0E0;
        align-items: center;
        gap: 10px;
        padding: 16px 0;

        .lang-item {
            background: #EEEEEE;
            border-radius: 10px;
            display: flex;
            gap: 8px;
            padding-left: 8px;
            align-items: center;
            padding-right: 2px;

            span {
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }

    .list-item {
        padding: 12px 0;
        color: $icons;
        font-size: 12px;

        i {
            color: $icons;
            margin-left: 12px;
        }
    }
}

.unread {
    position: relative;
}

:not(.active) .unread::after {
    content: " ";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ff0076;
    bottom: 3px;
    left: 12px;
    border-radius: 50%;
}


.header {
    .container {
        overflow: hidden;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        max-width: 1580px;
        background: $body-bg;
        border-bottom: 2px solid $icons;
        transition: 0.3s all;
        width: 100%;
    }

    .toolbar {
        display: flex;
        align-items: center;
    }
}

.autocomplete-input {
    border-width: 2px;
}


.usermenu {
    position: fixed;
    display: none;
    top: 70px;
    min-width: 300px;
    left: 1rem;
    z-index: 1000;

    .card-header {
        padding: 24px;
        border-bottom: 2px solid #EEEEEE;

        .user-name {
            font-weight: 600;
            font-size: 16px;
            color: $dark;
        }

        .user-short-bio {
            font-size: 14px;
            margin-top: 8px;
            color: $grey;
        }
    }

    .userinfo {
        display: flex;
        flex-direction: column;
        margin-right: 12px;
        height: 44px;
        line-height: 1;
        justify-content: center;
    }
}

.usertoolbar:hover .usermenu {
    display: block;
}


.usertoolbar {
    display: flex;
    align-items: center;
    margin-right: 2px;

    .usertoolbar-container {
        padding: 16px 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        align-items: center;

        >i {
            margin-right: 6px;
        }
    }

    .user-username {
        line-height: 1;
        font-weight: 600;
        color: $grey;
        margin: 0 12px;

        display: flex;
        align-items: center;
        padding-top: 4px;
        height: 24px;
    }
}

.usermenu {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08) !important;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    margin-bottom: 0;

    >.list-group-item {
        padding: 16px 24px;
        border-color: #EEEEEE;
        border-width: 2px;
        cursor: pointer;
        &:hover {
            background: $body-bg;
        }

        a {
            color: $grey;

            i {
                margin-left: 12px;
            }
        }
    }
}

@import "./toolbar";