.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 72px;
    z-index: 1040;
    transition: 0.3s all;
    background: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: blur(90px);
    backdrop-filter: blur(90px);

    .searchfield {
        margin-#{$start}: 1.5rem;

        @media screen and (max-width: $sm-size) {
            margin-#{$start}: 16px;
            margin-#{$end}: 8px;
            justify-content: flex-end;
        }
    }

    @media screen and (max-width: $sm-size) {
        padding: 0 16px;

        .beta-badge {
            display: none;
        }
    }

}

.useroptions-header {
    position: relative;
    padding-bottom: 14px;
    border-bottom: 2px solid $gray-300;

    i {
        position: absolute;
        top: 0;
        #{$end}: 0;
    }
}

.useroptions {
    .menu {
        padding: 12px 0;
        border-bottom: 2px solid #E0E0E0;
        margin-bottom: 0;
    }

    .langs {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid #E0E0E0;
        align-items: center;
        gap: 10px;
        padding: 10px 0;

        .lang-item {
            border-radius: 10px;
            display: flex;
            gap: 8px;
            padding: 0 8px;
            align-items: center;

            .emoji {
                height: 20px;
                width: 20px;
            }

            &.active {
                background: $gray-200;
            }

            span {
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }

    .list-item {
        padding: 12px 0;
        color: $light;
        font-size: $text-xxsm;

        i {
            color: $light;
            margin-#{$end}: 12px;
        }
    }
}

.unread {
    position: relative;
}

:not(.active) .unread::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid $body-bg;
    background: $red;
    bottom: 2px;
    #{$start}: 0px;
    border-radius: 4px;
    box-sizing: border-box;
}


.header {
    .container {
        overflow: hidden;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        max-width: 1140px;
        transition: 0.3s all;
        width: 100%;
    }

    .toolbar {
        display: flex;
        align-items: center;
    }
}

.autocomplete-input {
    border-width: 2px;
}


.usermenu {
    position: fixed;
    display: none;
    top: 64px;
    min-width: 300px;
    max-width: 300px;
    z-index: 1000;

    .card-header {
        padding: 1.5rem;
        position: relative;

        &::after {
            content: " ";
            position: absolute;
            background: $gray-200;
            height: 2px;
            width: calc(100% - 48px);
            #{$end}: 1.5rem;
            #{$start}: 1.5rem;
            bottom: 0;
        }


        .user-name {
            font-weight: 600;
            font-size: $text-sm;
            color: $dark;
        }

        .user-short-bio {
            font-size: $text-xsm;
            margin-top: 8px;
            color: $gray-500;
        }
    }

    .list-group-item:last-child {
        position: relative;
        border: 0;

        &::after {
            content: " ";
            position: absolute;
            background: $gray-200;
            height: 2px;
            width: calc(100% - 48px);
            #{$end}: 1.5rem;
            #{$start}: 1.5rem;
            top: 0;
        }
    }

    .userinfo {
        display: flex;
        flex-direction: column;
        margin-#{$start}: 12px;
        height: 2.75rem;
        line-height: 1;
        justify-content: center;
    }
}

.beta-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-#{$start}: 1.5rem;
    font-size: $text-xxsm;
}

.usertoolbar:hover .usermenu {
    display: block;
}


.usertoolbar {
    display: flex;
    align-items: center;
    margin-#{$start}: 2px;

    .usertoolbar-container {
        padding: 16px 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        align-items: center;
        padding: 12px;

        &.active {
            background: rgba($color: $gray-200, $alpha: 0.85);
        }

        .profile-image-container {
            transition: 0.3s all;
        }

        .profile-image-container.active {
            border: 3px solid $dark;
            box-sizing: content-box;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            transform: scale(0.75);
        }

        @if $direction==ltr {
            flex-direction: row-reverse;
        }

    }

    .user-username {
        line-height: 1;
        font-weight: 600;
        color: $dark;
        margin: 0 12px;
        line-height: 32px;

        display: flex;
        align-items: center;
        height: 32px;
        font-family: 'Open Sans';

        @if $direction==ltr {
            margin-#{$end}: 0;
        }
    }

    @if $direction==ltr {
        padding-#{$start}: 16px;
    }
}

.usermenu {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08) !important;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-#{$start}: 0;
    margin-bottom: 0;

    >.list-group-item {
        padding: 16px 1.5rem;
        border-color: #EEEEEE;
        border-width: 2px;
        cursor: pointer;

        &:hover {
            background: $body-bg;
        }

        a,
        button {
            color: $gray-500;

            i {
                margin-#{$end}: 12px;
            }
        }

        &.hover-danger:hover {

            a,
            button {
                color: $red;

            }
        }
    }
}

@import "./toolbar";