.header-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    a {
        position: relative;
        float: right;
        color: $icons;
        text-align: center;
        padding: 0 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
        margin: 0.25rem;
        display: flex;
        flex-direction: column;

        .navheader-text {
            margin-top: -3px;
            white-space: nowrap;
            transition: 0.3s all;
            transform: scale(0);
            height: 0;
            width: 0;
        }

        .navheader-icon {
            font-family: "Material Icons Outlined";
            font-weight: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-smoothing: antialiased;
            vertical-align: middle;
            font-size: 20px;
            color: $icons;

            &.invite-link {
                transform: rotate(-15deg);
                color: $action;
            }
        }
    }

    a:hover {
        .navheader-icon {
            color: $icon-hover;
        }
    }

    a.active {
        .navheader-icon {
            font-family: "Material Icons";
            font-size: 24px;
            color: $icon-hover;
        }

        .navheader-text {
            font-size: 14px;
            transform: scale(1);
            height: auto;
            width: auto;
            color: $icon-hover;
        }
    }

    a::after {
        transition: all 0.3s;
        content: " ";
        height: 2px;
        background: $icon-hover;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        transform: scaleX(0) translateY(8px);
    }

    a.active::after {
        color: $icon-hover;
        width: 100%;
        transform: scaleX(1) translateY(-6px);
    }

    a:hover:not(.active)::after {
        transform: scaleX(1) translateY(8px);
    }
}